<!-- <div style="display: flex; justify-content: center;">
    <img src="../../../../assets/PRUEBAS/demo-video-arte-latte.gif" alt="Descripción del GIF"
        style="max-width: 96.25rem; max-height: 35.625rem; width: 100%; height: auto; margin: auto;">
</div> -->

<div class="d-flex flex-column justify-content-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="width: 350px;">
                <img src="../../../../assets/icons/Formacion-para-baristas.svg" alt="Arte Latte" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 4rem; font-weight: 700;">Taller Básico para Baristas</h1>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-calendar"></i> 1 día</p>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-clock"></i> 6 horas</p>
            </div>
        </div>
    </div>
</div>

<aside class="container">
    <!-- <p style="text-align: justify;">
        Descubre cómo transformar una taza de café en una experiencia verdaderamente excepcional. Nuestro curso de
        formación de baristas te llevará desde los fundamentos del espresso hasta las habilidades avanzadas de latte
        art, permitiéndote perfeccionar cada aspecto de la preparación de café. Nuestros instructores altamente
        capacitados te guiarán en este viaje, compartiendo su experiencia y conocimiento para convertirte en un barista
        excepcional. Al finalizar el curso, estarás listo para cautivar a tus clientes con café de calidad y
        presentaciones artísticas, marcando la diferencia en la industria del café.
    </p> -->
</aside>

<section class="container">
    <div class="m-t-5"><br>
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">¿Qué aprenderás?</h3><br>
        <ul class="list_style">
            <li>Sobre <b>distintos tipos de máquinas y molinos,</b> así como sus características.</li>
            <li><b>Definición de espresso</b> bajo estándares internacionales.</li>
            <li>Factores que determinan la <b>calidad del café.</b></li>
            <li><b>Uso correcto de equipos</b> &#40;calibración&#41; para llegar al objetivo deseado.</li>
            <li>
                <b>Técnicas correctas sobre la preparación de un Espresso</b>, el uso de accesorios y sobre el espumado
                y vertido de la leche.
            </li>
            <li><b>Limpieza y mantenimiento</b> preventivo de los equipos.</li>
        </ul>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Objetivo</h3>
        <p class="fs-5S">
            Mediante técnicas depuradas, aprenderás a utilizar correctamente la máquina de espresso
            y el molino para preparar bebidas bajo estándares internacionales.
        </p>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Temario </h3>
        <ul class="list_style">
            <li>Definición de Barista</li>
            <li>Definición de espresso (sca)</li>
            <li>Ratio</li>
            <li>Características del espresso</li>
            <li>Las 4 M's</li>
            <li>
                Café:
                <ul>
                    <li>Especies comerciales de café más comunes</li>
                    <li>Variedades</li>
                    <li>Procesos</li>
                    <li>Tueste</li>
                    <li>Calibración</li>
                    <li>Máquinas</li>
                    <li>Molinos</li>
                </ul>
            </li>
            <li>Subextracción y sobreextracción</li>
            <li>Identificación de sabores primarios en la lengua</li>
            <li>La leche y sus compuestos</li>
            <li>Técnicas de espumado y vertido</li>
            <li>Accesorios</li>
            <li>Limpieza y mantenimiento</li>
        </ul>

    </div>
    <div class="row" style="height: 2cm;"></div>
</section>
