<div class="row">
    <main class="col-lg-12 p-3 align-self-start">

        <!--Categoría Polvos-->
        <div class="container">
            <div id="polvos-presentacion" class="container">
                <div class="d-flex align-items-center">
                    <img src="../../../../assets/icons/polvos.webp" style="max-width: 4rem; max-height: 6rem;"
                        alt="Icono de Jarabes">
                    <h2 class="text-center mb-0 mr-3" style="font-size: 4vw; font-weight: 700;">Polvos
                    </h2>
                </div>

                <p style="text-align: justify;">Saborizados que<span style="font-weight: bold;"> ofrecen un buen
                        rendimiento,</span>
                    todas con una amplia variedad de sabores y presentaciones; útiles para la sencilla preparación de
                    <span style="font-weight: bold;">bebidas frías y calientes</span>(frappés, smoothies, lattes y
                    capuccinos).
                </p>
            </div><br>

            <!--Cards para ChillOut Mix-->
            <div class="container my-5" id="mixChillOut">
                <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                    <div class="col-lg-3 contenedor-logos" style="background-color: #F184C8;">
                        <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logo-mix.png">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        <span style="font-weight: bold;">Línea de polvos saborizada,
                            desarrollada en México y producida bajo procesos de altos estándares de calidad controlada.
                            Ofrece </span> diferentes sabores. Decoración para bebidas
                        como sodas, frappés, smoothies y postres. <span style="font-weight: bold;">gran variedad de
                            sabores </span>que brindan la posibilidad de experimentar y crear tus propias recetas.
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">25 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Presentación de 800 gr. Rinde aprox. 16 bebidas de 480 ml.
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Bote de 2 kg rinde aprox. 40 bebidas de 480 ml.
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Base cristal y sabor limón se venden en 1 kg y 2.5 kg.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of polvosChillOutMix"
                            style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                    alt="Imagen del insumo">
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                        <!-- Icono de flecha hacia la derecha -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Chill Out Just Fruit-->
            <div class="container">
                <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                    <div class="col-lg-3 contenedor-logos" style="background-color: #A941A0;">
                        <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logo-mix.png">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        <span style="font-weight: bold;">Es la mezcla</span>que combina una base en polvo con <span
                            style="font-weight: bold;">trozos de fruta </span>deshidratada o granos de café.
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">4 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Presentación de 2 kg.
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Presentación de 800 gr.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of polvosChillOutJustFruit"
                            style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                    alt="Imagen del insumo">
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                        <!-- Icono de flecha hacia la derecha -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Cards para Chill Out Active-->
            <div class="container">
                <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                    <div class="col-lg-3 contenedor-logos" style="background-color: #BBC244;">
                        <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logos-active.png">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        Polvos para <span style="font-weight: bold;">preparar bebidas,</span> las cuales están
                        compuestas por fruta deshidratada y especias,<span style="font-weight: bold;">sin azúcar.</span>
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">5 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Con cualidades que pueden favorecer la salud.
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Bote de 500 gr. rinde aprox. 27 bebidas de 300 ml.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of polvosChillOutActive"
                            style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                    alt="Imagen del insumo">
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                        <!-- Icono de flecha hacia la derecha -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Cards para David Río-->
            <div class="container">
                <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                    <div class="col-lg-3 contenedor-logos">
                        <img src="../../../../assets/LogosMarcas/Insumos/david-rio.png">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        Chai, David Río elaborado con<span style="font-weight: bold;">té, hierbas y especias</span> de
                        diferentes variedades. Tiene como objetivo el apoyar organizaciones que procuran el bienstar de
                        <span style="font-weight: bold;">animales en peligro de extinsión</span>
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">10 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Presentación de 1.814 kg, 1520 kg, 398 g, 456 g y 337 g
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Marca líder mundial en Chai.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of polvosDavidRio"
                            style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                    alt="Imagen del insumo">
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                        <!-- Icono de flecha hacia la derecha -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>