<div class="container">
    <div class="row">
        <aside class="col-lg-2 col-md-2" id="tisanas-presentation">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 father-logo">
                            <div class="icon-section">
                                <img src="../../../../assets/icons/polvos.webp" alt="Icono de Polvos" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-3 poppins-bold">Polvos</h1>
                        </div>

                        <div class="col-md-12">
                            <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="tisanasCafeEtruscaCheckbox"
                                            [(ngModel)]="hidesChillOutMix">
                                        <label class="form-check-label poppins-extralight"
                                            for="tisanasCafeEtruscaCheckbox"> ChillOut Mix
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosChillOutJustFruitCheckbox"
                                            [(ngModel)]="hidesChillOutJustFruit">
                                        <label class="form-check-label poppins-extralight" for="polvosChillOutJustFruitCheckbox">
                                            ChillOut Just Fruit </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosTeaZoneCheckbox"
                                        [(ngModel)]="hidesTeaZone">
                                        <label class="form-check-label poppins-extralight" for="polvosTeaZoneCheckbox">
                                            Tea Zone </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosAiyaCheckbox"
                                        [(ngModel)]="hidesAiya">
                                        <label class="form-check-label poppins-extralight" for="polvosAiyaCheckbox">
                                            Aiya </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosDonGustavoCheckbox"
                                        [(ngModel)]="hidesDonGustavo">
                                        <label class="form-check-label poppins-extralight" for="polvosDonGustavoCheckbox">
                                            Don Gustavo </label>
                                    </div>
                                </li>
    
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosDavidRioCheckbox"
                                        [(ngModel)]="hidesDavidRio">
                                        <label class="form-check-label poppins-extralight" for="polvosDavidRioCheckbox">
                                            David Río </label>
                                    </div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvoSuperBlendsCheckbox"
                                        [(ngModel)]="hidesSuperBlends">
                                        <label class="form-check-label poppins-extralight" for="polvoSuperBlendsCheckbox">
                                            Super Blend </label>
                                    </div>
                                </li> -->
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosMocafeCheckbox"
                                        [(ngModel)]="hidesMocafe">
                                        <label class="form-check-label poppins-extralight" for="polvosMocafeCheckbox">
                                            MoCafé </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosCoolCapCheckbox"
                                        [(ngModel)]="hidesCoolCap">
                                        <label class="form-check-label poppins-extralight" for="polvosCoolCapCheckbox">
                                            Cool Capp </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosCappuchineCheckbox"
                                        [(ngModel)]="hidesCappuccinee">
                                        <label class="form-check-label poppins-extralight" for="polvosCappuchineCheckbox">
                                            Cappuchine </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" id="polvosHollanderCheckbox"
                                        [(ngModel)]="hidesHollander">
                                        <label class="form-check-label poppins-extralight" for="polvosHollanderCheckbox">
                                            Hollander </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-12">
                            <hr>
                            <p class="p-3 poppins-light">
                                Saborizados que ofrecen un buen rendimiento, todos con una amplia variedad de sabores
                                y presentaciones; útiles para la sencilla preparación de bebidas frías (frappés,
                                smoothies)
                                y calientes (lattes y cappuchinos).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!--Categoría Polvos-->
        <main class="col-lg-10 my-2" id="todas-las-tisanas">
             <!--Cards para ChillOut Mix-->
             <div class="row my-4" id="chillOutMix" *ngIf="hidesChillOutMix">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: #F184C8;">
                        <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logo-mix.png" alt="Logo ChillOut Mix"
                            title="Logo ChillOut Mix" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">ChillOut Mix</h2>
                    <p class="px-3 poppins-light">
                        Línea de polvos saborizada, desarrollada en México y producida bajo procesos de altos estándares de calidad
                        controlada. Ofrece gran variedad de sabores que brindan la posibilidad de experimentar y crear tus propias recetas.
                    </p>
                    <span class="px-3 poppins-extralight">25 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 2 kg Rendimiento aprox. <br>40 bebidas de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Base cristal 2.5 kg Rendimiento aprox. <br>50 bebidas de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Base neutra sin azúcar 1.6 kg Rendimiento aprox. <br>53 bebidas de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 800 g Rendimiento aprox. <br>16 bebidas de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Base cristal 1 kg Rendimiento aprox. <br>20 bebidas de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Curcuma latte 250 g Rendimiento aprox. <br>50 bebidas de 480 ml (5 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorChillOutMix()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaChillOutMix">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-chilloutMIX"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteChillOutMix()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para Chill Out Just Fruit-->
             <div class="row my-4" id="chillOutJustFruit" *ngIf="hidesChillOutJustFruit">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: #A941A0;">
                        <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logo-mix.png" alt="Logo Just Fruit"
                            title="Logo Just Fruit" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">ChillOut Just Fruit</h2>
                    <p class="px-3 poppins-light">
                        Es la mezcla que combina una base en polvo con trozos de fruta deshidratada o granos de café.
                    </p>
                    <span class="px-3 poppins-extralight">4 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 2 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>40 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorChillOutJustFruit()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaChillOutJustFruit">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-CHILLOUT-JUSTFRUIT"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteChillOutJustFruit()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para Tea Zone -->
             <div class="row my-4" id="TeaZone" *ngIf="hidesTeaZone">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/TeaZone.webp" alt="Logo Tea Zone"
                            title="Logo Tea Zone" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Tea Zone power mix</h2>
                    <p class="px-3 poppins-light">
                        Premezcla para preparar bebidas sabor taro.
                    </p>
                    <!-- <span class="px-3 poppins-extralight">4 sabores disponibles.</span>   -->
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>20 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorTeaZone()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaTeaZone">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-tea-zone"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteTeaZone()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para AIYA--->
             <div class="row my-4" id="AIYA" *ngIf="hidesAiya">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/AIYA.png" alt="Logo AIYA"
                            title="Logo AIYA" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">AIYA</h2>
                    <!-- <p class="px-3 poppins-light">
                        Es la mezcla que combina una base en polvo con trozos de fruta deshidratada o granos de café.
                    </p> -->
                    <span class="px-3 poppins-extralight">2 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>33 bebidas frías y calientes de 480 ml (30 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorAiya()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaAiya">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-AIYA"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteAiya()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para Don Gustavo --->
             <div class="row my-4" id="don-Gustavo" *ngIf="hidesDonGustavo">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/don-Gustavo.png" alt="Logo Don Gustavo"
                            title="Logo Don Gustavo" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Don Gustavo</h2>
                    <p class="px-3 poppins-light">
                        Chocolate granulado para mesa gourmet.
                    </p>
                    <!-- <span class="px-3 poppins-extralight">2 sabores disponibles.</span>   -->
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 2.025 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>40 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorDonGustavo()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaDonGustavo">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-donGustavo"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteDonGustavo()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para David Río --->
             <div class="row my-4" id="david-rio" *ngIf="hidesDavidRio">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/david-rio.png" alt="Logo David Río"
                            title="Logo David Río" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">David Río</h2>
                    <p class="px-3 poppins-light">
                        Marca chai premium mundial, David Río elaborado con té, hierbas y especias de diversas variedades. Ofrecen un servicio al cliente 
                        significativo y socialmente responsable, contribuyendo a la conservación de especies en peligro de extinción.
                    </p>
                    <span class="px-3 poppins-extralight">10 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row text-center">
                        <div class="col-md-2 my-3">
                            <!-- <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.814 kg Rinde aprox. <br>36 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p> -->
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.814 kg Rinde aprox. <br>36 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.520 kg Rinde aprox. <br>30 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 398 g Rinde aprox. <br>8 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 456 g Rinde aprox. <br>9 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-2 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 337 g Rinde aprox. <br>6 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorDavidRio()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaDavidRio">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-david-rio"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteDavidRio()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

              <!--Cards para Mocafe --->
              <div class="row my-4" id="Mocafe" *ngIf="hidesMocafe">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/MoCafe.png" alt="Logo Mocafe"
                            title="Logo Mocafe" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Mocafe</h2>
                    <p class="px-3 poppins-light">
                        Las bases en polvo de Mocafé están diseñadas para simplificar la preparación de una variedad de bebidas frías y calientes.
                    </p>
                    <span class="px-3 poppins-extralight">24 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.360 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>27 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorMocafe()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaMocafe">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-mocafe"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteMocafe()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

              <!--Cards para Cool Capp --->
              <div class="row my-4" id="coolcapp" *ngIf="hidesCoolCap">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/Cool-Capp.webp" alt="Logo Cool Capp"
                            title="Logo Cool Capp" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold"> Cool Capp</h2>
                    <p class="px-3 poppins-light">
                        Marca especializada en ofrecer una variedad de bases en polvo para hacer deliciosas bebidas de café helado y frío de forma rápida
                        y sencilla.
                    </p>
                    <span class="px-3 poppins-extralight">13 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.580 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>31 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorCoolCapp()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaCoolCapp">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-cool-capp"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteCoolCapp()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para Cappuccine --->
             <div class="row my-4" id="Cappuccine" *ngIf="hidesCappuccinee">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/cappuchine-logo.jpg" alt="Logo Cappuccine"
                            title="Logo Cappuccine" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Cappuccine</h2>
                    <p class="px-3 poppins-light">
                        Premezcla para bebidas de rápida preparación.
                    </p>
                    <span class="px-3 poppins-extralight">16 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.360 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Rendimiento aproximado <br>27 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorCappuccinee()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaCappuccinee">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-cappuccine"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteCappuccinee()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>

             <!--Cards para Hollander --->
             <div class="row my-4" id="Hollander" *ngIf="hidesHollander">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/LogosMarcas/Insumos/hollander-brand.png" alt="Logo Hollander"
                            title="Logo Hollander" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Hollander</h2>
                    <p class="px-3 poppins-light">
                        Chocolate en polvo elaborado con cacaos holandeses, reconocios pioneros en el sector y con una tradición e innovación indiscutibles.
                        Fabricado en Estados Unidos para el barista y el café moderno, este producto permite preparar bebidass con un sabor inigualable a chocolate.
                    </p>
                    <span class="px-3 poppins-extralight">3 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.13 kg Rendimiento aproximado <br>22 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 0.68 kg Rendimiento aproximado  <br>13 bebidas frías y calientes de 480 ml (50 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorHollander()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaHollander">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-hollander"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteHollander()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
             </div>
        </main>
        
    </div>
</div>

