<div class="row">
    <aside class="col-lg-2 align-self-stretch">
        <br>
        <h5 class="text-center mb-3">Filtrar por Línea</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ChillOutPearlCheckbox"
                        [(ngModel)]="hideChillOutPearls">
                    <label class="form-check-label" for="ChillOutPearlCheckbox"> ChillOut Pearls</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ChillOutJellyCheckbox"
                        [(ngModel)]="hidesChillOutJelly">
                    <label class="form-check-label" for="ChillOutJellyCheckbox"> ChillOut Jelly </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ChillOutTapiocaCheckbox"
                        [(ngModel)]="hidesChillOutTapioca">
                    <label class="form-check-labelf" for="ChillOutTapiocaCheckbox"> ChillOut Tapioca </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="TeaZonePerlasCheckbox"
                        [(ngModel)]="hidesTeaZonePerlas">
                    <label class="form-check-label" for="TeaZonePerlasCheckbox"> Tea Zone Perlas</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="TeaZoneJellyCheckbox"
                        [(ngModel)]="hidesTeaZoneJelly">
                    <label class="form-check-label" for="TeaZoneJellyCheckbox"> Tea Zone Jelly</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="TeaZoneTapiocaCheckbox"
                        [(ngModel)]="hidesTeaZoneTapioca">
                    <label class="form-check-label" for="TeaZoneTapiocaCheckbox"> Tea Zone Tapioca</label>
                </div>
            </li>
        </ul>
    </aside>

    <main class="col-lg-9 align-self-start"><!-- Categoría Moleculares-->
        <div class="container">
            <div id="moleculares-presentacion" class="container">
                <div class="d-flex align-items-center justify-content-center my-5">
                    <h1 class="text-center mb-0 mr-3 title">Moleculares</h1>
                </div>
            </div>

            <div class="container d-flex flex-wrap align-items-center justify-content-center my-2">
                <p class="text-center subtitle">Explora las diferentes líneas de Moleculares que tenemos para ti:</p>
            </div>
        </div>


        <!--Cards para ChillOut Pearls-->
        <div class="container my-5" id="pearlsChillOut" *ngIf="hideChillOutPearls">
            <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                <div class="col-lg-3 contenedor-logos" style="background-color: #70BDDD;">
                    <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logos-pearls.png">
                </div>

                <p class="p-3"
                    style="text-align: justify; background-color: #EBFFFE; border-left: 4px solid #A8DFF3; width: 600px; height: auto;">
                    <span style="font-weight: bold;">Perlas con
                        una cubierta gelatinosa y relleno líquido</span> diferentes sabores. Decoración para bebidas
                    como sodas, frappés, smoothies y postres.
                </p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #EBFFFE; border-left: 4px solid #A8DFF3;">
                            <span style="font-weight: bold;">13 sabores disponibles</span>
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #EBFFFE; border-left: 4px solid #A8DFF3;">
                            Bolsa de 3.4kg.
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #EBFFFE; border-left: 4px solid #A8DFF3;">
                            Rinde aprox. 113 bebidas de 480ml.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container" style="height: 450px;">
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of chillOutPearls"
                            style="height: 550px !important; width: 250px !important;">
                            <div class="card" style="height: 500px !important;">
                                <div class="card-header d flex align-self-end" style="background-color: #E91D74;">
                                    <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce" style="color: white;"
                                        target="_blank" title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                            class="fas fa-shopping-cart"></i></a>
                                </div>

                                <img class="card-img-top" id="botella-PureBlend"
                                    [src]="sanitizeUrl(insumo.urlArticleFirst)" alt="{{insumo.name}}"
                                    title="{{insumo.name}}">
                                <div class="card-body">
                                    <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                    <p>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                    <p></p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="/donde-encontranos" style="color: black;"> Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div>

        <!--Cards para Jelly Chillout-->
        <div class="container my-5" id="jellyChillOut" *ngIf="hidesChillOutJelly">
            <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                <div class="col-lg-3 contenedor-logos" style=" background-color: #F29CB9;">
                    <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logos-JELLY.png">
                </div>

                <p class="p-3"
                    style="text-align: justify; background-color: #FAE9F9; border-left: 4px solid #EBD2E8; width: 600px; height: auto;">
                    Los jellies más saludables del mercado, están <span style="font-weight: bold;">compuestos
                        en un 70% de 4 pulpa de coco.</span> Garantizan sabor constante en cada cucharada, además
                    tiene
                    precio competitivo comparado con su rendimiento.</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #FAE9F9; border-left: 4px solid #EBD2E8;">
                            <span style="font-weight: bold;">10 sabores disponibles</span>
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #FAE9F9; border-left: 4px solid #EBD2E8;">
                            Presentación botella de 3.4 kg.
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center" style="background-color: #FAE9F9; border-left: 4px solid #EBD2E8;">
                            Rinde 85 bebidas de 480 ml.
                        </p>
                    </div>
                </div>
            </div>

            <div style="height: 700px;">
                <div class="scroll-horizontal-container my-5">
                    <div class="row">
                        <div *ngFor="let insumo of chillOutJelly"
                            style="height: 650px !important; width: 250px !important;">
                            <div class="card">
                                <div class="card-header d flex align-self-end" style="background-color: #E91D74;">
                                    <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                        title="Comprar en e-commerce el producto {{insumo.name}}" style="color: white;"
                                        target="_blank"><i class="fas fa-shopping-cart"></i></a>
                                </div>

                                <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                    alt="Imagen del insumo" alt="{{insumo.name}}" title="{{insumo.name}}">
                                <div class="card-body">
                                    <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                    <p>
                                    <p class="card-text"> {{ insumo.name }}</p>
                                    <p class="d-none card-text">{{ insumo.description }}</p>
                                    <p></p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <a routerLink="/donde-encontranos" style="color: black;"> Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div>

        <!-- Cards para Tapioca ChillOut-->
        <div class="container my-5" id="tapiocaChillOut" *ngIf="hidesChillOutTapioca">
            <div class="container d-flex flex-wrap justify-content-around align-items-right my-4">
                <div class="col-lg-3 contenedor-logos" style=" background-color: #F29CB9;">
                    <img src="../../../../assets/LogosMarcas/Insumos/Chillout_logos-02.png">
                </div>

                <p class="p-3"
                    style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                    <span style="font-weight: bold;">Esferas de fécula de
                        tapioca </span>de fácil
                    cocción y manejo; una vez cocidas adquieren una textura gelatinosa, se pueden saborizar con
                    azúcar o jarabes. Empacadas al vació para inhibir el desarrollo de bacterias.
                    Un complemento para quienes disfrutan las dobles texturas en las bebidas.
                </p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            <span style="font-weight: bold;">Presentación de 3kg</span>
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Presentación de 1 kg.
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Rinde aprox. 150 cucharadas de 20g.
                        </p>
                    </div>
                </div>
            </div>

            <div class="scroll-horizontal-container my-5">
                <div class="row">
                    <div *ngFor="let insumo of chillOutTapioca"
                        style="height: 500px !important; width: 250px !important;">
                        <div class="card">
                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                alt="Imagen del insumo">
                            <div class="card-body">
                                <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                <p class="card-text"> {{ insumo.name }}</p>
                                <p class="d-none card-text">{{ insumo.description }}</p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="#" style="color: black;"> Ver más
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                    <!-- Icono de flecha hacia la derecha -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div>

        <!--Cards para Tea Zone Perlas-->
        <div class="container my-5" id="perlasTeaZone" *ngIf="hidesTeaZonePerlas">
            <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
                <div class="col-lg-3 contenedor-logos">
                    <img src="../../../../assets/LogosMarcas/Insumos/TeaZone.webp">
                </div>

                <p class="p-3"
                    style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                    <span style="font-weight: bold;">Esferas con cubierta
                        gelatinosa y relleno líquido.</span>>Ideales para sodas italianas, frappés y smoothies.
                </p>
            </div>

            <h3>Perlas explosivas</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            <span style="font-weight: bold;">10 sabores disponibles</span>
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Bote de 3.2 kg.
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Rinde aprox. 80 bebidas de 480 ml.
                        </p>
                    </div>
                </div>
            </div>

            <div class="scroll-horizontal-container my-5">
                <div class="row">
                    <div *ngFor="let insumo of teaZonePerlas"
                        style="height: 500px !important; width: 250px !important;">
                        <div class="card">
                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                alt="Imagen del insumo">
                            <div class="card-body">
                                <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                <p class="card-text"> {{ insumo.name }}</p>
                                <p class="d-none card-text">{{ insumo.description }}</p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="#" style="color: black;"> Ver más
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                    <!-- Icono de flecha hacia la derecha -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div>

        <!--Cards para Jalea/Jelly TeaZone-->
        <div class="container my-5" id="perlasTeaZone" *ngIf="hidesTeaZoneJelly">
            <div class="container d-flex flex-wrap justify-content-around align-items-right my-4">
                <div class="col-lg-3 contenedor-logos">
                    <img src="../../../../assets/LogosMarcas/Insumos/TeaZone.webp">
                </div>

                <p class="p-3"
                    style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                    <span style="font-weight: bold;">Agregan sabor, dulzura,
                        color y textura a las bebidas. </span>Se pueden utilizar con tés, tisanas o decoración de
                    smoothies. Útil para dar un toque diferente a la bebidas clásicas de cafetería.
                </p>
            </div>

            <h3>Jelly</h3>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            <span style="font-weight: bold;">Disponible </span>
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Botella de 3.2kg
                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p class="p-3 text-center"
                            style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                            Rinde aprox. 80 bebidas de 480 ml.
                        </p>
                    </div>
                </div>
            </div>

            <div class="scroll-horizontal-container my-5">
                <div class="row">
                    <div *ngFor="let insumo of teaZoneJelly" style="height: 500px !important; width: 250px !important;">
                        <div class="card">
                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                alt="Imagen del insumo">
                            <div class="card-body">
                                <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                <p class="card-text"> {{ insumo.name }}</p>
                                <p class="d-none card-text">{{ insumo.description }}</p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="#" style="color: black;"> Ver más
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                    <!-- Icono de flecha hacia la derecha -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div><br>

        <!--Cards para Tea Zone Tapioca-->
        <div class="container my-5" id="perlasTeaZone" *ngIf="hidesTeaZoneTapioca">
            <div class="row my-5">
                <div class="container d-flex flex-wrap justify-content-around align-items-right my-4">
                    <img src="../../../../assets/LogosMarcas/Insumos/TeaZone.webp">
                </div>

                <p class="col-lg-9" style="text-align: justify;"><b style="color: #70BDDD;">Esferas de fécula de
                        tapioca.</b>
                    Deja volar tu imaginación y crea combinaciones con las perlas de tapioca en tus bebidas, se
                    pueden <b>combinar con sabores frutales
                        y también con café y té.
                    </b></p>
            </div>
            <div class="scroll-horizontal-container my-5">
                <div class="row">
                    <div *ngFor="let insumo of teaZoneTapioca"
                        style="height: 500px !important; width: 250px !important;">
                        <div class="card">
                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                alt="Imagen del insumo">
                            <div class="card-body">
                                <h5 class="card-title my-2" style="font-weight: 700;">{{ insumo.keySap }}</h5>
                                <p class="card-text"> {{ insumo.name }}</p>
                                <p class="d-none card-text">{{ insumo.description }}</p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="#" style="color: black;"> Ver más
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                    <!-- Icono de flecha hacia la derecha -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 2cm;"></div>
        </div>
    </main>
</div>