<div class="container">
    <div class="row">
        <aside class="col-lg-2 col-md-2">
            <div class="row">
                <div class="col-md-12" id="tesYTisanas-presentacion">
                    <div class="row">
                        <div class="col-md-12 father-logo">
                            <div class="icon-section">
                                <img src="../../../../assets/icons/moleculares.webp" alt="Icono de Bubble Tea"
                                    title="Icono de Bubble Tea" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-3 poppins-bold">Bubble Tea</h1>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="chillOutPearlsCheckbox"
                                    [(ngModel)]="hideChillOutPearls">
                                <label class="form-check-label poppins-extralight" for="chillOutPearlsCheckbox">
                                    ChillOut Pearls
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="teaZonePerlasCheckbox"
                                    [(ngModel)]="hidesTeaZonePerlas">
                                <label class="form-check-label poppins-extralight" for="teaZonePerlasCheckbox"> Tea Zone
                                    Perlas </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="chilloutJellyCheckbox"
                                    [(ngModel)]="hidesChillOutJelly">
                                <label class="form-check-label poppins-extralight" for="chilloutJellyCheckbox"> ChillOut
                                    Jelly </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="teaZoneJaleaCheckbox"
                                    [(ngModel)]="hidesTeaZoneJelly">
                                <label class="form-check-label poppins-extralight" for="teaZoneJaleaCheckbox"> Tea Zone
                                    Jalea </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="chillOutTapiocaCheckbox"
                                    [(ngModel)]="hidesChillOutTapioca">
                                <label class="form-check-label poppins-extralight" for="chillOutTapiocaCheckbox">
                                    ChillOut Tapioca </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="teaZoneTapiocaCheckbox"
                                [(ngModel)]="hidesTeaZoneTapioca">
                                <label class="form-check-label poppins-extralight" for="teaZoneTapiocaCheckbox">Tea Zone
                                    Tapioca </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="chillOutCrystalBobaCheckbox">
                                <label class="form-check-label poppins-extralight" for="chillOutCrystalBobaCheckbox">
                                    ChillOut Crystal Boba </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="chillOutToppingsCheckbox">
                                <label class="form-check-label poppins-extralight" for="chillOutToppingsCheckbox">
                                    ChillOut Toppings </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <hr>
                    <p class="p-3 poppins-light">
                        Ofrece a tus clientes una experiencia innovadora al complementar tus bebidas con texturas,
                        sabores, y presentaciones
                        fuera de lo común. Combina elementos líquidos y sólidos, utilizándolos tanto como base o como
                        topping. Disponemos
                        de diversas opciones con distintos sabores y colores, permitiéndote crear combinaciones que no
                        solo realzan el sabor,
                        sino que también aportan un toque visual distintivo.
                    </p>
                </div>
            </div>

        </aside>

        <!-- Categoría Bubble tea -->
        <main class="col-lg-10 my-2">
            <!--Cards para ChillOut Pearls-->
            <div class="row my-4" *ngIf="hideChillOutPearls">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: #70BDDD;">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Chillout_logos-pearls.png"
                            alt="ChillOut Pearls" title="ChillOut Pearls" title="Tisanas Café Etrusca"
                            class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">ChillOut Pearls</h2>
                    <p class="px-3 poppins-light">Perlas con cubierta gelatinosa y relleno líquido de diferentes
                        sabores. Decoración para bebidas como sodas, frappés, smoothies y postres para agregar
                        textura y color.
                    </p>
                    <span class="px-3 poppins-extralight">16 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 3.4 kg.</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>113 bebidas frías 480 ml
                                    (10 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorChillOutPearls()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaChillOutPearls">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-chillout-perls"></div>
                                    <img class="img my-2" id="chillout-perls"
                                        [src]="sanitizeUrl(insumo.urlArticleFirst + '?v=1.001')" alt="{{insumo.name}}"
                                        title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteChillOutPearls()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!--Cards para Tea Zone Perlas-->
            <div class="row my-4" *ngIf="hidesTeaZonePerlas">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/TeaZone.webp" alt="Tea Zone Pearls"
                            title="Tea Zone Pearls" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Tea Zone perlas explosivas</h2>
                    <p class="px-3 poppins-light">
                        Están rellenas de un líquido sabor a frutas. Son ideales para acompañar a una gran variedad
                        de bebidas tipo frappé, smoothie y sodas italianas, además se pueden utilizar para preparar
                        postres.
                    </p>
                    <span class="px-3 poppins-extralight">7 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 3.2 kg.</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>106 bebidas frías 480 ml
                                    (30 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorTeaZonePerlas()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaTeaZonePerlas">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-teaZone-perlas"></div>
                                    <img class="img my-2" id="teaZone-perls" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteTeaZonePerlas()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!--Cards para ChillOut Jelly-->
            <div class="row my-4" *ngIf="hidesChillOutJelly">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: #F29CB9;">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Chillout_logos-JELLY.png"
                            alt="ChillOut Jelly" title="ChillOut Jelly" title="Tisanas Café Etrusca" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">ChillOut Jelly</h2>
                    <p class="px-3 poppins-light">
                        Son pequeñas gelatinas que están compuetas en un 70% de pulpa de coco. Ideales para agregar un
                        doble sabor y textura. Las jellys
                        en forma de corazón y estrella, ambas compuestas de un 43% de pulpa de coco. Su forma distintiva
                        hace que las bebidas sean innovadoras
                        y con doble textura.
                    </p>
                    <span class="px-3 poppins-extralight">13 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 3.85 kg. <br> Rendimiento aproximado:
                                    <br>128 bebidas frías 480 ml (30 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Presentación: 1 kg. <br> Rendimiento aproximado: <br>33
                                    bebidas frías 480 ml (30 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorChillOutJelly()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaChillOutJelly">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-chillout-jelly"></div>
                                    <img class="img my-2" id="chillout-jelly"
                                        [src]="sanitizeUrl(insumo.urlArticleFirst)" alt="{{insumo.name}}"
                                        title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteChillOutJelly()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para Tea Zone Jalea -->
            <div class="row my-4" *ngIf="hidesTeaZoneJelly">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/TeaZone.webp" alt="Tea Zone Jalea"
                            title="Tea Zone Jalea" title="Tisanas Café Etrusca" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Tea Zone trozos de jalea</h2>
                    <p class="px-3 poppins-light">
                        Son utilizados como complementos versátiles para una gran variedad de bebidas y postres. Se
                        utilizan para agregar
                        textura y un toque de dulzura a bebidas con frappés, tés con leche y cócteles.
                    </p>
                    <span class="px-3 poppins-extralight">7 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 4 kg.</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>133 bebidas frías 480 ml
                                    (30 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorTeaZoneJelly()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaTeaZoneJelly">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-chillout-jelly"></div>
                                    <img class="img my-2" id="TeaZoneJelly" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteTeaZoneJelly()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para ChillOut Tapioca -->
            <div class="row my-4" *ngIf="hidesChillOutTapioca">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: #e63398;">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Chillout_logos-02.png"
                            alt="ChillOut Tapioca" title="ChillOut Tapioca" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">ChillOut Tapioca</h2>
                    <p class="px-3 poppins-light">
                        Es uno de los ingredientes favoritos en la preparación de bubble tea. Estas perlas de tapioca
                        una vez cocidas adquieren una
                        textura gelatinosa, se pueden saborizar con azúcar o jarabes. Empacadas al vacío para inhibir el
                        desarrollo de bacterías. Un
                        complemento en bebidas a base de té, aportando una experiencia única y diferente al consumirlas.
                    </p>
                    <span class="px-3 poppins-extralight">3 presentaciones disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 3 kg.<br>
                                    Rendimiento aproximado: <br>100 bebidas frías 480 ml (30 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-4 my-3 card-center">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Presentación: 1 kg.<br>
                                    Rendimiento aproximado: <br>33 bebidas frías 480 ml (30 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-4 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Presentación: 1 l<br>
                                    Rendimiento aproximado: 13 bebidas frías 74 ml por 500 ml de agua</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorChillOutTapioca()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaChillOutTapioca">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-chillout-jelly"></div>
                                    <img class="img my-2" id="ChillOutTapioca"
                                        [src]="sanitizeUrl(insumo.urlArticleFirst)" alt="{{insumo.name}}"
                                        title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteChillOutTapioca()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para Tea Zone Tapioca -->
            <div class="row my-4" *ngIf="hidesTeaZoneTapioca">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/TeaZone.webp" alt="Tea Zone Jalea"
                            title="Tea Zone Jalea" title="Tisanas Café Etrusca" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Tea Zone tapioca</h2>
                    <p class="px-3 poppins-light">
                        Esferas de fécula de tapioca. Deja volar tu imaginación y crea combinaciones con las perlas de
                        tapioca en tus
                        bebidas, se pueden combinar con sabores y frutales y también con café y té.
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 2.7 kg.</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>90 bebidas frías 480 ml (30
                                    g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorTeaZoneTapioca()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaTeaZoneTapioca">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-teaZone-tapioca"></div>
                                    <img class="img my-2"
                                        [src]="sanitizeUrl(insumo.urlArticleFirst)" alt="{{insumo.name}}"
                                        title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteChillOutTapioca()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>