<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="zoom-in-down">
                <h1 class="center-align">SUCURSALES ETRUSCA</h1>
                <hr class="hr-contacto" />
            </div>
            <div class="col-12 col-md-6 center-align">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <select class="form-control" id="ciudadSelect">
                                <option value="" selected>Selecciona la ciudad</option>
                                <option value="Ciudad de México">Ciudad de México</option>
                                <option value="Guadalajara">Guadalajara</option>
                                <option value="Monterrey">Monterrey</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Tijuana">Tijuana</option>
                                <option value="Xalapa">Xalapa</option>
                                <option value="León">León</option>
                                <option value="Toluca">Toluca</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <select class="form-control" id="sucursalSelect">
                                <option value="">Selecciona una sucursal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h2 class="title_horario">Horario</h2>
                <p class="fs-10 horario">Lunes a viernes de 09:00 a 18:00 hrs Sábado de 09:00 a 13:00 hrs</p>
                <h2 class="title_horario">E-mail</h2>
                <p class="fs-10 email"><a class="text-black" href="mailto:contacto@cafeetrusca.com">contacto@cafeetrusca.com</a></p>
                <h2 class="title_horario">Teléfono</h2>
                <p class="fs-10 telefono"><a href="tel:5541668777" class="text-black">55 41 66 8777</a></p>
                <h2 class="title_horario">Dirección</h2>
                <p class="fs-10 direccion">Av. Norte 35 núm 908 bodega B2 Industrial Vallejo, Azcapotzalco. C.P. 02300, Ciudad de México</p>
            </div>
            <div class="col-12 col-md-6 center-align" data-aos="zoom-in-down">
                <div id="map" style="height: 550px; min-width: 330px; width: 45vw;"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="row">
                    <form class="col-12" action="#">
                        <h1 class="center-align">CONTACTO</h1>
                        <hr class="hr-contacto" />
                        <div class="form-row">
                            <div class="row">
                            
                                <div class="form-group col-12 col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                                </div>
                                <div class="form-group col-12">
                                    <textarea class="form-control" id="message" name="message" placeholder="Mensaje" rows="10"></textarea>
                                </div>
                                <div class="form-group col-12">
                                    <select class="form-control" id="ocupacion" name="ocupacion">
                                        <option selected value="0">Selecciona una opción</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="url" value="">
                            <div class="form-group col-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" style="position: inherit; opacity: 1; pointer-events: bounding-box; transform: scale(1.5);">&nbsp;Acepto el aviso de privacidad
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 text-center">
                                <button type="button" class="btn btn-primary" id="btnSignup" data-sitekey="reCAPTCHA_site_key" data-callback="onSubmit" data-action="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- Incluye la librería Leaflet -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
 <script>
    var sucursales = [
  {
    lat: 19.4923666,
    lng: -99.1578552,
    nombre: 'Café Etrusca CEDIS Vallejo',
    direccion: 'Pte. 134 413, Industrial Vallejo, Azcapotzalco, 02300 Ciudad de México, CDMX',
    email : "contacto@cafeetrusca.com",
    telefono : "55 41 66 8777",
    horarios: ' L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    ciudad: "Ciudad de México",
    estado : "CDMX"

  },
  {
    lat: 19.4257134,
    lng: -99.16132894907378,
    nombre: 'Sucursal Zona Rosa',
    direccion: 'Liverpool #91, Colonia Juárez, CDMX',
    horarios: ' L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "zonarosa@cafeetrusca.com",
    telefono : "(01-55) 5533 9402 / 04 / 05 / 06",
    ciudad: "Ciudad de México",
    estado : "CDMX"
  },
  {
    lat: 19.399054,
    lng: -99.134663,
    nombre: 'Sucursal Viaducto',
    direccion: 'Miguel Ángel #2-A, Colonia Moderna, CDMX',
    horarios: ' L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "viaducto@cafeetrusca.com",
    telefono : "(01-55) 5579 9981 / 5579 9251",
    ciudad: "Ciudad de México",
    estado : "CDMX"
  },
  {
    lat: 19.25494,
    lng: -99.6149,
    nombre: 'Sucursal Toluca',
    direccion: 'Calle Pedro Ascencio #529 Edificio 2 Local 1, Barrio de Santa Cruz, Metepec, Estado de México',
    horarios: ' L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "toluca@cafeetrusca.com",
    telefono : "(01 722) 238 2566 / (01 722) 238 2567",
    ciudad: "Toluca",
    estado: "Toluca"
  },
  {
    lat: 32.506225,
    lng: -116.979203,
    nombre: 'Sucursal Tijuana',
    direccion: 'Plaza Ximena, Local 5, Boulevard Díaz Ordaz #13601, Col. López Lucio',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    telefono : "(664) 681 6600 / 11 ",
    email : "tijuana@cafeetrusca.com",
    ciudad: "Tijuana",
    estado: "Baja California"
  },
  {
    lat: 20.588084,
    lng: -100.403696,
    nombre: 'Sucursal Querétaro',
    direccion: 'Tecnológico Sur #10, Colonia Niños Héroes',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "queretaro@cafeetrusca.com",
    telefono : "(442) 234 5077 / 7152 / 3562 ",
    ciudad: "Querétaro",
    estado: "Querétaro"
  },
  {
    lat: 19.05133,
    lng: -98.226499,
    nombre: 'Sucursal Puebla',
    direccion: 'Boulevard Atlixco #1520, Col. La Paz, Local 1',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "puebla@cafeetrusca.com",
    telefono : "(222) 230 5300 / 5896",
    ciudad: "Puebla",
    estado: "Puebla"
  },
  {
    lat: 25.661205,
    lng: -100.399708,
    nombre: 'Sucursal Monterrey',
    direccion: 'Centro comercial Los Mezquites, Av. Vasconcelos #501, Interior 1 Poniente, esquina con Zaragoza, Col. Centro, Nuevo León',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "monterrey@cafeetrusca.com",
    telefono : "(81) 8338 1383 / 1857",
    ciudad: "Monterrey",
    estado: "Nuevo León"
  },
  {
    lat: 21.099884,
    lng: -101.67006,
    nombre: 'Sucursal León',
    direccion: 'Local E, Plaza San Rafael, Boulevard Juan José Torres Landa, Oriente #1005, Col. Puerta de San Rafael, Ciudad de León, Guanajuato',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    telefono : "(477) 212 3798 / 3800 / 962 221",
    email : "leon@cafeetrusca.com",
    ciudad: "León",
    estado: "Guanajuato"
  },
  {
    lat: 20.6755319,
    lng: -103.3674422,
    nombre: 'Sucursal Guadalajara',
    direccion: 'Pedro Moreno #1494, Colonia Americana, Guadalajara, Jalisco',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    email : "guadalajara@cafeetrusca.com",
    telefono : "(01-55) 5579 9981 / 5579 9251",
    email : "guadalajara@cafeetrusca.com",
    ciudad: "Guadalajara",
    estado: "Jalisco"
  },
  {
    lat: 19.492441,
    lng: -99.155717,
    nombre: 'Centro de Tostión Etrusca Vallejo',
    direccion: 'Av. Poniente 134 #413, Bodega B2, entrada por un lado de las vías del tren, Industrial Vallejo, Azcapotzalco, Ciudad de México, CDMX',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    telefono : "(01-55) 5579 9860 / (01-55) 5590 5407 / (01-55)",
    email : "contacto@cafeetrusca.com",
    ciudad: "Ciudad de México",
    estado: "CDMX"
  },
   {
    lat: 19.530488,
    lng: -96.93447800000001,
    nombre: 'Sucursal Xalapa',
    direccion: 'Plaza del Teatro, Local 5 Avenida Ignacio de la llave #35, Col. Guadalupe Rodríguez',
    horarios: 'L-V 09:00-18:00 HRS SABADO 09:00-13:00 HRS',
    telefono : "(228) 812 0130 / 0660 ",
    email : "xalapa@cafeetrusca.com",
    ciudad: "Xalapa",
    estado: "Xalapa"
  }
    // Agrega más sucursales aquí...
  ];

   var map = L.map('map').setView([26.8748005, -109.5415344], 5);

  // Agregar capa del mapa personalizado (puedes usar otros proveedores de mapas como Mapbox, Stamen, etc.)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

  // Crear los iconos personalizados
  var customIcon = L.icon({
    iconUrl: 'https://cafeetrusca.com/img/LOCATION-ETRUSCA.svg',
    iconSize: [42, 42], // Cambia el tamaño del ícono si es necesario
  });

  var markerIconUrl = 'https://cafeetrusca.com/img/LOCATION-ETRUSCA.svg'; // Reemplaza con la URL de la imagen del marcador
  var markerIcon = L.icon({
    iconUrl: markerIconUrl,
    iconSize: [42, 42] // Cambia el tamaño del ícono del marcador si es necesario
  });

 // Agregar marcadores para cada sucursal con ambos íconos personalizados
sucursales.forEach(function(sucursal) {
  var popupContent = '<b>' + sucursal.nombre + '</b><br>' + sucursal.direccion + '<br>' + sucursal.horarios;

  var marker = L.marker([sucursal.lat, sucursal.lng], { icon: customIcon }).addTo(map);
  marker.bindPopup(popupContent);

  var logoMarker = L.marker([sucursal.lat, sucursal.lng], { icon: markerIcon, zIndexOffset: -1 }).addTo(map);

  // Si solo hay una sucursal, guardamos la referencia al marcador de esa sucursal
  if (sucursales.length === 1) {
    unicaSucursalMarker = marker;
  }
});

  // Obtener el elemento select por su ID
  var ciudadSelect = document.getElementById('ciudadSelect');
   var sucursalSelect = document.getElementById('sucursalSelect');
   // Declarar una variable para mantener la referencia al marcador de la única sucursal
    var unicaSucursalMarker = null;

  // Escuchar el evento change del select
  ciudadSelect.addEventListener('change', function() {
    var selectedCiudad = ciudadSelect.value; // Obtener la ciudad seleccionada

     // Filtrar las sucursales según la ciudad seleccionada
    var sucursalesFiltradas = sucursales.filter(function(sucursal) {
      return sucursal.ciudad === selectedCiudad;
    });

    // Generar las opciones del segundo select (sucursales)
    var sucursalesOptions = sucursalesFiltradas.map(function(sucursal) {
      return '<option value="' + sucursal.nombre + '">' + sucursal.nombre + '</option>';
    });

    // Agregar las opciones al select de sucursales
    sucursalSelect.innerHTML = sucursalesOptions.join('');


    // Objeto o mapa con las coordenadas de cada ciudad (actualízalo con las coordenadas correctas)
    var ciudadesCoordenadas = {
  'Ciudad de México': [19.4326, -99.1332],
  //'Zapopan': [20.6769, -103.3482],
  'Guadalajara': [20.6597, -103.3496],
  'Monterrey': [25.6866, -100.3161],
  'Puebla': [19.0414, -98.2063],
  'Querétaro': [20.5881, -100.3880],
  'Tijuana': [32.5149, -117.0382],
  'León': [21.1606, -101.7116],
  'Toluca': [19.2826, -99.6557],
  // Agrega más ciudades y sus coordenadas aquí...
    };






    // Obtener las coordenadas de la ciudad seleccionada
    var coordenadas = ciudadesCoordenadas[selectedCiudad];
    console.log(selectedCiudad);
    console.log(coordenadas);
    // Si se encontraron las coordenadas de la ciudad seleccionada, actualizar la vista del mapa
    if (coordenadas) {

      map.setView(coordenadas, 12); // El número 12 es el nivel de zoom, puedes ajustarlo según tus necesidades
      actualizarInformacionSucursal(sucursalesFiltradas[0])
    }else{
      map.setView([26.8748005, -109.5415344], 5); // El número 12 es el nivel de zoom, puedes ajustarlo según tus necesidades
           var sucursalesFiltradasDefault = sucursales.filter(function(sucursal) {
          return sucursal.nombre === 'Café Etrusca CEDIS Vallejo';
       
        });
      actualizarInformacionSucursal(sucursalesFiltradasDefault[0])
    }
    
    if (sucursalesFiltradas.length === 1) {
      var unicaSucursal = sucursalesFiltradas[0];
   
      // Obtenemos las coordenadas de la sucursal única
      var latitud = unicaSucursal.lat;
      var longitud = unicaSucursal.lng;
        actualizarInformacionSucursal(unicaSucursal)
    
      // Centramos la vista del mapa en las coordenadas de la sucursal única
      map.setView([latitud, longitud], 15); // Puedes ajustar el nivel de zoom (último parámetro) según tus necesidades
      // Si solo hay una sucursal, abrimos el globo (popup) automáticamente para esa sucursal
        if (unicaSucursal.length === 1 && unicaSucursalMarker) {
          unicaSucursalMarker.openPopup();
        }
    }
  });
  // Escuchar el evento change del segundo select (sucursales)
sucursalSelect.addEventListener('change', function() {
  var selectedSucursal = sucursalSelect.value; // Obtener la sucursal seleccionada

  // Filtrar las sucursales según la sucursal seleccionada
  var sucursalSeleccionada = sucursales.find(function(sucursal) {
    return sucursal.nombre === selectedSucursal;
  });

  // Si encontramos la sucursal seleccionada en el arreglo de sucursales
  if (sucursalSeleccionada) {
   
    // Obtenemos las coordenadas de la sucursal seleccionada
    var latitud = sucursalSeleccionada.lat;
    var longitud = sucursalSeleccionada.lng;

    // Centramos la vista del mapa en las coordenadas de la sucursal seleccionada
    map.setView([latitud, longitud], 15); // Puedes ajustar el nivel de zoom (último parámetro) según tus necesidades

    actualizarInformacionSucursal(sucursalSeleccionada)
    
  }
});
   // Función para actualizar la información de la sucursal
    function actualizarInformacionSucursal(sucursal) {
        try{
        console.log(sucursal);
      // Aquí puedes realizar la lógica para actualizar la información de la sucursal
      // Por ejemplo, puedes cambiar el horario, dirección, teléfono, etc., según la selección

      // Ejemplo: Actualizar el horario
      var horarios = document.querySelector('.horario');
      horarios.textContent = sucursal.horarios;

      // Ejemplo: Actualizar la dirección
      var direccion = document.querySelector('.direccion');
      direccion.textContent = sucursal.direccion;

    
      // Selecciona el elemento con la clase "email" utilizando querySelector
      var email = document.querySelector('.email');
      // Limpia el contenido del elemento padre
      email.innerHTML = '';
      // Crea un enlace (<a>) con el número de teléfono y asigna su href
      var emailEnlace = document.createElement('a');
      emailEnlace.href = 'mailto:' + sucursal.email;
      emailEnlace.textContent = sucursal.email;
        // Agrega el enlace al elemento con la clase "telefono"
      email.appendChild(emailEnlace);

     // Selecciona el elemento con la clase "telefono" utilizando querySelector
      var telefono = document.querySelector('.telefono');
      // Limpia el contenido del elemento padre
      telefono.innerHTML = '';
      // Crea un enlace (<a>) con el número de teléfono y asigna su href
      var telefonoEnlace = document.createElement('a');
      telefonoEnlace.href = 'tel:' + sucursal.telefono;
      telefonoEnlace.textContent = sucursal.telefono;
        // Agrega el enlace al elemento con la clase "telefono"
      telefono.appendChild(telefonoEnlace);
      }catch(error){
      }
      
    }
</script>