<div class="row">
    <aside class="col-lg-2 align-self-stretch">
        <br>
        <h5 class="text-center mb-3">Filtrar por Línea</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="teEuroteCheckbox">
                    <label class="form-check-label" for="teEuroteCheckbox"> Euro Te </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="teStashCheckbox">
                    <label class="form-check-label" for="teStashCheckbox"> Stash </label>
                </div>
            </li>
        </ul>
        <br>
    </aside>

    <main class="col-lg-9 align-self-start">
        <!--Categoría Tés-->
        <div class="container" id="todos-los-tes">
            <div id="tesYTisanas-presentacion" class="container">
                <div class="d-flex align-items-center">
                    <img src="../../../../assets/icons/te.webp" style="max-width: 4rem; max-height: 6rem;"
                        alt="Icono de Tisanas">
                    <h2 class="text-center mb-0 mr-3" style="font-size: 4vw; font-weight: 700;">Té
                    </h2>
                </div>

                <p style="text-align: justify;">Colaboración que hicimos con la empresa mexicana especializada en tés,
                    infusiones y tisanas provenientes de China, Japón, India y Alemania. Nos encargamos de llevar hasta
                    tus manos la mejor calidad de tés e infusiones con un empaque práctico.
                </p>
            </div><br>

            <!--Cards euroTe-->
            <div class="container">
                <div class="container d-flex flex-wrap justify-content-around align-items-center">
                    <div class="contenedor-logos my-3">
                        <img src="../../../../assets/icons/euro-te.svg" alt="Logo de Torani">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        <span style="font-weight: bold;">Colaboración que hicimos con la empresa mexicana especializada
                            en tés,
                            infusiones y tisanas provenientes de China, Japón, India y Alemania. Nos encargamos de
                            llevar hasta
                            tus manos la mejor calidad de tés e infusiones con un empaque práctico.</span>
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">3 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">Presentación Bolsa de 250 gr.</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Rinde aprox. 30 bebidas de 480 ml.
                            </p>
                        </div>
                    </div>
                </div>

                <div style="height: 700px;">
                    <div class="scroll-horizontal-container my-5">
                        <div class="row">
                            <div *ngFor="let insumo of teEurote"
                                style="height: 650px !important; width: 250px !important;">
                                <div class="card">
                                    <div class="card-header d flex align-self-end" style="background-color: #E91D74;">
                                        <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                            style="color: white;" target="_blank"
                                            title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                class="fas fa-shopping-cart"></i></a>
                                    </div>

                                    <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                    <div class="card-body">
                                        <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                        <p>
                                        <p class="card-text"> {{ insumo.name }}</p>
                                        <p class="d-none card-text">{{ insumo.description }}</p>
                                        <p></p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <a routerLink="/donde-encontranos" style="color: black;"> Encuentra tu
                                            sucursal
                                            <i class="fas fa-arrow-right" style="color: black;"></i>
                                        </a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Cards Stash-->
            <div class="container">
                <div class="container d-flex flex-wrap justify-content-around align-items-center">
                    <div class="contenedor-logos my-3">
                        <img src="../../../../assets/icons/stash.svg" alt="Logo de Torani">
                    </div>

                    <p class="p-3"
                        style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                        Stash ofrece las propiedades <span style="font-weight: bold;">naturales de las plantas</span>
                        y está pensada para diferentes tipos de consumidores
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">34 sabores</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                <span style="font-weight: bold;">Presentación Caja con 18 a 20 bolsas.</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <p class="p-3 text-center"
                                style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;">
                                Rinde aprox. 18 a 20 bebidas de 240ml.
                            </p>
                        </div>
                    </div>
                </div>

                <div style="height: 700px;">
                    <div class="scroll-horizontal-container my-5">
                        <div class="row">
                            <div *ngFor="let insumo of teStash"
                                style="height: 650px !important; width: 250px !important;">
                                <div class="card">
                                    <div class="card-header d flex align-self-end" style="background-color: #E91D74;">
                                        <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                            style="color: white;" target="_blank"
                                            title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                class="fas fa-shopping-cart"></i></a>
                                    </div>

                                    <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                    <div class="card-body">
                                        <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                        <p>
                                        <p class="card-text"> {{ insumo.name }}</p>
                                        <p class="d-none card-text">{{ insumo.description }}</p>
                                        <p></p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <a routerLink="/donde-encontranos" style="color: black;"> Encuentra tu
                                            sucursal
                                            <i class="fas fa-arrow-right" style="color: black;"></i>
                                        </a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>


</div>