<div class="row">
    <!-- Categoría Tes-->
    <aside class="col-lg-12 align-self-start">
        <div class="container my-4">
            <div id="jarabes-presentacion" class="container">
                <div class="d-flex align-items-center justify-content-center">
                    <h1 class="text-center mb-0 mr-3 display-4">Tes
                    </h1>
                </div>
            </div><br>

            <div class="container my-2">
                <p class="text-center subtitle">Explora las diferentes líneas de Tes que tenemos para ti:</p>
            </div>
        </div>

        <div class="container d-flex flex-wrap justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="card-logo d-flex align-items-center justify-content-center my-4">
                                <img src="../../../../assets/icons/euro-te.svg" alt="Logo de Te Eurote"
                                    title="Logo de Te Eurote" [(ngModel)]="hidesTeEurote">
                            </div>
                            <p class="brand-name">Te Eurote</p>
                        </div>
                    </li>
                    <!-- Repite el bloque anterior para cada elemento de la paginación -->
                    <li class="page-item">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="card-logo d-flex align-items-center justify-content-center my-4">
                                    <img src="../../../../assets/icons/stash.svg" alt="Logo de Te Stash"
                                        title="Logo de Te Stash" [(ngModel)]="hidesTeStash">
                                </div>
                                <p class="brand-name">Te Stash</p>
                            </div>
                        </div>
                    </li>
                    <li class="page-item">
                        <div class="d-flex flex-column align-items-center justify-content-center">

                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <main class="col-lg-12 align-self-start">
        <!--Cards euroTe-->
        <div class="container my-4" *ngIf="hidesTeEurote">
            <!-- Contenido de la primera mitad -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of teEurote" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                        style="background-color: #E91D74;">
                                        <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                            style="color: white;" target="_blank"
                                            title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                class="fas fa-shopping-cart"></i></a>
                                    </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                        <a class="go-sucursal" routerLink="/donde-encontranos"
                                            style="color: black;">
                                            Encuentra
                                            tu
                                            sucursal
                                            <i class="fas fa-arrow-right" style="color: black;"></i>
                                        </a><br>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- euroTe -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> EURO TE</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Colaboración que hicimos con la empresa mexicana especializada
                                    en <span style="font-weight: bold;">tés,
                                        infusiones y tisanas provenientes de China, Japón, India y Alemania. </span>Nos
                                    encargamos de
                                    llevar hasta
                                    tus manos la mejor calidad de tés e infusiones con un empaque práctico.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        3 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 250 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 30 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Cards Stash-->
        <div class="container my-4" *ngIf="hidesTeStash">
            <!-- Contenido de la primera mitad -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of teStash" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- TE Stash -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3">Te Stash</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Stash ofrece las propiedades <span
                                        style="font-weight: bold;">naturales de las plantas</span>
                                    y está pensada para diferentes tipos de consumidores</p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        34 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> caja con 18 y 20 bolsas.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 18 bebidas de 240 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

