<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4 my-4">
            <img src="https://cafeetrusca.com/img/MEM.svg" class="img-fluid my-4">
            <div class="col-md-12">
                <h2 class="text-center">¡Síguenos en redes sociales!</h2>
                <div class="my-3 d-flex flex-wrap justify-content-around">
                    <a href="#" class="mb-3"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="mb-3"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#" class="mb-3"><i class='bx bxl-youtube'></i></a>
                    <a href="#" class="mb-3"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="row">
                <div class="col-md-6 text-start">
                    <h2 class="p-4">Mapa de sitio</h2>
                    <ul class="list-unstyled p-4">
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Bebidas frías</a></li>
                        <li><a href="#">Bebidas calientes</a></li>
                        <li><a href="#">Bebidas frappés</a></li>
                        <li><a href="#">Bebidas Bobbá</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-start">
                    <h2 class="p-4">Cónocenos</h2>
                    <ul class="list-unstyled p-4">
                        <li><a href="#">Etrusca Comercial</a></li>
                        <li><a href="#">¿Dónde nos encontramos?</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Servicio y refacción de máquinas</a></li>
                        <li><a href="#">Tienda</a></li>
                    </ul>
                </div>
                <div class="col-md-12 text-center pt-4">Todos los derechos reservados © 2024 Copyright Café Etrusca</div>
                <div class="col-md-12 text-center"><a href="">Aviso de privacidad y términos y condiciones</a></div>
            </div>
        </div>
        <div class="col-md-4 my-4">
            <h2 class="p-4">Suscríbete a nuestro newsletter</h2>
            <form class="py-4">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre de contacto</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">No compartiremos tu correo con nadie más</div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto el aviso de privacidad</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</footer>