<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-3">
                    <h4>Nosotros</h4>
                    <a routerLink="/quienes-somos">¿Quiénes somos?</a><br>
                    <a routerLink="/donde-encontranos">¿Dónde encontrarnos?</a><br>
                    <a routerLink="/sostenibilidad">Sostenibilidad</a><br>
                    <br>
                    <a routerLink="/blog">Blog</a><br>
                    <a routerLink="http://wwww.hola.com">Preguntas frecuentes</a><br>
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                    <h4>Para tu negocio</h4>
                    <a routerLink="/productos-y-servicios/maquinaria-y-equipo-para-cafeterias">Maquinaria</a><br>
                    <a routerLink="/productos-y-servicios/insumos-para-cafeterias">Insumos</a><br>
                    <a routerLink="/productos-y-servicios/accesorios-para-poner-una-cafeteria">Accesorios</a><br>
                    <br>
                    <a routerLink="#">Nuestras marcas</a><br>
                    <a routerLink="#">Recetas</a><br>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h4>Nuestros cursos</h4>
                    <a routerLink="#">¿Qué puedes aprender?</a><br>
                    <a routerLink="#">Calendarios</a><br>
                    <!-- <button type="button" class="btn btn-warning">Auto facturación</button> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-lg-0 mt-3">
            <h4>Notas y actualizaciones</h4>
            <p>Regístrate para recibir información de promociones, nuevos productos y otras noticias.</p>
            <div class="row">
                <div class="col-md-8 col-sm-12 mb-2">
                    <input class="form-control" type="text" placeholder="Introduce tu dirección de correo">
                </div>
                <div class="col-md-4 col-sm-12 mb-2">
                    <button class="btn btn-warning btn-block" type="button">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h5>Aviso de privacidad Términos y condiciones</h5>
            <h6>Todos los derechos reservados 2023 Copyright Café Etrusca</h6>
        </div>
    </div>
</div>
