<div class="container-fluid">
    <div class="row" id="principal">
        <div class="row align-items-center">
            <div class="col-4">
                <h1 class="title" style="font-size: 80px; text-align: center;">Café Verde</h1>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-4">
                <button type="button" class="btn btn-warning my-2" id="contacto-cafe ">Comprar ahora</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 d-flex align-items-center">
    <section class="row align-items-center">
        <div class="col-12 justify-content-center">
            <h2 class="title p-4" style="text-align: center;">¿Qué es el Café Verde?</h2>
        </div>
        <div class="col-12 justify-content-center">
            <p style="text-align: center;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año
                1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería
                de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
                sobrevivió 500 años, </p>
        </div>
    </section>
</div>

<div class="container my-4">
    <section class="row">
        <div class="col-12 justify-content-center align-items-center">
            <h2 class="title p-4" style="text-align: center;">¿Cuáles son las propiedades de nuestro Café?</h2>
        </div>
    </section>
    <section class="row">
        <div class="col-md-4 mb-4">
            <p style="text-align: justify;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año
                1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería
                de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
                sobrevivió 500 años, </p>
        </div>
        <div class="col-md-4 mb-4">
            <p style="text-align: justify;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año
                1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería
                de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
                sobrevivió 500 años, </p>
        </div>
        <div class="col-md-4 mb-4">
            <p style="text-align: justify;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año
                1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería
                de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
                sobrevivió 500 años, </p>
        </div>
    </section>

</div>

<div class="container my-4" style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); border-radius: 0 40px 0 0;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mb-2" id="contenedor-tostador">
            <img class="img-fluid" style="height: 100%;" src="../../../../../assets/PRUEBAS/MTO-003_01.webp">
        </div>
        <div class="col-md-6 mb-2">
            <h3 class="title">¡Ey mira este tostador!</h3>
            <a>Contáctanos <li class="fas fa-arrow-right">
                </li></a>
        </div>
    </div>
</div>

<div class="row" style="height: 2cm;"></div>

<div class="container">
    <div class="my-4">
        <h3 class="text-center" style="font-size: 2.1875rem; font-weight: 700;">Esto te podría interesar</h3>
        <p class="text-center">La voz de nuestros docentes y expertos en café</p>
    </div>
    <div class="d-flex flex-wrap justify-content-around my-2">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/bubble iced coffe.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Conoce los mejores accesorios</h5>
                <p class="card-text">Encuentra todo lo que necesitas</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/arte-latte.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Curso de Tostado Medio</h5>
                <p class="card-text">Visita nuestro apartado de cursos y talleres</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/baristas.png" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Encuentra tu sucursal más cercana</h5>
                <p class="card-text">Escríbenos y no te pierdas ni un sólo detalle.</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/brewbar.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">¿Estás pensando en abrir tu negocio?</h5>
                <p class="card-text">Visita nuestro blog</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
    </div>
</div>