<!-- <div style="display: flex; justify-content: center;">
    <img src="../../../../assets/PRUEBAS/demo-video-arte-latte.gif" alt="Descripción del GIF"
        style="max-width: 96.25rem; max-height: 35.625rem; width: 100%; height: auto; margin: auto;">
</div> -->

<div class="d-flex flex-column justify-content-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="width: 350px;">
                <img src="../../../../assets/icons/Mixologia.svg" alt="Arte Latte" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 4rem; font-weight: 700;">Taller de mixología con café sin alcohol</h1>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-calendar"></i> 1 día</p>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-clock"></i> horas</p>
            </div>
        </div>
    </div>
</div>

<!-- <aside class="container">
    <p style="text-align: justify;">
        Aprender el arte del latte puede transformar la experiencia de tomar café en algo sorprendente. Dominar la
        técnica de verter la leche vaporizada sobre el espresso te brinda la oportunidad de crear diseños elegantes y
        cautivadores en la superficie de tu bebida, desde hojas delicadas hasta corazones reconfortantes. Más allá de su
        aspecto visual, el arte latte muestra tu dedicación al detalle y a la artesanía, elevando tanto la presentación
        como el sabor de cada taza de café, y añadiendo un toque artístico a la rutina diaria.
    </p>
</aside> -->

<section class="container">
    <div class="m-t-5"><br>
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">¿Qué aprenderás?</h3><br>
        <h3 class="fs-5">Teoría</h3>
        <ul class="list_style">
            <li>Estarás actualizado con bebidas para cafetería, <b>coctelería</b> y <b>bebidas sin alcohol.</b></li>
            <li>Conocerás los <b>ingredientes</b> que están de moda para crear <b>bebidas funcionales.</b> </li>
            <li>Conocerás <b>4 técnicas básicas para </b>elaborar y <b>presentar</b> diferentes bebidas.</li>
        </ul><br>
        <h3 class="fs-5">Práctica</h3>
        <ul class="list_style">
            <li>Aprenderás a <b>establecer tus recetas, medir costos</b> y desarrollar un <b>menú</b> más
                <b>rentable.</b>
            </li>
            <li><b>Podrás experimentar</b> diferentes sabores con <b>ingredientes naturales</b> y otros <b>insumos</b>
                para tus clientes.</li>
        </ul>
    </div><br>
    <!-- <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Objetivo</h3>
        <p class="fs-5S">
            Aprende los fundamentos del arte latte y técnicas de espumado y vaciado para realizar figuras en taza
            utilizando
            de manera adecuada las herramientas necesarias de manera dinámica.
        </p>
    </div><br> -->
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Temario </h3>
        <ul class="list_style">
            <li>Barras de especialidad en México</li>
            <li>Bebidas a base de café</li>
            <li>Bebidas a base de flores</li>
            <li>Bebidas funcionales e hidratantes</li>
            <li>Bebidas gasificadas</li>
            <li>Bebidas con leche y sustitutos</li>
            <li>Bebidas con alcohol</li>
            <li>Costo</li>
        </ul>
    </div>
    <div class="row" style="height: 2cm;"></div>
</section>