<div class="container">
    <div class="row">
        <aside class="col-lg-2 col-md-2" id="tisanas-presentation">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 father-logo">
                            <div class="icon-section">
                                <img src="../../../../../assets/icons/Molinos.png" alt="Icono de Molinos"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-3 poppins-bold">Molinos</h1>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="fiorenzatoCheckbox"
                                        [(ngModel)]="hidesFiorenzato">
                                    <label class="form-check-label poppins-extralight" for="fiorenzatoCheckbox">
                                        Fiorenzato
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input " type="checkbox" id="ceadoCheckbox"
                                        [(ngModel)]="hidesCeado">
                                    <label class="form-check-label poppins-extralight" for="ceadoCheckbox"> Ceado
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input " type="checkbox" id="eurekaCheckbox"
                                        [(ngModel)]="hidesEureka">
                                    <label class="form-check-label poppins-extralight" for="eurekaCheckbox"> Eureka
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input " type="checkbox" id="anfimCheckbox"
                                        [(ngModel)]="hidesAnfim">
                                    <label class="form-check-label poppins-extralight" for="anfimCheckbox"> Anfim
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input " type="checkbox" id="baratzaCheckbox"
                                        [(ngModel)]="hidesBaratza">
                                    <label class="form-check-label poppins-extralight" for="baratzaCheckbox"> Baratza
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <hr>
                        <p class="p-3 poppins-light">
                            En el mundo del café,
                            sabemos que la diferencia entre una bebida común y una extraordinaria radica en la calidad
                            de los
                            granos y el proceso de molienda.
                        </p>
                    </div>
                </div>
            </div>
        </aside>

        <!--Categoría Molinos -->
        <main class="col-lg-10 my-2" id="todas-las-molinos">
            <!-- Cards para Fiorenzato -->
            <div class="row my-4" id="Reneka" *ngIf="hidesFiorenzato">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: black;">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/logo_fiorenzato.png"
                            alt="logo de Fiorenzato" title="logo de Fiorenzato" class="img-fluid p-2">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Fiorenzato</h2>
                    <p class="px-3 poppins-light">Preciso, fiable, fácil de usar. Fiorenzato se ha diseñado para
                        simplificar el trabajo de los baristas y
                        obtener buenos resultados.
                    </p>
                    <span class="px-3 poppins-extralight">Diferentes colores.</span>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorFiorenzato()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaFiorenzato">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-fiorezato"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteFiorenzato()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para Ceado -->
            <div class="row my-4" id="Ceado" *ngIf="hidesCeado">
                <div class="col-md-4 father-logo">
                    <div class="brand-container" style="background-color: black;">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/ceado.svg" alt="logo de Ceado"
                            title="logo de Ceado" class="img-fluid p-2">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Ceado</h2>
                    <p class="px-3 poppins-light">Fabricación de molinillos de café, fresas, equipos de bar y cafetera.
                    </p>
                    <span class="px-3 poppins-extralight">Fabricado en Italia.</span>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorCeado()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaCeado">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-ceado"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteCeado()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para Eureka -->
            <div class="row my-4" id="Eureka" *ngIf="hidesEureka">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/eureka-logo.png" alt="logo de Eureka"
                            title="logo de Eureka" class="img-fluid p-2">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Eureka</h2>
                    <p class="px-3 poppins-light">Más de un siglo al servicio de su pasión.
                    </p>
                    <span class="px-3 poppins-extralight">Diferentes colores.</span>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorEureka()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaEureka">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-Eureka"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteEureka()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>