<section>
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <p class="p-2" style="text-align: justify;">Bienvenidos a Café Etrusca, (Etrusca Comercial, S.A. de
                    C.V.),
                    donde se le ofrece a cada uno de los
                    Clientes asesoría, entrenamiento y servicios de calidad, al igual que se pone a su alcance
                    productos seguros y de alto nivel. Para lograrlo, se supervisan las etapas de la cadena de
                    suministro para garantizar la calidad de los productos, así nuestros clientes cuentan con los
                    insumos necesarios para preparar deliciosos alimentos y bebidas.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="p-3">
            <h1 class="display-4 text-center" style="font-weight: 700;">Términos y condiciones de Etrusca Comercial S.A.
                de C.V.</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Al favorecernos con su compra significa que se ha entendido
                y aceptado en su totalidad los
                términos y condiciones del presente documento.
            </p>
        </div>
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Los términos y condiciones que se detallan a continuación
                aplican para todas las compras de
                insumos: detergentes, productos para el consumo humano, métodos de extracción y accesorios,
                en adelante Productos, es decir, aquellos que se vende para nuestros Clientes.
            </p>
        </div>
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Para asegurar que se encuentre satisfecho con su visita, se
                mencionan la siguiente política que
                debes de seguir dentro de Etrusca:
            </p>
        </div>
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Revisar que el producto esté en perfectas condiciones, de
                encontrar algún detalle favor de
                comunicarlo inmediatamente con el vendedor de la sucursal. Se debe de considerar que todos los
                productos que se compren tengan su empaque íntegro, con caducidad vigente y sin daños visibles
                antes de que salgan de la sucursal en una compra regular (sin oferta).
            </p>
        </div>
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Favor de considerar los siguientes puntos dependiendo el
                tipo de producto:
            </p>
            <ul class="p-3" style="text-align: justify;">
                <li>Los detergentes especializados que comercializa Etrusca
                    se utilizan para evitar
                    contaminación de olores y sabores en las bebidas. Para ello, se deben seguir las
                    instrucciones de uso, respetar las advertencias del producto y tener en cuenta la
                    caducidad que se indica en el envase, así como adecuarse a las indicaciones de uso del
                    fabricante.</li>
                <li>Los productos para consumo humano cuentan con una fecha
                    de caducidad o consumo
                    preferente, en el que el fabricante sabe que los ingredientes conservan sus características
                    organolépticas, de rendimiento y seguridad alimentaria, por lo que deben respetarse para
                    evitar que empiece un proceso de descomposición. De igual manera se deben de respetar
                    las condiciones de almacenamiento para evitar que los agentes como la temperatura, la
                    humedad o la presión afecten la vida útil del producto, ya que son determinantes para que
                    el alimento comience su deterioro.</li>
                <li>Los métodos de extracción y accesorios deben de
                    utilizarse para lo que fueron fabricados,
                    ya que otro uso puede comprometer su desempeño e integridad, lo que puede averiarse o
                    romperlos con los riesgos que ello conlleva. Los anteriores productos no cuentan con
                    póliza de garantía.</li>
            </ul>
        </div>
        <div class="col-ms-12">
            <p class="p-2" style="text-align: justify;">
                Los equipos eléctricos, electrónicos y electrodomésticos, no
                entran en la presente Política, ya que,
                Etrusca cuenta con una respectivos términos y condiciones para los productos mencionados. Para
                mayor información respecto a las pólizas de garantía de equipos eléctricos, favor de consultar
                en el siguiente enlace: política QR.
            </p>
        </div>
    </div>

    <section class="my-5">
        <h4 class="my-2"><strong>Promociones y ofertas:</strong></h4>
        <p class="p-2" style="text-align: justify;">
            Los productos que son ofrecidos en venta en todas las
            sucursales de Etrusca constituyen la única
            oferta por las existencias de cada establecimiento en la República Mexicana. <br>
            Por lo que, se le pide a los Clientes considerar lo
            siguiente cuando se encuentre una oferta en
            alguna de nuestras sucursales:
        </p>
        <ul class="my-2" style="text-align: justify;">
            <li>Etrusca se reserva cualquier derecho de poder ampliar,
                limitar o cambiar de cualquier
                otra forma la oferta de los productos, sin justificación y responsabilidad alguna.</li>
            <li>Etrusca no garantiza la disponibilidad de productos
                inmediata por lo que la oferta de
                los productos en todas nuestras sucursales se encuentra sujetas a disponibilidad.</li>
            <li>Las fotografías e imágenes de los productos en el sitio
                web de Etrusca, son
                presentadas únicamente para efectos ilustrativos y tienen como base la última
                información de productos disponible al tiempo de publicación. Los productos pueden
                sufrir variaciones en sus características y particularidades, entre otros, sin previo aviso.
            </li>
        </ul>
    </section>

    <section class="my-5">
        <h4 class="my-2"><strong>Precios, tarifas y promociones:</strong></h4>
        <ul class="my-2" style="text-align: justify;">
            <li>Los precios de venta de los productos se
                encuentran indicados en Pesos Mexicanos
                (MXN). Dichos precios se encuentran en vigor al momento de realizar la compra y no
                incluyen gastos de envío.</li>
            <li>Los precios incluyen impuestos y Etrusca
                respetará el precio acordado, sin embargo, si
                al momento de generarse el cobro se hubiere procesado con un precio erróneo, podrá
                ser cancelada, con previa notificación al cliente por parte de Etrusca.</li>
            <li>Etrusca se reserva el derecho a modificar o cambiar los
                precios y promociones, en
                cualquier momento y sin previo aviso. Las promociones que se ofrecen a través de la
                tienda física y otros medios de propaganda de Etrusca tienen un periodo determinado,
                lo cual se indicará dentro de la información relacionada con la misma.
            </li>
            <li>Los precios incluyen impuestos y Etrusca
                respetará el precio acordado, sin embargo, si
            </li>
            <li>
                Las promociones serán válidas una sola vez por compra
                y/o hasta agotar existencias.
                Ninguna promoción es acumulable.
            </li>
        </ul>
        <p class="p-2" style="text-align: justify;">
            Por lo que, se le pide a los Clientes considerar lo
            siguiente cuando se encuentre una oferta en
            alguna de nuestras sucursales:
        </p>
    </section>

    <section class="my-5">
        <h4 class="my-2"><strong>Disponibilidad de productos:</strong></h4>
        <ul class="my-2" style="text-align: justify;">
            <li>Etrusca es una empresa que se esfuerza en asegurar la
                disponibilidad de cada uno de sus productos en todas sus sucursales como en su sitio web,
                pero existe la posibilidad que algún producto no se encuentre disponible, en cuyo caso, se
                comunicará en el sitio web, a través de una leyenda “agotado” al lado del producto en
                cuestión y no se podrá acceder a comprarlo. </li>
            <li>En sucursales, se le comunicará al cliente
                personalmente, toda vez que pregunte respecto a la disponibilidad de algún producto que no
                se encuentre a la vista del consumidor.</li>
        </ul>
    </section>

    <section class="my-5">
        <h4 class="my-2"><strong>Formas de pago:</strong></h4>
        <ul class="my-2" style="text-align: justify;">
            <li>Los productos podrán ser adquiridos por medio de las
                siguientes pasarelas de pago:</li>
            <li>Pagos en efectivo</li>
            <li>Transferencias electrónica, Paypal, tarjetas de
                Crédito y débito</li>
        </ul>
        <p class="p-2" style="text-align: justify;">
            Ante situaciones de fraudes o cargos no reconocidos y, en
            general, cualquier contingencia o
            eventualidad relacionadas con transacciones, el Cliente deberá contactar directamente a su
            institución bancaria, sin responsabilidad de Etrusca concluyendo en el mismo como una venta
            final
            al realizar su pago. No obstante, Etrusca realizará sus mejores esfuerzos para coadyuvar y
            apoyar
            al Cliente con el fin de aclarar cualquier transacción.
        </p>
    </section>

    <section class="my-5">
        <h4 class="my-2"><strong>Cambios y cancelaciones:</strong></h4>
        <p class="p-2" style="text-align: justify;">
            Etrusca no acepta cambios, cancelaciones ni devoluciones de
            cualquier producto y/o servicio
            vendido. El Cliente deberá contactar a Etrusca dentro de los 30 (treinta) días naturales
            siguientes a
            la entrega de los productos y únicamente por las siguientes causas:
        </p>
        <ol class="my-2" style="text-align: justify;">
            <li>Si el producto no corresponde a la calidad, marca y/o a
                las especificaciones
                respecto al Producto adquirido</li>
            <li>Si existe equivocación en los productos enviados
                (cuando dicho producto ha sido
                enviado erróneamente por el almacén de Etrusca), conservando la envoltura
                original y sin presentar muestras de maltrato o uso.</li>
            <li>Si el contenido neto de un producto o la cantidad
                entregada sea menor a la
                indicada en el empaque o envase, y la misma no se apegue a los criterios de
                tolerancia de las autoridades.</li>
        </ol>
        <p class="p-2" style="text-align: justify;">Se tiene el compromiso por este medio de responder a la
            solicitud de cancelación y/o devolución
            en un plazo de tres a cinco días hábiles. En cambios o cancelaciones deberá proporcionar la
            siguiente información, mediante correo electrónico:
        </p>
        <ol class="my-2" style="text-align: justify;">
            <li>Solicitud de cancelación o devolución por parte de EL
                CLIENTE al correo
                facturacion@cafeetrusca.com</li>
            <li>Comprobantes de Compra y pago.</li>
            <li>Fecha en que se adquirió, o recibió el producto, en el
                caso de compras en sitio.</li>
            <li>Indicar la razón de la devolución y/o cancelación.</li>
        </ol>
        <p class="p-2" style="text-align: justify;">Cualquier devolución de pago o reposición de producto deberá
            ser objeto de un acuerdo formal
            entre el comprador y Etrusca, el cual se asentará por escrito de parte del cliente.</p>
        <p class="p-2" style="text-align: justify;">Esperando siga disfrutando de su visita y agradeciendo su
            preferencia, se ponen a su disposición
            los siguientes documentos:</p>
        <ul class="my-2" style="text-align: justify;">

            <li class="poppins_light justify-align " type="disc">Aviso de Privacidad.</li>
            <li class="poppins_light justify-align ">Términos y Condiciones</li>
            <li class="poppins_light justify-align " type="disc">Póliza de Garantía</li>
        </ul>
        <p class="p-2" style="text-align: justify;">
            En caso de ser una compra en sitio web, se dispone a sus
            órdenes el siguiente medio de Contacto
            Whatsapp 55 41668777
        </p>
        <p class="p-2" style="text-align: justify;">
            Para hacer válida la devolución de dinero o reposición del
            producto, en cualquier de las
            situaciones antes descritas, el Cliente deberá de acudir a la sucursal donde adquirió el
            producto
            con el ticket de compra o bien acudir a alguno de los siguientes puntos de venta:
        </p>
    </section>

    <section class="my-2">
        <div class="table-responsive">
            <table class="table" style="text-align: left;">
                <thead>
                    <tr>
                        <th class="header-tab">Nombre</th>
                        <th class="header-tab">Dirección</th>
                        <th class="header-tab">Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Centro de Distribución Zapopan</td>
                        <td class="tab-oculta">CEDIS (Centro de Distribución)</td>
                        <td>Industria Galletera #121, Col. Industrial Zapopan Norte, Zapopan, Jalisco</td>
                        <td class="tab-oculta">d-Jalisco</td>
                        <td>(01 33) 3165 5527 / (01 33) 3365 0595 zapopan@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Etrusca Comercial - Distribución General</td>
                        <td class="tab-oculta">CEDIS (Centro de Distribución)</td>
                        <td>Poniente 134 413, Industrial Vallejo, Ciudad de México, CDMX, México</td>
                        <td class="tab-oculta">s-cedis-vallejo</td>
                        <td>(01-55) 5579 9860 / (01-55) 5590 5407 / (01-55) 5604 1159 info@cafeetrusca.com
                        </td>
                    </tr>
                    <tr>
                        <td>Distribuidor Coyoacán</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Amores 1734 Local D, Col. del Valle, CP 03104 Alcaldía Benito Juárez.</td>
                        <td class="tab-oculta">d-Coyoacán</td>
                        <td>Atención a clientes vía llamada o whatsapp para delivery en los siguientes
                            teléfonos:
                            55 7864 1854, 55 8046 1492, 55 1632 9123"</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Satélite</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Begonias 44, Las Margaritas Ampliacion, Tlalnepantla</td>
                        <td class="tab-oculta">d-Satélite</td>
                        <td>(01 55) 2628 0688 sateliteetrusca@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Del Valle</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Mercado del Valle Coyoacán Del Valle 03100 Benito Juárez, D.F.</td>
                        <td class="tab-oculta">d-Del Valle</td>
                        <td>(01 55) 5669 1994 / (01 55) 2043 9338 cafeprofesional1@cafepassmar.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Naucalpan</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Av. Manuel Avila Camacho 92, Col. El Conde, Naucalpan, Estado de México</td>
                        <td class="tab-oculta">d-Naucalpan</td>
                        <td>(01 55) 2628 0690 / (01 55) 3268 1477 etruscanaucalpan@telmexmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Coapa</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Avenida Santa Ana, Coyoacán</td>
                        <td class="tab-oculta">d-Coapa</td>
                        <td>Esquina Romero Ibañez, Plaza Zitia Local 4 (01-55) 5697 0265
                            etruscacoapa@yahoo.com.mx</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Revolución</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Amado Nervo No 3, Esquina Mariano Azuela Santa Maria La rivera, 06400 Mexico
                            City, Mexico</td>
                        <td class="tab-oculta">d-Revolución</td>
                        <td>(01 55) 5566 2047 / 5541 1960 / 5409 6557 etruscarevolucion@outlook.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Aguascalientes</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>5 de Mayo 663, Centro, Aguascalientes, Mexico</td>
                        <td class="tab-oculta">d-Aguascalientes</td>
                        <td>(01 449) 994 1761 / (01-449) 962 5200 etruscaags1@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor La Paz</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Sonora #145, Esquina Madero, Col. Pueblo Nuevo, La Paz, BCS</td>
                        <td class="tab-oculta">d-La Paz</td>
                        <td>(01 612) 1222 7209 etruscalapaz@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Los Cabos</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Hidalgo y Libertad S/N, Col. Centro, Los Cabos, BCS</td>
                        <td class="tab-oculta">d-Los Cabos</td>
                        <td>(01 624) 143 9053 / 1552 etruscacabo@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor Pachuca</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>San Felipe de las Torres 303, Local A, Colonia Coscotitlán, Pachuca, Hidalgo
                        </td>
                        <td class="tab-oculta">d-Pachuca</td>
                        <td>(01 771) 107 3673 / (01 775) 753 8319 etrusca.hidalgo@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Distribuidor San Luis Potosí</td>
                        <td class="tab-oculta">Distribuidor Autorizado</td>
                        <td>Calle Naranjos 440, San Luis Potosí, S.L.P.</td>
                        <td class="tab-oculta">d-San Luis Potosí</td>
                        <td>C.P. 78270. Local 2 (444) 811 7822 etruscaslp@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Zona Rosa</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Liverpool 91, Col. Juárez, Cuauhtémoc, D.F.</td>
                        <td class="tab-oculta">s-zona-rosa</td>
                        <td>(01-55) 5533 9402 / 04 / 05 / 06 zonarosa@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Viaducto</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Miguel Ángel 2-A Esquina Santa Anita, Col. Moderna, Benito Juárez, D.F.</td>
                        <td class="tab-oculta">s-viaducto</td>
                        <td>(01-55) 5579 9981 / 9251 viaducto@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Guadalajara</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Av Niños Héroes 2161, Col Americana, Moderna, Guadalajara, Jal., México</td>
                        <td class="tab-oculta">s-guadalajara</td>
                        <td>(01 33) 3827 5286 / 87 / 22 guadalajara@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Monterrey</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Avenida Vasconcelos #501, Interior 1, Centro Comercial</td>
                        <td class="tab-oculta">s-monterrey</td>
                        <td>"Los Mezquites", Col. Centro, Municipio San Pedro Garza García. N.L. (81) 8338
                            1383 / 1857 monterrey@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Puebla</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Boulevard Atlixco 1520, Colonia La Paz, Puebla</td>
                        <td class="tab-oculta">s-puebla</td>
                        <td>(222) 230 5300 / 5896 puebla@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Querétaro</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Tecnológico Sur 10, Colonia Niños Héroes, Querétaro.</td>
                        <td class="tab-oculta">s-querétaro</td>
                        <td>(442) 234 5077 / 7152 / 3562 queretaro@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Tijuana</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Boulevard Díaz Ordaz 13601, Lucio Lopez, Plaza Ximena Local 5, Tijuana</td>
                        <td class="tab-oculta">s-tijuana</td>
                        <td>(664) 681 6600 / 11 tijuana@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Xalapa</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Av Ignacio de la Llave 35, Guadalupe Rodríguez, Xalapa</td>
                        <td class="tab-oculta">s-xalapa</td>
                        <td>(228) 812 0130 / 0660 xalapa@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal León</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Local E, Plaza San Rafael Boulevard Juan José Torres Landa Oriente # 1005, Col.
                            Puerta de San Rafael, Ciudad de León, Guanajuato. CP 37480</td>
                        <td class="tab-oculta">s-leon</td>
                        <td>(477) 212 3798 / 3800 / 962 221 leon@cafeetrusca.com</td>
                    </tr>
                    <tr>
                        <td>Sucursal Toluca</td>
                        <td class="tab-oculta">Sucursal Etrusca</td>
                        <td>Plaza Venecia Metepec Estado de México México</td>
                        <td class="tab-oculta">s-toluca</td>
                        <td>Calle Pedro Ascencio #529 Edificio 2, Local 1, Barrio de Santa Cruz Metepec,
                            Estado de México. CP 52140 Tels (01 722) 238 2566 / (01 722) 238 2567</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div class="row" style="height: 2cm;"></div>