<div class="container-fluid" id="container-receta">
    <div class="row" style="align-items: flex-end;">
        <div class="align-self-end">
            <h1 class="d-none">Recetas Café Etrusca</h1>
            <button type="button" class="btn btn-warning my-2">Comprar ahora</button>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12">
            <p class="p-3">Elige uno de nuestras marcas aliadas para ver las recetas que tenemos</p>
        </div>
        <div class="col-12">
            <div class="container">

            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2 class="title">
                Nuestras deliciosas recetas Café Etrusca
            </h2>
            <p>Descubre un mundo de sabores cafeteros 🚀💕☕</p>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="title">Bebidas de temporada 🌸 🍹🍂❄️</h3>
            <div class="col-12">
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                        <div class="card-body">
                            <div class="card-title">
                                <p>Arte Latte</p>
                                <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                        <div class="card-body">
                            <div class="card-title">
                                <p>Arte Latte</p>
                                <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                        <div class="card-body">
                            <div class="card-title">
                                <p>Arte Latte</p>
                                <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                        <div class="card-body">
                            <div class="card-title">
                                <p>Arte Latte</p>
                                <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="title">Nuestras recetas </h3>
        </div>
        <div class="col-12">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <div class="card my-4" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/PRUEBAS/arte-latte.webp">
                    <div class="card-body">
                        <div class="card-title">
                            <p>Arte Latte</p>
                            <i class="fas fa-clock"></i> Tiempo de cocción: 30 minutos
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>