<!-- <div style="display: flex; justify-content: center;">
    <img src="../../../../assets/PRUEBAS/demo-video-arte-latte.gif" alt="Descripción del GIF"
        style="max-width: 96.25rem; max-height: 35.625rem; width: 100%; height: auto; margin: auto;">
</div> -->

<div class="d-flex flex-column justify-content-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="width: 350px;">
                <img src="../../../../assets/icons/Tostado-basico.svg" alt="Arte Latte" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 4rem; font-weight: 700;">Taller Básico Arte Latte</h1>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-calendar"></i> 2 días</p>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-clock"></i> 15 horas</p>
            </div>
        </div>
    </div>
</div>

<!-- <aside class="container">
    <p style="text-align: justify;">
        Aprender el arte del latte puede transformar la experiencia de tomar café en algo sorprendente. Dominar la
        técnica de verter la leche vaporizada sobre el espresso te brinda la oportunidad de crear diseños elegantes y
        cautivadores en la superficie de tu bebida, desde hojas delicadas hasta corazones reconfortantes. Más allá de su
        aspecto visual, el arte latte muestra tu dedicación al detalle y a la artesanía, elevando tanto la presentación
        como el sabor de cada taza de café, y añadiendo un toque artístico a la rutina diaria.
    </p>
</aside> -->

<section class="container">
    <!-- <div class="m-t-5"><br>
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">¿Qué aprenderás?</h3><br>
        <h3 class="fs-5">Teoría</h3>
        <ul class="list_style">
            <li>Conocerás acerca de los <b>principios básicos</b> sobre la <b>extracción</b> del espresso.</li>
            <li>Conocerás los <b>compuestos básicos de la leche</b> y su manejo.</li>
            <li>Qué aspectos debemos considerar al poner en práctica la elaboración de los <b>diseños básicos</b> en
                taza.</li>
        </ul><br>
        <h3 class="fs-5">Práctica</h3>
        <ul class="list_style">
            <li>Aprenderás a <b>preparar de manera adecuada</b> un expresso.</li>
            <li>Aprenderás la <b>técnica para un espumado de leche </b>adecuado.</li>
            <li>Poner en <b>práctica la técnica de vertido libre</b> con el fin de crear los diseños básicos del arte
                latte.</li>
        </ul>
    </div><br> -->
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Objetivo</h3>
        <p class="fs-5S">
            El participante obtendrá mediante un aprendizaje teórico-práctico conocimientos básicos de los procesos que
            afectan la calidad del café en verde. Discernirá entre diferentes tipos de equipos para tostar y entenderá
            su funcionamiento, que comprenda el proceso y etapas de tostado, identificando por medio de la evaluación
            sensorial la calidad del tueste.
        </p>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Temario </h3>
        <ul class="list_style">
            <h3 class="fs-5">Teoría</h3>
            <ul class="list_style">
                <li>
                    <b>Especies y variedades de café</b>
                    <ul>&#40;árbol genealógico del café&#41;</ul>
                </li>
                <li>
                    <b>Beneficio húmedo</b>
                    <ul>Equipos y procesos: lavado, despulpado natural</ul>
                </li>
                <li>
                    <b>Beneficio seco</b>
                    <ul>Equipos y controles de calidad</ul>
                </li>
                <li>
                    <b>Análisis físico de café verde</b>
                    <ul>Uso adecuado de instrumentos para análisis físico del café verde usando el protocolo de la SCA
                    </ul>
                </li>
                <li><b>Propiedades químicas del café verde y tostado</b></li>
                <li>
                    <b>Equipos de Tostado</b>
                    <ul>Historia, tipos de máquinas y operación básica</ul>
                </li>
                <li>
                    <b>Principios de tostado</b>
                    <ul>Etapas y curvas de tostado, tipos de calor, registro del proceso y defectos en el tueste.</ul>
                </li>
            </ul>
            <h3 class="fs-5">Práctica</h3>
            <ul class="list_style">
                <li>Prácticas en tostador de pruebas probat modelo brz 2</li>
                <li>Prácticas en tostador coffee tech engineering modelo fz-94</li>
                <li>Evaluación sensorial básica del café tostado</li>
            </ul>
        </ul>
    </div>
    <div class="row" style="height: 2cm;"></div>
</section>