<div class="row">
    <section style="position: relative; background-color: #03edf0; height: 60vh; overflow: hidden;">
        <div class="carousel carousel-slider">
            <div class="row">
                <div class="col s12 disp-cont">
                    <div class="col l7 m7 s12 txt-1">
                        <h1 style="font-size: 6rem; font-weight: 900;">¿Quiénes somos?</h1>
                    </div>
                    <div class="rectangule-blue"></div>
                    <div class="col l5 m5 s12 img-1" style="position: relative;">
                        <img src="https://cafeetrusca.com/img/nosotros/volador.webp" alt="Nosotros" title="Nosotros"
                            class="volador animate__animated animate__headShake personaennube"
                            style="width: 300px; height: auto; object-fit: cover;">
                        <img src="https://cafeetrusca.com/img/nosotros/NUBES.webp" alt="nubes etrusca"
                            title="nubes etrusca"
                            style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5">
        <div class="container my-4">
            <div class="text-center">
                <h2 style="font-size: 2.1875rem; font-weight: 700;">Bienvenidos a ETRUSCA COMERCIAL, SA DE CV.</h2>
                <p style="font-weight: 300; font-size: 1.575rem;">Somos tu aliado en el mundo de las Barras de Café de
                    Especialidad</p>
            </div><br>

            <div class="my-4">
                <p>Somos una empresa comercializadora que promueve y asesora a los negocios de café en México y el
                    extranjero; ayudamos a pequeños, medianos y grandes empresarios para que progresen y se desarrollen
                    en el segmento de café de manera competittiva.</p>

                <p>Queremos ser parte de tu equipo y apoyarte en el crecimiento sólido y profesional de tu empresa. Aquí
                    te
                    presentamos lo que podemos ofrecerte:</p>
            </div><br><br>

            <div class="row">
                <div class="col-md-6 my-2">
                    <h3 style="font-size: 1.575rem; font-weight: 700;">Nuestra Trayectoria</h3>
                    <p style="text-align: justify;">Con más de 20 años de experiencia en el sector, somos líderes
                        indiscutibles en el mercado de Barras
                        de Café de Especialidad en todo el país.</p>
                </div>
                <div class="col-md-6 my-2">
                    <h3 style="font-size: 1.575rem; font-weight: 700;">Abastecimiento Confiable</h3>
                    <p style="text-align: justify;">Gracias a nuestra integración vertical en la Cadena Productiva del
                        Café,
                        garantizamos un suministro
                        confiable, de calidad y transparente para tu negocio.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-2">
                    <h3 style="font-size: 1.575rem; font-weight: 700;">Equipo Especializado</h3>
                    <p style="text-align: justify;">Nuestro equipo altamente capacitado y especializado en el sector de
                        Barras de Café está listo para
                        asesorarte y acompañarte en tu trayectoria empresarial.</p>
                </div>
                <div class="col-md-6 my-2">
                    <h3 style="font-size: 1.575rem; font-weight: 700;">Productos de Calidad</h3>
                    <p style="text-align: justify;">Distribuimos las mejores marcas de insumos, accesorios, equipos y
                        maquinaria a precios competitivos
                        para que ofrezcas la mejor experiencia a tus clientes.</p>
                </div>
            </div><br>

            <div class="row" style="height: 1cm"></div>

            <div class="text-center my-4">
                <h3 style="font-size: 1.575rem; font-weight: 700;">Educación y Profesionalización</h3>
                <p style="text-align: center;">Somos líderes en la impartición de cursos diseñados para iniciarte,
                    mantener
                    y consolidarte en el sector
                    de la especialidad del café. También patrocinamos activamente el conocimiento y la
                    profesionalización
                    del sector.</p>
            </div>
        </div>


    </section>


    <div class="container d-flex flex-wrap justify-content-around">
        <!-- Primer elemento de la cuadrícula -->
        <div class="grid-item"></div>
        <!-- Segundo elemento de la cuadrícula -->
        <div class="grid-item"></div>
        <!-- Tercer elemento de la cuadrícula -->
        <div class="grid-item"></div>
        <!-- Cuarto elemento de la cuadrícula -->
        <div class="grid-item"></div>
        <!-- Quinto elemento de la cuadrícula -->
        <div class="grid-item"></div>
        <!-- Sexto elemento de la cuadrícula -->
        <div class="grid-item"></div>
    </div>

    <div class="row" style="height: 1cm"></div>

    <!--Contenedor misión e imagen representativa-->
    <div class="container my-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 contenedor-texto">
                <h3 style="font-size: 1.575rem; font-weight: 700;">Misión</h3>
                <p style="text-align: justify;">
                    Impulsamos y apoyamos a todos los eslabones de la industria del café desde hace 27 años.
                    Fomentamos la calidad y desarrollo de nuestros productores, transformamos baristas en expertos y
                    guiamos
                    a
                    emprendedores y empresarios del negocio del café a través del complejo universo del café de
                    especialidad;
                    cuidando la trazabilidad del café, desde la siembra hasta que el consumidor disfruta en su taza.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <i class="fas fa-eye" style="font-size: 3rem; color: black;"></i>
            </div>
        </div>
    </div>

    <!--Contenedor visión e imagen representativa-->
    <div class="container my-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 contenedor-texto">
                <h3 style="font-size: 1.575rem; font-weight: 700;">Visión</h3>
                <p style="text-align: justify;">
                    Ser el mayor impulsor y referente por excelencia del café en México. Para ello buscamos, no sólo
                    ofrecer los
                    mejores insumos y maquinaria, sino también generar y compartir conocimiento que fomente el
                    desarrollo que
                    por el impacto social que genera, resulta estratégica para el país. Los retos que plantea el futuro
                    para
                    esta industria son duros y por eso buscamos acompañar, apoyar y guiar a quienes integran las cadenas
                    productivas del café.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <i class="fas fa-bullseye" style="font-size: 3rem; color: black;"></i>
            </div>
        </div>
    </div>

    <div class="row" style="height: 2cm"></div>

    <!--Contenedor nuestra historia-->
    <div class="container my-4">
        <div class="container">
            <h3 class="text-center" style="font-size: 2.1875rem; font-weight: 700;">Nuestra Historia</h3>
            <p style="text-align: justify;">En 1995 abrimos nuestras puertas en la Ciudad de México, la colonia Roma
                Norte fue testigo de la forma en que nos dimos a conocer y aprendimos acerca de las necesidades del
                sector cafetero. </p>
        </div>

        <div class="container">
            <div class="graphic-history">


                <ul class="nav nav-tabs graphic-history-line nav-tabs-responsive" id="myTab" role="tablist">
                    <li class="graphic-history-line-item prev-btn"></li>
                    <li class="nav-item graphic-history-line-item" role="presentation">
                        <button class="nav-link active" id="tab-1" data-bs-toggle="tab" data-bs-target="#tabs-1"
                            type="button" role="tab" aria-controls="home" aria-selected="true"><span>2018</span>
                        </button>
                    </li>
                    <li class="nav-item graphic-history-line-item" role="presentation">
                        <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#tabs-2" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">
                            <span>2019</span></button>
                    </li>
                    <li class="nav-item graphic-history-line-item" role="presentation">
                        <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#tabs-3" type="button"
                            role="tab" aria-controls="contact" aria-selected="false">
                            <span>2020</span></button>
                    </li>
                    <li class="nav-item graphic-history-line-item" role="presentation">
                        <button class="nav-link" id="tab-4" data-bs-toggle="tab" data-bs-target="#tabs-4" type="button"
                            role="tab" aria-controls="contact" aria-selected="false">
                            <span>2021</span></button>
                    </li>
                    <li class="nav-item graphic-history-line-item" role="presentation">
                        <button class="nav-link" id="tab-5" data-bs-toggle="tab" data-bs-target="#tabs-5" type="button"
                            role="tab" aria-controls="contact" aria-selected="false">
                            <span>2022</span></button>
                    </li>
                    <li class="graphic-history-line-item next-btn"></li>
                </ul>


                <div class="graphic-history-content">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="graphic-history-content-item">
                                <div class="graphic-history-content-img">
                                    <img src="https://picsum.photos/id/547/800/800" alt="">
                                </div>
                                <div class="graphic-history-content-text sitecontent sitecontent-desc">
                                    <h1>2018 Why do we use it?</h1>
                                    <p>Curabitur porttitor diam lorem, non gravida ligula porta et. Aliquam erat
                                        volutpat. In tincidunt,
                                        urna eu tempus scelerisque, magna justo tempor quam, ac cursus metus ex id
                                        risus. Curabitur et
                                        malesuada nulla. Quisque pharetra in ex id eleifend. Cras nibh elit, tempor id
                                        augue eget, venenatis
                                        feugiat ipsum. Curabitur vehicula aliquam mollis. In in porttitor metus. Sed
                                        diam nisi, faucibus vitae
                                        nibh eu, imperdiet pellentesque eros. In sit amet blandit turpis. Mauris
                                        viverra, dui ac interdum
                                        consequat, ex orci condimentum tellus, at pretium tortor nisl vel purus. Nulla
                                        eu nibh mi. Aenean
                                        tincidunt convallis felis in rutrum. Phasellus vitae eros nibh. Orci varius
                                        natoque penatibus et
                                        magnis dis parturient montes, nascetur ridiculus mus. Sed pellentesque velit
                                        dictum, laoreet nulla
                                        vitae, mattis eros.</p>

                                    <p>Quisque vitae rutrum ipsum. Suspendisse interdum lectus et laoreet vulputate.
                                        Vivamus cursus nisi sed
                                        enim consectetur sollicitudin. Maecenas placerat risus turpis, ut tincidunt
                                        velit lobortis at.
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Duis
                                        sapien massa, posuere nec sem eget, pretium molestie lorem. Proin ipsum nisl,
                                        porta et iaculis sit
                                        amet, iaculis sed diam. Interdum et malesuada fames ac ante ipsum primis in
                                        faucibus. Mauris semper
                                        sagittis magna, eu aliquam sem. Donec hendrerit eros sapien, eu interdum nulla
                                        tempus at. Praesent
                                        mattis risus ut dolor ultricies, nec dignissim neque ultrices. Phasellus lorem
                                        nisl, imperdiet at ante
                                        et, euismod efficitur ante.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="graphic-history-content-item">
                                <div class="graphic-history-content-img">
                                    <img src="https://picsum.photos/id/376/800/800" alt="">
                                </div>
                                <div class="graphic-history-content-text sitecontent sitecontent-desc">
                                    <h1>2019 What is Lorem Ipsum?</h1>
                                    <p>Nunc ultrices elementum lacinia. Sed ullamcorper porta urna, a egestas mi maximus
                                        ut. Aenean
                                        vestibulum nulla sit amet aliquet feugiat. Sed vitae placerat dolor. Donec erat
                                        mi, accumsan at orci
                                        quis, pulvinar bibendum eros. Nunc porta enim non tristique fermentum.
                                        Suspendisse eu nibh quam. Morbi
                                        eget fermentum turpis. Quisque nec facilisis mauris.</p>

                                    <p>Curabitur porttitor diam lorem, non gravida ligula porta et. Aliquam erat
                                        volutpat. In tincidunt,
                                        urna
                                        eu tempus scelerisque, magna justo tempor quam, ac cursus metus ex id risus.
                                        Curabitur et malesuada
                                        nulla. Quisque pharetra in ex id eleifend. Cras nibh elit, tempor id augue eget,
                                        venenatis feugiat
                                        ipsum. Curabitur vehicula aliquam mollis. In in porttitor metus. Sed diam nisi,
                                        faucibus vitae nibh
                                        eu, imperdiet pellentesque eros. In sit amet blandit turpis. Mauris viverra, dui
                                        ac interdum
                                        consequat, ex orci condimentum tellus, at pretium tortor nisl vel purus. Nulla
                                        eu nibh mi. Aenean
                                        tincidunt convallis felis in rutrum. Phasellus vitae eros nibh. Orci varius
                                        natoque penatibus et
                                        magnis dis parturient montes, nascetur ridiculus mus. Sed pellentesque velit
                                        dictum, laoreet nulla
                                        vitae, mattis eros.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="graphic-history-content-item">
                                <div class="graphic-history-content-img">
                                    <img src="https://picsum.photos/id/324/800/800" alt="">
                                </div>
                                <div class="graphic-history-content-text sitecontent sitecontent-desc">
                                    <h1>2020 Where does it come from?</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis efficitur
                                        nibh. In ex neque,
                                        malesuada nec leo at, tempor egestas mi. Nam luctus quam vitae augue vestibulum
                                        ullamcorper. Nam
                                        finibus eleifend dolor, quis sollicitudin lectus venenatis in. Nullam vitae mi
                                        faucibus, ultrices nunc
                                        eget, interdum ante. Morbi nisi lectus, ornare nec diam eget, congue posuere
                                        erat. Duis in lorem elit.
                                        Suspendisse venenatis sapien at elit viverra vehicula. Cras pharetra ultrices
                                        semper. Sed venenatis
                                        nibh eu feugiat mattis. Curabitur vel posuere libero. Pellentesque in risus
                                        eleifend, blandit nisi
                                        nec, dictum nisi. Aenean tincidunt ex ut malesuada hendrerit. Fusce commodo,
                                        diam sit amet lobortis
                                        maximus, purus ipsum semper purus, nec tristique quam orci sit amet diam.
                                        Praesent nulla augue,
                                        feugiat fringilla tortor egestas, congue vestibulum elit.</p>

                                    <p>Ut porta elit elit, eu laoreet sapien eleifend id. Nam dictum orci ut sem
                                        ultricies, ac dictum metus
                                        posuere. Morbi eleifend metus ut tincidunt placerat. Maecenas blandit dolor
                                        augue, in viverra tortor
                                        pharetra at. Maecenas ac hendrerit nisi. Ut gravida tellus vitae fermentum
                                        mattis. Aenean tincidunt
                                        metus quis massa blandit tincidunt. Nam ac pulvinar mauris. Ut eget molestie
                                        tellus, ut bibendum
                                        nulla. Vestibulum posuere nisl id nibh commodo, in condimentum ante suscipit.
                                        Praesent accumsan massa
                                        sit amet posuere dictum. Cras tempor mauris nunc, sit amet vestibulum lectus
                                        pellentesque in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-4" role="tabpanel" aria-labelledby="tab-4">
                            <div class="graphic-history-content-item">
                                <div class="graphic-history-content-img">
                                    <img src="https://picsum.photos/id/337/800/800" alt="">
                                </div>
                                <div class="graphic-history-content-text sitecontent sitecontent-desc">
                                    <h1>2021 Where can I get some?</h1>
                                    <p>ICRYPEX, Türk Sermayesi ve Türk Kodu ile Gökalp İçer Tarafından Küresel Bir
                                        Vizyonla Kurulmuştur.</p>
                                    <p>Tamamen Türk sermayesi ve Türk kodu ile deneyimli finans profesyonelleri
                                        tarafından kurulan ICRYPEX; kripto para ekosisteminde yarattığı fark ile
                                        küresel ölçekte başarılar elde etmiş, tüm dünyanın dikkatini çekmiştir.</p>
                                    <p>Kurulduğu günden itibaren 7 gün 24 saat ulaşılabilir bir kripto borsası
                                        olarak faaliyet gösteren ICRYPEX, bu alanda da Türkiye’de ilktir.
                                        Kullanıcılar, diledikleri zaman tüm sorularını ICRYPEX Müşteri Destek
                                        Hattı’na iletebilmektedir.</p>
                                    <p>Kendi Node’larına, Trading ve Matching Engine’lerine sahip; emir defteri
                                        yönetimini kendi yapan kripto para platformudur. Kullanıcılarına gerçek bir
                                        blok zincir tecrübesini sunmayı hedefleyen ICRYPEX, bu alandaki AR-GE
                                        çalışmalarıyla kitleleri blok zincir ile tanıştırmaktadır.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-5" role="tabpanel" aria-labelledby="tab-5">
                            <div class="graphic-history-content-item">
                                <div class="graphic-history-content-img">
                                    <img src="https://picsum.photos/id/327/800/800" alt="">
                                </div>
                                <div class="graphic-history-content-text sitecontent sitecontent-desc">
                                    <h1>2022 Where does it come from?</h1>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of
                                        classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                        McClintock, a Latin
                                        professor at Hampden-Sydney College in Virginia, looked up one of the more
                                        obscure Latin words,
                                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word
                                        in classical
                                        literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                                        1.10.32 and 1.10.33 of
                                        "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                                        written in 45 BC. This book
                                        is a treatise on the theory of ethics, very popular during the Renaissance. The
                                        first line of Lorem
                                        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                                        those interested.
                                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                                        also reproduced in
                                        their exact original form, accompanied by English versions from the 1914
                                        translation by H. Rackham.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!--contenedor responsabilidad social-->
    <!-- <div class="container">
        <h3 class="p-3 title" style="text-align: center;">Explora los diversos impulsos que tenemos para la sostenibilidad de
            la empresa:</h3>
        <div class="d-flex flex-wrap justify-content-around align-items-center my-4">
            <div class="my-2" style="width: 40.625rem; height: 16.0225rem; border-radius: 15px; box-shadow: 0px 4px 4px 0px; position: relative; background-image: url(../../../assets/PRUEBAS/finca-cafe.webp); background-size: cover;">
                <p style="position: absolute; bottom: 10px; left: 5%; color: #341a14; font-size: 25px; font-weight: 800;  background: #dfcba8; padding: 7px; width: 95%; height: 25%;">
                    Barista Champ</p>
            </div>
            <div class="my-2"
                style="width: 40.625rem; height: 16.0225rem; border-radius: 15px; box-shadow: 0px 4px 4px 0px; position: relative;  background-image: url(../../../assets/PRUEBAS/agua.webp); background-size: cover;">
                <p
                    style="position: absolute; bottom: 10px; left: 5%; color: #341a14; font-size: 25px; font-weight: 800;  background: #dfcba8; padding: 7px; width: 95%; height: 25%;">
                    Revolucionando el consumo de agua</p>
            </div>
            <div class="my-2"
                style="width: 40.625rem; height: 16.0225rem; border-radius: 15px; box-shadow: 0px 4px 4px 0px; position: relative;  background-image: url(../../../assets/PRUEBAS/energia.webp); background-size: cover;">
                <p
                    style="position: absolute; bottom: 10px; left: 5%; color: #341a14; font-size: 25px; font-weight: 800; background: #dfcba8; padding: 7px;">
                    Transformando energía para un futuro más
                    sontenible</p>
            </div>
            <div class="my-2"
                style="width: 40.625rem; height: 16.0225rem; border-radius: 15px; box-shadow: 0px 4px 4px 0px; position: relative;  background-image: url(../../../assets/PRUEBAS/reciclaje.webp); background-size: cover;">
                <p
                    style="position: absolute; bottom: 10px; left: 5%; color: #341a14; font-size: 25px; font-weight: 800;  background: #dfcba8; padding: 7px; width: 95%; height: 25%;">
                    Líderes del reciclaje</p>
            </div>
        </div>
    </div> -->
    <div class="container">
        <h3 class="p-3 title" style="text-align: center;">Explora los diversos impulsos que tenemos para la
            sostenibilidad de
            la empresa:</h3>

        <div class="gallery-wrap">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>

        </div>
    </div>
</div>

<div class="row" style="height: 2cm;"></div>