/* Estilo para cada elemento de la cuadrícula */
.grid-item {
    width: calc(33.33% - 20px); /* Ancho de cada elemento (ajusta según el número de columnas deseadas) */
    margin-bottom: 20px; /* Espacio entre elementos */
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    height: 250px; /* Altura fija para mantener una cuadrícula uniforme (ajusta según tus necesidades) */
}

/* Ejemplo de fondos de imágenes para cada elemento */
.grid-item:nth-child(odd) {
    background-image: url('../../../assets/PRUEBAS/brewbar.webp'
    );
}

.grid-item:nth-child(even) {
    background-image: url('../../..//assets/PRUEBAS/coldbrew.webp');
}

.personaennube{
    margin-left: 45vw;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
  }
  
  .item-2 { 
    background-image: url('../../../assets/PRUEBAS/botella.webp');
  }
  
  .item-3 { 
    background-image: url('../../../assets/PRUEBAS/foco.webp');
  }
  
  .item-4 { 
    background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
  }
  
  .item-5 { 
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
  }
  
  .social{
    position: absolute;
    right: 35px;
    bottom: 0;
    
    img{
      display: block;
      width: 32px;
    }
  }