<section class="carrusel">
    <div class="carousel carousel-slider">
        <div class="row">
            <!-- Contenedor de la descripción y título -->
            <div class="col-7 justify-content-center">
                <div class="row">
                    <div class="col-4">
                        <h1>¿Quiénes somos?</h1>
                    </div>
                </div>
            </div>

            <!-- Contenedor del carrusel de imágenes -->
            <div class="col-4">
                <!-- Primer elemento volador -->
                <div class="col-7 volador">
                    <img src="../../../assets/banners/volador.webp" alt="Nosotros" title="Nosotros" class="img-fluid">
                </div>

                <!-- Segundo elemento volador (vacío en tu código actual) -->
                <div class="col-7 volador">
                    <!-- Puedes agregar contenido aquí si es necesario -->
                </div>

                <!-- Otros elementos del carrusel (comentados en tu código actual) -->
                <!-- <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/banners/NUBES.webp" alt="nubes etrusca" title="nubes etrusca" class="img-fluid">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row center-all-element p-5">
        <div class="col-md-6">
            <img class="foto-etrusca" alt="CEDIS VALLEJO" src="../../../assets/banners/FOTO-ETRUSCA1.webp">
        </div>
        <div class="col-md-6">
            <h2 class="title p-2 text-center">Referente para la industria del café en México desde 1995</h2>
            <p class="text paragrap">
                Líderes en el suministro de insumos para preparación de bebidas. Al ser especialistas en la
                industria del café de alta calidad; trabajamos sólo con Productos líderes, accesorios y equipos de
                tecnología de punta.</p>

            <p class="text paragrap">Nuestro <b>personal</b> está <b>capacitado y actualizado en todas las áreas</b> de
                la cadena productiva
                por lo que somos capaces de brindar apoyo profesional de manera continua y eficiente.</p>

            <p class="text paragrap">Desde la aparición de las barras de café de especialidad hemos
                impulsado la industria,
                apoyando a los emprendedores y empresarios del café.</p>

            <p class="text paragrap"> Para nosotros <b>es un gran placer ser parte del sueño</b> de tantos
                emprendedores.</p>
        </div>
    </div>
</div>


<div class="container-fluid content-grey">
    <p>La pasión se traduce en excelencia. La excelencia favorece el desarrollo.
        El desarrollo dignifica y reivindica. Nuestra pasión es el café y su gente.</p>
</div>

<section class="container my-4">
    <div class="row">
        <div class="col-md-6 container-mision">
            <div class="d-flex flex-column ">
                <img src="../../../assets/icons/mision.webp" class="icon">
            </div>
            <label class="p-2 labels">MISIÓN</label>
            <p class="p-3 text">
                <b>Impulsamos y apoyamos a todos los eslabones de la
                    industria del café</b> desde hace 27 años.
                <b>Fomentamos la calidad y desarrollo</b> de nuestros
                productores, transformamos baristas en expertos y
                guiamos a emprendedores y empresarios del negocio
                del café a través del complejo universo del café de
                especialidad; cuidando la trazabilidad del café desde
                la siembra hasta la taza del consumidor
            </p>
        </div>

        <div class="col-md-6 container-mision">
            <div class="d-flex flex-column ">
                <img src="../../../assets/icons/vision.webp" class="icon">
            </div>
            <label class="p-2 labels">VISIÓN</label>
            <p class="p-3 text">
                <b> Ser el mayor impulsor y referente por excelencia de la
                    industria del café en México.</b> Para lograrlo, no
                solo buscamos ofrecer los mejores insumos y maquinaria, sino
                también <b>generar y compartir conocimiento</b> que
                fomente el desarrollo de una industria estratégica para el país
                debido al impacto social que genera. Los retos que plantea el futuro para esta industria
                son duros; por eso, <b>buscamos acompañar, apoyar y
                    guiar</b> a quienes integran las cadenas productivas del café.
            </p>
        </div>
    </div>

    <div class="row space"></div>

    <div class="container my-4">
        <h2 class="title text-center">VALORES
            <hr class="line">
        </h2>

    </div>

    <div class="row space"></div>

    <div class="row">
        <div class="col-md-6 container-valores">
            <div class="d-flex flex-column">
                <img src="../../../assets/icons/desarrollo.webp" class="icon">
                <label class="p-2 labels">DESARROLLO</label>
                <p class="p-3 text">
                    <b>Fomentamos la mejora continua de las capacidades</b>, conocimientos y habilidades de cada miembro
                    interactúa
                    con la organización. Estamos convencidos de que las personas preparadas generan industrias
                    poderosas.
                </p>
            </div>
        </div>
        <div class="col-md-6 container-valores">
            <div class="d-flex flex-column">
                <img src="../../../assets/icons/vision.webp" class="icon">
            </div>
            <label class="p-2 labels">EXCELENCIA</label>
            <p class="p-2 text">
                Alcanzamos altos estándares de calidad en nuestros productos y servicios. Conocemos la importancia
                de la
                industria, por eso buscamos dignificarla poniendo atención a los más mínimos detalles de cada
                proceso.
                Apelar a la excelencia es apelar a servir mejor.
            </p>
        </div>

        <div class="row space"></div>

        <div class="col-md-6 container-valores">
            <img src="../../../assets/icons/excelencia.webp" class="icon">
            <label class="p-2 labels">RESPONSABILIDAD SOCIAL</label>
            <p class="p-2 text">
                <b>Cuidamos los recursos humanos y naturales</b> involucrados en nuestros procesos.
                Comprendemos el impacto que la industria tiene en el medio ambiente, en grupos vulnerables y en la
                sociedad en general. Por lo tanto, nos esforzamos por garantizar la sustentabilidad de nuestros
                procesos.
                Creemos que cuando las personas y el medio ambiente están en equilibrio, esto se refleja en la sociedad
                y
                en las industrias, asegurando así una mejor calidad de vida para las generaciones futuras.
            </p>
        </div>
        <div class="col-md-6 container-valores">
            <img src="../../../assets/icons/desarrollo.webp" class="icon">
            <label class="p-2 labels">INNOVACIÓN</label>
            <p class="p-2 text">
                <b>Evolucionamos de la mano</b> con nuestros productores,
                proveedores, consumidores y sus necesidades.
                Dedicamos grandes esfuerzos al desarrollo de nuestro
                equipo de trabajo, así como a la creación de nuevos productos y servicios.
                Buscamos satisfacer las necesidades de cada uno de nuestros
                clientes, haciendo cadenas de abastecimiento cada vez más eficientes.
            </p>
        </div>
    </div>
</section>

<section class="container-brands">
    <div class="row space"></div>

    <div class="container my-4">
        <h2 class="title text-center">NUESTRAS MARCAS</h2>
        <hr class="line">
    </div>

    <div class="row space"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 p-3 flecha-container">
                <label class="text">Debido a su <b>alto peso social y el impacto directo</b> en la calidad de vida de
                    las familias
                    productoras, es el <b>proyecto más importante de Etrusca.</b> Trabaja directamente en campo con los
                    productores, quienes se preocupan por cuidar el entorno, proceso y calidad del aromático; brindan
                    trabajos exclusivos cuidando el medio ambiente, la calidad de los suelos, nutrientes, sombra y
                    sostenibilidad. La misión es <b>preservar y presentar cafés de especialidad</b> para nuestros
                    clientes, posicionando al café mexicano entre los mejores del mundo.
                </label>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12 p-3 text-center">
                <a href="https://baristachamp.com/" target="_blank">
                    <img class="icon-brand" src="../../../assets/LogosMarcas/baristaChamp.webp">
                </a>
            </div>
        </div>
    </div>

    <div class="row space"></div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-2 col-sm-12 text-center">
                <a href="https://baristachamp.com/" target="_blank"><img class="icon-brand"
                        src="../../../assets/LogosMarcas/ChillOut.png" style="height: 172.83px; width: auto;"></a>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 p-3 flecha-container">
                <label><b>ChillOut</b>, la marca líder de <b>insumos para cafetería y 100% mexicana,</b> se esfuerza
                    diariamente para brindar a sus clientes una experiencia excepcional. Comprometidos con la calidad,
                    nuestros productos destacan no sólo por su excelencia, sino también por la imbatible relación
                    precio-beneficio de nuestros <b>polvos, jellies, perlas explosivas, tapioca, concentrados, jarabes y
                        purés.</b>En el corazón de nuestra filosofía se encuentra la pasión por la innovación y un
                    futuro cercano, ampliaremos nuestras líneas existentes con <b>nuevos y emocionantes sabores.</b>
                </label>
            </div>
        </div>
    </div>

    <div class="row space"></div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-10 col-sm-12 p-3 flecha-container">
                <label>El proyecto con el que <b>le rendimos culto al café.</b> Si bien para un barista sus activos más
                    preciados son su conocimiento y habilidad,
                    resulta imprescindible contar con accesorios de calidad para lograr un gran café. La Fenice es tu
                    mejor aliado para disfrutar de
                    ritual. Contamos con <b>todo tipo de accesorios</b> que te ayudan a rendir culto al café y té; para
                    hacer de ellos <b>toda una experiencia.</b>
                </label>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12 text-center">
                <a href="" target="_blank"><img class="icon-brand" src="../../../assets/LogosMarcas/fenice.webp"></a>
            </div>
        </div>
    </div>

    <div class="row space"></div>
</section>

<div class="row space"></div>