<section class="carrusel">
    <div class="carousel carousel-slider">
        <div class="row">
            <div class="col-4 justfy-content-center">
                <h1 class="title">¿Quiénes somos?</h1>
            </div>
            <div class="col-8 volador">
                <img src="../../../assets/banners/volador.webp" alt="Nosotros" title="Nosotros">
            </div>
            <div class="">
                <img src="../../../assets/banners/NUBES.webp" alt="nubes etrusca" title="nubes etrusca">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row center-all-element p-5">
        <div class="col-md-6">
            <img class="foto-etrusca" alt="CEDIS VALLEJO" src="../../../assets/banners/FOTO-ETRUSCA1.webp">
        </div>
        <div class="col-md-6">
            <h2 class="title p-2">Referente para la industria del café en México desde 1995</h2>
            <p class="p-2 text">
                Líderes en el suministro de insumos para preparación de bebidas. Al ser especialistas en la
                industria del café de alta calidad; trabajamos sólo con productos líderes, accesorios y equipos de
                tecnología de punta.

                Nuestro <b>personal</b> está <b>capacitado y actualizado en todas las áreas</b> de la cadena productiva por lo que
                somos capaces de brindar apoyo profesional de manera continua y eficiente.

                Así es como desde la aparición de las barras de café de especialidad hemos impulsado la industria,
                apoyando a los emprendedores y empresarios del café.

                Para nosotros <b>es un gran placer ser parte del sueño</b> de tantos emprendedores.
            </p>
        </div>
    </div>
</div>


<div class="container-fluid content-grey">
    <p>La pasión se traduce en excelencia. La excelencia favorece el desarrollo.
        El desarrollo dignifica y reivindica. Nuestra pasión es el café y su gente.</p>
</div>

<section class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/icons/mision.webp">
            <label>MISIÓN</label>
            <p class="text">
                Impulsamos y apoyamos a todos los eslabones de la industria del café desde hace 27 años.
                Fomentamos la calidad y desarrollo de nuestros productores, transformamos baristas en expertos y guiamos
                a emprendedores y empresarios del negocio del café a través del complejo universo del café de
                especialidad; cuidando la trazabilidad del café, desde la siembra hasta que el consumidor lo disfruta en
                su taza
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/icons/vision.webp">
            <label>VISIÓN</label>
            <p class="text">
                Ser el mayor impulsor y referente por excelencia de la industria del café en México. Para ello buscamos,
                no sólo ofrecer los mejores insumos y maquinaria, sino también generar y compartir conocimiento que
                fomente el desarrollo de una industria, que por el impacto social que genera, resulta estratégica para
                el país. Los retos que plantea el futuro para esta industria son duros y por eso buscamos acompañar,
                apoyar y guiar a quienes integran las cadenas productivas del café.
            </p>
        </div>
    </div>

    <div class="container">
        <h2>VALORES</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/icons/desarrollo.webp">
            <label>DESARROLLO</label>
            <p class="text">
                Fomentamos la mejora continua de las capacidades, conocimientos y habilidades de cada miembro interactúa
                con la organización. Estamos convencidos de que las personas preparadas generan industrias poderosas.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/icons/vision.webp">
            <label>EXCELENCIA</label>
            <p class="text">
                Alcanzamos altos estándares de calidad en nuestros productos y servicios. Conocemos la importancia de la
                industria, por eso buscamos dignificarla poniendo atención a los más mínimos detalles de cada proceso.
                Apelar a la excelencia es apelar a servir mejor.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/icons/excelencia.webp">
            <label>RESPONSABILIDAD SOCIAL</label>
            <p class="text">
                Cuidamos los recursos humanos y naturales involucrados en nuestros procesos. Entendemos el impacto que
                la industria genera en el ambiente, grupos vulnerables y la sociedad en general, por eso procuramos la
                sustentabilidad de nuestros procesos. Si las personas y el medio ambiente están bien, eso se refleja en
                la sociedad y las industrias, asegurando la calidad de vida de generaciones futuras.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/icons/desarrollo.webp">
            <label>INNOVACIÓN</label>
            <p class="text">
                Evolucionamos de la mano con nuestros productores, proveedores, consumidores y sus necesidades.
                Dedicamos grandes esfuerzos al desarrollo de nuestro equipo de trabajo, nuevos productos y servicios que
                satisfagan las necesidades de cada uno de nuestros clientes haciendo cadenas de abasto cada vez más
                eficientes.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container my-4">
        <h2>NUESTRAS MARCAS</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <label class="text">Debido a su <b>alto peso social y el impacto directo</b> en la calidad de vida de
                    las familias
                    productoras, es el <b>proyecto
                        más importante de Etrusca.</b> Trabaja directamente en campo con los productores, quienes se
                    preocupan por cuidar el entorno,
                    proceso y calidad del aromático; brindan trabajos exclusivos cuidando el medio ambiente, la calidad
                    de los suelos, nutrientes,
                    sombra y sostenibilidad. La misión es <b>preservar y presentar cafés de especialidad</b> para
                    nuestros clientes, posicionando al
                    café mexicano entre los mejores del mundo.
                </label>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../../../assets/LogosMarcas/baristaChamp.webp">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="../../../assets/LogosMarcas/ChillOut.png">
            </div>
            <div class="col-8">
                <label>El proyecto con el que <b>le rendimos culto al café.</b> Si bien para un barista sus activos más
                    preciados son su conocimiento y habilidad,
                    resulta imprescindible contar con accesorios de calidad para lograr un gran café. La Fenice es tu
                    mejor aliado para disfrutar de este
                    ritual. Contamos con <b>todo tipo de accesorios</b> que te ayudan a rendir culto al café y té; para
                    hacer de ellos <b>toda una experiencia.</b>
                </label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <label>El proyecto con el que <b>le rendimos culto al café.</b> Si bien para un barista sus activos más
                    preciados son su conocimiento y habilidad,
                    resulta imprescindible contar con accesorios de calidad para lograr un gran café. La Fenice es tu
                    mejor aliado para disfrutar de este
                    ritual. Contamos con <b>todo tipo de accesorios</b> que te ayudan a rendir culto al café y té; para
                    hacer de ellos <b>toda una experiencia.</b>
                </label>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../../../assets/LogosMarcas/fenice.webp">
            </div>
        </div>
    </div>
</section>