<!-- <div style="display: flex; justify-content: center;">
    <img src="../../../../assets/PRUEBAS/demo-video-arte-latte.gif" alt="Descripción del GIF"
        style="max-width: 96.25rem; max-height: 35.625rem; width: 100%; height: auto; margin: auto;">
</div> -->

<div class="d-flex flex-column justify-content-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="width: 350px;">
                <img src="../../../../assets/icons/ArteLatte.svg" alt="Arte Latte" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 4rem; font-weight: 700;">Taller Básico Arte Latte</h1>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-calendar"></i> 1 día</p>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-clock"></i> 6 horas</p>
            </div>
        </div>
    </div>
</div>

<aside class="container">
    <p style="text-align: justify;">
        Aprender el arte del latte puede transformar la experiencia de tomar café en algo sorprendente. Dominar la
        técnica de verter la leche vaporizada sobre el espresso te brinda la oportunidad de crear diseños elegantes y
        cautivadores en la superficie de tu bebida, desde hojas delicadas hasta corazones reconfortantes. Más allá de su
        aspecto visual, el arte latte muestra tu dedicación al detalle y a la artesanía, elevando tanto la presentación
        como el sabor de cada taza de café, y añadiendo un toque artístico a la rutina diaria.
    </p>
</aside>

<section class="container">
    <div class="m-t-5"><br>
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">¿Qué aprenderás?</h3><br>
        <h3 class="fs-5">Teoría</h3>
        <ul class="list_style">
            <li>Conocerás acerca de los <b>principios básicos</b> sobre la <b>extracción</b> del espresso.</li>
            <li>Conocerás los <b>compuestos básicos de la leche</b> y su manejo.</li>
            <li>Qué aspectos debemos considerar al poner en práctica la elaboración de los <b>diseños básicos</b> en
                taza.</li>
        </ul><br>
        <h3 class="fs-5">Práctica</h3>
        <ul class="list_style">
            <li>Aprenderás a <b>preparar de manera adecuada</b> un expresso.</li>
            <li>Aprenderás la <b>técnica para un espumado de leche </b>adecuado.</li>
            <li>Poner en <b>práctica la técnica de vertido libre</b> con el fin de crear los diseños básicos del arte
                latte.</li>
        </ul>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Objetivo</h3>
        <p class="fs-5S">
            Aprende los fundamentos del arte latte y técnicas de espumado y vaciado para realizar figuras en taza
            utilizando
            de manera adecuada las herramientas necesarias de manera dinámica.
        </p>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Temario </h3>
        <ul class="list_style">
            <li><b>Historia del arte latte</b></li>
            <li>
                <b>Introducción y teoría del espresso:</b>
                <ul>Aspectos básicos sobre la extracción del espresso</ul>
                <ul>Definición de espresso</ul>
                <ul>Ratio</ul>
            </li>
            <li>
                <b>Introducción y teoría de la leche:</b>
                <ul>Producción y procesamiento</ul>
                <ul>Compuestos básicos en la leche y su importancia</ul>
            </li>
            <li>
                <b>Calibración de molino:</b>
                <ul>Aspectos fundamentales acerca del funcionamiento del molino</ul>
                <ul>Graduación de la molienda en busca de una correcta extracción del espresso</ul>
            </li>
            <li>
                <b>Técnica de espumado de la leche:</b>
                <ul>Consideraciones al realizar el espumado de la leche</ul>
                <ul>Puntos críticos para generar un volumen adecuado y temperatura óptima</ul>
            </li>
            <li>
                <b> Técnica de vertido:</b>
                <ul>Manejo ideal de tazas y jarras</ul>
                <ul>Distancia, posición y flujo de la leche</ul>
            </li>
        </ul>
    </div>
    <div class="row" style="height: 2cm;"></div>
</section>