<div class="container my-5">
    <h1 class="display-4 text-center" style="font-weight: 700;">Políticas Externas</h1>
    <h2 class="h3 text-center">Cursos/Talleres Etrusca</h2>

    <h4 class="mt-4"><strong>Modalidad de cursos y talleres</strong></h4>
    <ul class="list-group">
        <li class="list-group-item">Presencial</li>
        <li class="list-group-item">Virtual</li>
        <li class="list-group-item">Mixta (teoría virtual y práctica presencial)</li>
    </ul>

    <h4 class="mt-4"><strong>Para todos los cursos y talleres Etrusca facilitará</strong></h4>
    <ul class="list-group">
        <li class="list-group-item">Equipos, accesorios e insumos necesarios para su realización.</li>
        <li class="list-group-item">Cuaderno de trabajo.</li>
        <li class="list-group-item">Mandil.</li>
        <li class="list-group-item">Diploma de participación.</li>
        <li class="list-group-item">Coffee Break.</li>
    </ul>

    <h4 class="mt-4"><strong>Cursos y Talleres y Horarios</strong></h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Cursos y Talleres</th>
                <th>Horas efectivas del Curso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Formación de emprendedores</td>
                <td>14 hrs. (2 días)</td>
            </tr>
            <tr>
                <td>Tostado Básico</td>
                <td>15 hrs. (2 días)</td>
            </tr>
            <tr>
                <td>Formación para un Barista Básico</td>
                <td>6 hrs.</td>
            </tr>
            <tr>
                <td>Arte Latte Básico</td>
                <td>6 hrs.</td>
            </tr>
            <tr>
                <td>Brew / Bar Métodos de extracción</td>
                <td>6 hrs.</td>
            </tr>
            <tr>
                <td>Cold brew: Extracción en Frío</td>
                <td>3 hrs.</td>
            </tr>
            <tr>
                <td>Mixología</td>
                <td>4 hrs.</td>
            </tr>
            <tr>
                <td>Bubble Tea & Iced Coffee</td>
                <td>5 hrs.</td>
            </tr>
            <tr>
                <td>De la Semilla a lo Sensorial</td>
                <td>6 hrs.</td>
            </tr>
        </tbody>
    </table>

    <p class="p-3"><strong>El curso de Emprendimiento incluye:</strong></p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            1 asesoría (máximo 3 horas de duración), en donde el participante podrá elegir un tema de los que se hayan
            visto
            durante los 2 días de curso. Se recomienda tomar la asesoría una vez que el participante esté listo para
            emprender. Enviar solicitud al correo: <a href="mailto:correo@ejemplo.com">correo@ejemplo.com</a>
        </li>
        <li class="list-group-item">1 asesoría para personalizar su mezcla (virtual/presencial): Para interesados en
            tener un producto diferenciado
            y adaptado a sus necesidades. Enviar solicitud al correo: <a
                href="mailto:correo@ejemplo.com">correo@ejemplo.com</a>
        </li>
    </ul>
    <h4 class="mt-4"><strong>Opciones de pago</strong></h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Opciones de pago:</th>
                <th>En dónde hacerlo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pago en efectivo:</td>
                <td>En sucursal</td>
            </tr>
            <tr>
                <td>Tarjeta de crédito</td>
                <td>En sucursal</td>
            </tr>
            <tr>
                <td>Transferencia bancaria</td>
                <td>cuenta a nombre de Café Etrusca</td>
            </tr>
            <tr>
                <td>Depósito en sucursal bancaria</td>
                <td>cuenta a nombre de Café Etrusca</td>
            </tr>
        </tbody>
    </table>
    <p class="p-3">Pueden apartar lugar en el curso y o taller con el 50% de anticipo.</p>
    <h4 class="mt-4"><strong>Sesiones de actualización o sesiones sabatinas</strong></h4>
    <ul class="recommendations-list">
        <li>Sábado 10-12 hrs.: León, Monterrey, Puebla, Tijuana, Toluca, Viaducto, Xalapa y Zona Rosa.</li>
        <li>Martes 10-12 hrs.: Guadalajara y Querétaro.</li>
    </ul>
    <h4 class="mt-4"><strong>Cancelación de cursos y o talleres</strong></h4>
    <p><strong>a) Por parte de Café Etrusca:</strong></p>
    <p>Si por causas de fuerza mayor no se pudiese realizar el curso/taller o bien porque éste no alcanzara el mínimo de
        participación, se podrá revisar con el cliente las siguiente opciones con la mayor antelación posible:</p>
    <ul class="recommendations-list">
        <li>Considerar una siguiente fecha programada para el mismo curso y en la misma sede.</li>
        <li>Considerar tomar el mismo curso en alguna otra sucursal. Considerar fechas y confirmación de que se imparte.
        </li>
        <li>Considerar un curso/taller distinto ya sea en la misma o en otra sucursal.</li>
    </ul>
    <p>En el caso de elegir otro curso y o taller y exista una diferencia:</p>
    <p><strong>● A favor de Etrusca:</strong></p>
    <p>El cliente deberá de realizar el pago correspondiente en la fecha que se le señale para liquidar en su totalidad
        el
        curso/taller.</p>
    <p><strong>● A favor del cliente:</strong></p>
    <p>El excedente podría tomarse como:</p>
    <ul class="recommendations-list">
        <li>Anticipo de algún otro curso.</li>
        <li>Anticipo para la compra de productos en la sucursal.</li>
    </ul>
    <p>También tendrá la opción de realizar su solicitud de reembolso.</p>
    <p><strong>b) Cancelación por parte del Cliente:</strong></p>
    <ul class="recommendations-list">
        <li>Si el participante no pudiera asistir al curso o quisiera cambiar de fecha, deberá de dar aviso a su agente
            de
            ventas con al menos 5 días de anticipación.</li>
        <li>Si el participante no asiste al curso y no da aviso, no se le podrá reembolsar el importe que haya pagado.
        </li>
    </ul>
    <h4 class="mt-4"><strong>Solicitud de Reembolso</strong></h4>
    <ul class="recommendations-list">
        <li>Sólo procederán los reembolsos por cancelación a aquellos depósitos que no tengan más de 10 días naturales
            previos a la fecha del curso.</li>
        <li>Para solicitarlo, el cliente deberá de enviar un correo electrónico a su agente de ventas con la siguiente
            información:</li>
        <ol type="a">
            <li>Escrito detallando el motivo de la solicitud de su reembolso.</li>
            <li>Comprobante de depósito bancario con datos de fecha e importe visibles.</li>
            <li>Copia de Identificación Oficial.</li>
            <li>Carátula del estado de cuenta bancario de la cuenta a donde se realizará el reembolso o datos bancarios
                &#40;cuenta bancaria y clabe interbancaria &#41; en hoja membretada y firmada por el titular de la
                cuenta.
                Estos datos deben coincidir con los datos del comprobante bancario del depósito realizado.</li>
        </ol>
        <li>El tiempo aproximado para el trámite de reembolso es de 15 días hábiles.</li>
        <li>Los reembolsos se harán sobre el ejercicio fiscal en curso, teniendo como fecha límite de solicitud para
            reembolso el día 15 de diciembre del mismo ejercicio fiscal.</li>
    </ul>
    <h4 class="mt-4"><strong>Descuentos Cursos</strong></h4>
    <p class="">Se aplicará descuento en el caso de que se inscriban <b>3 ó más personas a un
            mismo curso/taller.</b></p>
    <table class="table table-bordered mt-3">
        <tr>
            <td>10% de descuento</td>
            <td>Formación de Emprendedores y Tostado</td>
        </tr>
        <tr>
            <td>5% de descuento</td>
            <td>Barista, Arte Latte, Métodos de Extracción, Bubble Tea, Mixología, Cold Brew, De la Semilla a la Taza.
            </td>
        </tr>
        <tr>
    </table>
    <section class="mt-4">
        <h4><strong>Facturación</strong></h4>
        <p class="p-3">Deberá solicitarse al momento del pago, proporcionando los siguientes datos fiscales como
            requisitos mínimos:</p>
        <ul class="recommendations-list">
            <li>Constancia de Situación Fiscal (con periodo no mayor a 3 meses).</li>
            <li>RFC del receptor (de preferencia solicitar la cédula impresa).</li>
            <li>Uso del CFDI</li>
            <li>Método y forma de pago del CFDI</li>
        </ul>
        <p class="p-3">Los precios de los cursos ya incluyen el I.V.A.</p>
    </section>

    <section class="mt-4">
        <h4><strong>Cancelación de factura</strong></h4>
        <p class="p-3">Para solicitar la cancelación de su factura, el cliente deberá de enviar un correo electrónico a
            su agente de ventas incluyendo:</p>
        <ul>
            <li>Motivo sobre la cancelación de factura.</li>
            <li>Comprobante de pago en adjunto.</li>
            <li>CFDI previamente realizado en adjunto.</li>
        </ul>
        <p class="p-3"><b>Nota: Cuentan con 10 días hábiles posteriores a la fecha de facturación para solicitar la
                cancelación.</b></p>
    </section>

    <section class="mt-4">
        <h4><strong>Recomendaciones Generales para el participante durante el curso y o taller</strong></h4>
        <ul class="recommendations-list">
            <li>Mantenerse hidratados.</li>
            <li>Ejecutar los protocolos de higiene y seguridad implementados por la sucursal o que el gobierno de cada
                estado determine.</li>
            <li>Mantener celulares en modo silencio. Si es necesario tomar alguna llamada, lo podrán hacer fuera del
                salón de teoría/prácticas.</li>
            <li>Estar atentos.</li>
            <li>Permanecer dentro de las áreas del curso.</li>
            <li>No está permitido fumar dentro de las instalaciones.</li>
            <li>No está permitido ingresar con bicicletas.</li>
            <li>No está permitido ingresar con mascotas.</li>
            <li>Pueden tomar fotografías, más no video y tampoco grabaciones de voz.</li>
            <li>Sólo se podrá dar acceso al curso a la persona inscrita.</li>
            <li>Uso de equipos:
                <ul>El participante deberá utilizar los equipos con responsabilidad al igual que reconoce que los
                    equipos despachan agua caliente y/o manejan altas velocidades, por lo que deberán acatar en todo
                    momento las indicaciones de los instructores y seguir las medidas de seguridad que se le indiquen.
                </ul>
            </li>
            <li>Redes Sociales:
                <ul>Durante el curso, personal de Café Etrusca podrá tomar fotografías y/o videos con fines
                    publicitarios.</ul>
            </li>
            <li>Restricciones alimentarias del participante:
                <ul> En el caso de existir alguna restricción alimentaria por parte del participante,como alergias o
                    intolerancias a ciertos ingredientes o algún otro padecimiento importante o bien que tenga reacción hacia el
                    café o algún otro insumo, el cliente deberá de comunicarlo al momento de su inscripciónpara poder considerar
                    alternativas o en su defecto evitar su consumo.</ul>
            </li>
            <li>Horario de comida durante el curso/taller:
                <ul>Los participantes disponen de 1 hora libre para tomar sus alimentos. Excepto: Cold Brew, Mixología y Bubble
                    Tea.</ul>
            </li>
            <li>Edad Inscripción:
                <ul>La inscripción está abierta para todo público mayor de 18 años. En caso contrario se solicitará una serie de
                    documentos además de su respectiva carta responsiva.</ul>
            </li>
            <li>Participantes foráneos:
                <ul> Se pide NO realizar reservaciones o compra de boletos de avión, autobús, hotel, etc. hasta que se confirme
                    la impartición del curso.</ul>
                <ul>Etrusca no se hace responsable sobre gastos generados por cambios o cancelación de reservas de hotel,
                    boletos de avión, autobús o de cualquier otra índole.</ul>
            </li>
        </ul>
    </section>
    <div class="row" style="height: 1cm;"></div>
    <section class="contact-info">
        <p class="poppins-light justify-align"><strong>Cualquier duda o comentario favor de enviar correo electrónico a: <a href="mailto:correo@ejemplo.com"></a> ara.garcia@cafeetrusca.com</strong></p>
        <p class="poppins-light justify-align">Sin más por el momento, reciban un cordial saludo.</p>
        <p class="poppins-light center-align"><strong>Área Educativa.</strong></p>
        <hr />
        <p class="poppins-light center-align">Última actualización 27 de marzo 2023.</p>
    </section>
    <div class="row" style="height: 2cm;"></div>
</div>