<div class="container">
    <div class="row">
        <aside class="col-lg-2 col-md-2" id="licuadoras-presentation">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 father-logo">
                            <div class="icon-section">
                                <img src="../../../../../assets/icons/Licuadoras.png" alt="Icono de Licuadoras"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-3 poppins-bold">Licuadoras</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="HamiltonBeachCheckbox"
                                [(ngModel)]="hidesHamiltonBeach">
                                <label class="form-check-label poppins-extralight" for="HamiltonBeachCheckbox"> Hamilton
                                    Beach
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="VitamixCheckbox"
                                [(ngModel)]="hidesVitamix">
                                <label class="form-check-label poppins-extralight" for="VitamixCheckbox"> Vitamix
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="blendtecCheckbox"
                                [(ngModel)]="hidesBlendtec">
                                <label class="form-check-label poppins-extralight" for="blendtecCheckbox"> blendtec
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <hr>
                    <p class="p-3 poppins-light">
                        En la preparación de tus batidos y smoothies, comprendemos
                        que la clave para una bebida excepcional se encuentra en la calidad de la mezcla.
                    </p>
                </div>
            </div>
        </aside>

        <!--Categoría Licuadoras -->
        <main class="col-lg-10 my-2" id="todas-las-licuadoras">
            <!-- Cards para Hamilton Beach -->
            <div class="row my-4" id="Hamilton-Beach" *ngIf="hidesHamiltonBeach">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/Hamilton_Beach_logo.png"
                            alt="logo de Hamilton Beach" title="logo de Hamilton Beach" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Hamilton Beach</h2>
                    <p class="px-3 poppins-light">Con diseño varguandista, inteligente y versátil, las licuadoras son
                        ideales
                        para cualquier tipo de mezcla, como salsas y batidos
                    </p>
                    <!-- <span class="px-3 poppins-extralight">Diferentes colores.</span> -->
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorHamiltonBeach()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaHamiltonBeach">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-hamilton-beach"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteHamiltonBeach()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para Vitamix -->
            <div class="row my-4" id="Vitamix" *ngIf="hidesVitamix">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/Vitamix_logo.png"
                            alt="logo de Vitamix" title="logo de Vitamix" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Vitamix</h2>
                    <p class="px-3 poppins-light">Fabricadas para durar
                    </p>
                    <!-- <span class="px-3 poppins-extralight">Diferentes colores.</span> -->
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorVitamix()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaVitamix">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-blendtec"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteVitamix()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>

            <!-- Cards para blendtec -->
            <div class="row my-4" id="blendtec" *ngIf="hidesBlendtec">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Maquinas/Blendtec-logo.jpg"
                            alt="logo de Vitamix" title="logo de blendtec" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">blendtec</h2>
                    <p class="px-3 poppins-light">Fabricadas para durar
                    </p>
                    <!-- <span class="px-3 poppins-extralight">Diferentes colores.</span> -->
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorBlendtec()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaBlendtec">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-blendtec"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteBlendtec()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                        <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                            tisanasFrutalesCafeEtrusca.length }}</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>