<div class="container">
    <div class="row">
        <aside class="col-md-2 m-2" id="jarabes-menu">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 father-logo p-3">
                            <div class="icon-section">
                                <img src="../../../../assets/icons/Jarabes.webp" alt="Icono de Jarabes"
                                    title="Icono de Jarabes" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-2 poppins-bold">Jarabes</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="chillOutJarabesCheckbox"
                                    [(ngModel)]="hidesJarabesChillOut">
                                <label class="form-check-label poppins-extralight" for="chillOutJarabesCheckbox">
                                    ChillOut Jarabes
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="toraniClasicoCheckbox"
                                    [(ngModel)]="hidesJarabesClasicoTorani">
                                <label class="form-check-label poppins-extralight" for="toraniClasicoCheckbox"> Torani
                                    Clásico </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="toraniPuremaCheckbox"
                                    [(ngModel)]="hidesJarabePuremade">
                                <label class="form-check-label poppins-extralight" for="toraniPuremaCheckbox"> Torani
                                    Puremade </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="toraniSugarfreeCheckbox"
                                    [(ngModel)]="hidesJarabeSugarFree">
                                <label class="form-check-label poppins-extralight" for="toraniSugarfreeCheckbox"> Torani
                                    Sugar Free </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ZeroSugarToraniCheckbox"
                                    [(ngModel)]="hidesZeroSugarTorani">
                                <label class="form-check-label poppins-extralight" for="ZeroSugarToraniCheckbox"> Torani
                                    Zero Sugar</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="nDulceCheckbox"
                                    [(ngModel)]="hidesNdulce">
                                <label class="form-check-label poppins-extralight" for="nDulceCheckbox"> n'dulce
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <hr>
                    <p class="p-2 poppins-light text-start">
                        Son <span class="poppins-bold">líquidos con mezclas</span> concentradas de azúcar y otros
                        elementos, algunos de ellos son con
                        extractos
                        de agave azul los cuales <span class="poppins-bold">cambian la consistencia, sabor y aroma
                        </span>de la bebida a la que se le
                        agregan.
                    </p>
                </div>
            </div>
        </aside>

        <!-- Category Jarabes-->
        <main class="col-md-9 m-4" id="all-jarabes">
            <!--Cards of Jarabes ChillOut -->
            <div class="row m-2" id="jarabes-chillout" *ngIf="hidesJarabesChillOut">
                <div class="col-md-4 father-logo">
                    <div class="brand-container brand-chillout">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Chillout_jarabes.svg" alt="Jarabes ChillOut"
                            title="Jarabes ChillOut" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Jarabes ChillOut</h2>
                    <span class="px-3 poppins-extralight">14 sabores disponibles.</span>

                    <p class="p-3 poppins-light text-justify">Debido a la naturalidad del agave, este tiene un índice
                        glucémico
                        menor
                        en comparación con el azúcar, lo que significa que no causa picos tan drásticos en los niveles
                        de azúcar en la sangre.
                    </p>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1 litro</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: 33 bebidas
                                    frías y calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorJarabesChillOut()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaJarabesChillOut">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-torani-clasico"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteJarabesChillOut()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-12">
                                <!-- <div class="container text-center p-2 total-pages">
                                    <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                    tisanasFrutalesCafeEtrusca.length }}</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 m-4" id="space">

                </div>
            </div>

            <!--Cards para jarbes torani clasico -->
            <div class="row m-4" id="jarabes-chillout" *ngIf="hidesJarabesClasicoTorani">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Torani-Logo.webp" alt="Torani clásico"
                            title="Torani clásico" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Torani clásico</h2>
                    <p class="px-3 poppins-light text-justify">Jarabes con una amplia variedad de sabores utilizados
                        tanto en el
                        hogar como por profesionales de la industria
                        restaurantera y la coctelería para agregar sabor a cafés, cocteles, postres y más.
                    </p>
                    <span class="px-3 poppins-extralight">102 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 750 ml</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>25 bebidas frías y
                                    calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorToraniClasico()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaToraniClasico">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-torani-clasico"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteToraniClasico()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-12 m-4" id="space"></div>
            </div>

            <!--Cards para jarbes torani Puremade -->
            <div class="row my-4" id="torani Puremade" *ngIf="hidesJarabePuremade">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Torani-Logo.webp" alt="Torani Puremade"
                            title="Torani Puremade" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Torani puremade</h2>
                    <p class="px-3 poppins-light">Jarabes con una amplia variedad de sabores utilizados tanto en el
                        hogar como por profesionales de la industria
                        restaurantera y la coctelería para agregar sabor a cafés, cocteles, postres y más.
                    </p>
                    <span class="px-3 poppins-extralight">4 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 750 ml</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>25 bebidas frías y
                                    calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorPuremadeTorani()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaPuremadeTorani">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-puremade"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguientePuremadeTorani()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-12 m-4" id="space"></div>

            </div>

            <!--Cards para jarbes torani sugar free -->
            <div class="row my-4" id="torani sugar free" *ngIf="hidesJarabeSugarFree">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Torani-Logo.webp" alt="Torani sugar free"
                            title="Torani sugar free" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Torani sugar free</h2>
                    <p class="px-3 poppins-light">Los jarabes sin azúcar de Torani ofrecen una manera de endulzar tus
                        bebidas sin añadir calorías.
                        Elaborados con edulcolorantes, estos jarabes proporcionan el mismo sabor que los jarabes
                        tradicionales de Torani, pero sin el azúcar.
                    </p>
                    <span class="px-3 poppins-extralight">17 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 750 ml</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>25 bebidas frías y
                                    calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorSugarFreeTorani()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaSugarFreeTorani">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-sugarfree"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteSugarFreeTorani()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12 m-4" id="space"></div>
            </div>

            <!--Cards para jarbes torani ZeroSugarTorani -->
            <div class="row my-4" id="torani sugar free" *ngIf="hidesZeroSugarTorani">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/Torani-Logo.webp" alt="Torani sugar free"
                            title="Torani sugar free" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Torani sugar free</h2>
                    <p class="px-3 poppins-light">Los jarabes sin azúcar de Torani ofrecen una manera de endulzar tus
                        bebidas sin añadir calorías.
                        Elaborados con edulcolorantes, estos jarabes proporcionan el mismo sabor que los jarabes
                        tradicionales de Torani, pero sin el azúcar.
                    </p>
                    <span class="px-3 poppins-extralight">17 sabores disponibles.</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 750 ml</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>25 bebidas frías y
                                    calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorJarabesZeroSugarTorani()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaJarabesZeroSugarTorani">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-sugarfree"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteJarabesZeroSugarTorani()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-12 m-4" id="space"></div>
            </div>

            <!--Cards para jarbes n'dulce -->
            <div class="row my-4" id="n'dulce" *ngIf="hidesNdulce">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/LogosMarcas/Insumos/n'dulce.png" alt="n'dulce" title="n'dulce"
                            class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">n'dulce</h2>
                    <p class="px-3 poppins-light">Jarbe con sabor a dulce de leche para endulzar y/o decorar tus
                        bebidas.
                    </p>
                    <!-- <span class="px-3 poppins-extralight">17 sabores disponibles.</span> -->
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 1.10 kg</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>36 bebidas frías y
                                    calientes de 480 ml (30 ml c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaAnteriorJarabesNdulce()"><i
                                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaJarabesNdulce">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-jarabes-ndulce"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link" (click)="paginaSiguienteJarabesNdulce()"><i
                                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-12 m-4" id="space"></div>
            </div>
        </main>
    </div>
</div>