
/* Características de imagen en producto */
#botellas {
    max-height: 400px !important;
    max-width: 105px !important;
}

.circle-jarabes-chillOut, .circle-jarabes-puremade, .circle-jarabes-ndulce {
    background-color: var(--primary-300);
    height: 150px; /* Ajuste para que no sea tan alto */
    width: 150px;
    position: absolute; /* Cambiado a absolute */
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Asegura que el círculo esté centrado */
    color: var(--accent-400);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
    z-index: 1; /* Asegura que esté detrás de la imagen */
}
 
.circle-jarabes-torani-clasico, .circle-jarabes-sugarfree {
    background-color: var(--primary-400);
    height: 150px; /* Ajuste para que no sea tan alto */
    width: 150px;
    position: absolute; /* Cambiado a absolute */
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Asegura que el círculo esté centrado */
    color: var(--accent-400);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
    z-index: 1; /* Asegura que esté detrás de la imagen */
}