<div class="row">
    <!-- Categoría Jarabes-->
    <aside class="col-lg-12 align-self-start">
        <div class="container my-4">
            <div id="jarabes-presentacion" class="container">
                <div class="d-flex align-items-center justify-content-center">
                    <h1 class="text-center mb-0 mr-3 display-4">Jarabes
                    </h1>
                </div>
            </div><br>

            <div class="container my-2">
                <p class="text-center subtitle">Explora las diferentes líneas de Jarabes que tenemos para ti:</p>
            </div>
        </div>

        <div class="container d-flex flex-wrap justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="card-logo d-flex align-items-center justify-content-center my-4">
                                <img src="../../../../../assets/LogosMarcas/Insumos/Torani-Logo.webp"
                                    alt="Logo de Torani" title="Logo de Torani" [(ngModel)]="hidesJarabesTorani">
                            </div>
                            <p class="brand-name">Torani Clásico</p>
                        </div>
                    </li>
                    <!-- Repite el bloque anterior para cada elemento de la paginación -->
                    <li class="page-item">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="card-logo d-flex align-items-center justify-content-center my-4">
                                    <img src="../../../../../assets/LogosMarcas/Insumos/Chillout_jarabes.svg"
                                        alt="Logo de ChillOut Jarabe" title="Logo de ChillOut Jarabe"
                                        [(ngModel)]="hidesJarabesTorani">
                                </div>
                                <p class="brand-name">ChillOut Jarabe</p>
                            </div>
                        </div>
                    </li>
                    <li class="page-item">
                        <div class="d-flex flex-column align-items-center justify-content-center">

                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <main class="col-lg-12 align-self-start">
        <!--Cards para ChillOut Jarabes-->
        <div class="container my-4" *ngIf="hidesJarabesTorani">
            <!-- Contenido de la primera mitad -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of jarabesChillOut" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- Jarabes ChillOut -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> Jarabes ChillOut</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Los Jarabes <span>ChillOut</span> son líquidos concentrados de
                                    azúcar y otros
                                    elementos (como zumos, licores, o extractivas), las cuales
                                    cambian la consistencia, sabor y aroma de la bebida a la que se le agregan. En la
                                    rama coctelera el uso
                                    de los jarabes se ha popularizado a tal punto que la mixología
                                    los considera un elemento imprescindible para sus creaciones. </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        5 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 750 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 25 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Línea Torani-->
        <div class="container my-4" *ngIf="hidesJarabesChillOut">
            <!-- Contenido de Torani Clásico -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of jarabesToraniClasico" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- Torani Clásico -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> Torani Clásico</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Endulzado con azúcar de caña </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        67 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 750 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 25 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Torani Puremade -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of jarabesPuremadeTorani" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- Torani Puremade -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> Torani Puremade</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Sin conservadores, colorantes ni sabores artificiales y libre de
                                    Organismos Genéticamente Modificados (OMG).</p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        67 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 750 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 25 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Torani Zero Sugar -->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of jarabesZeroSugar" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- Torani Zero Sugar -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> Torani Puremade Zero Sugar</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Sin conservadores, colorantes ni sabores artificiales y libre de
                                    Organismos Genéticamente
                                    Modificados (OMG).</p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        32 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 750 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 25 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Torani Sugar Free-->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="scroll-horizontal-container my-5" style="width: 300px !important;">
                            <div class="row">
                                <div *ngFor="let insumo of jarabesSugarFree" class="container-cards">
                                    <div class="card">
                                        <!-- <div class="card-header d-flex align-self-end"
                                            style="background-color: #E91D74;">
                                            <a *ngIf="insumo.urlECommerce" [href]="insumo.urlECommerce"
                                                style="color: white;" target="_blank"
                                                title="Comprar en e-commerce el producto {{insumo.name}}"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </div> -->

                                        <div class="card-image">
                                            <img class="card-img-top" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                                alt="{{insumo.name}}" title="{{insumo.name}}" id="botellas-chillout">
                                        </div>

                                        <div class="card-body">
                                            <p class="card-title" id="font-keySap"> {{ insumo.keySap }}
                                            <p>
                                            <p class="card-text"> {{ insumo.name }}</p>
                                            <p class="d-none card-text">{{ insumo.description }}</p>
                                        </div>

                                        <!-- <div class="card-footer justify-content-right">
                                            <a class="go-sucursal" routerLink="/donde-encontranos"
                                                style="color: black;">
                                                Encuentra
                                                tu
                                                sucursal
                                                <i class="fas fa-arrow-right" style="color: black;"></i>
                                            </a><br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resto del contenido -->
                </div>

                <!-- Torani Zero Sugar -->
                <div class="col-md-6">
                    <div class="container my-2">
                        <h3 class="p-3"> Torani Puremade Zero Sugar</h3>
                        <div class="d-flex flex-column align-items-right justify-content-right">

                            <div class="container">
                                <p class="text-right">Sin conservadores, colorantes ni sabores artificiales y libre de
                                    Organismos Genéticamente
                                    Modificados (OMG).</p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">
                                        32 sabores</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    <span style="font-weight: bold;">Presentación</span> botella de 750 ml.
                                </p>
                            </div>
                            <div class="">
                                <p class="p-3 text-center"
                                    style="background-color: #FFEEEE; border-left: 4px solid #CCA7F4;">
                                    Rinde aprox. 25 bebidas de 480 ml.
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex flex-wrap justify-content-around">
                            <button class="my-4 mr-2">Comprar ahora</button>
                            <button class="my-4">Conoce las sucursales</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>