<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center poppins-extralight my-4">Cónoce el amplio catálogo de insumos que tenemos en Etrusca
                para ti.</h1>
            <hr>
        </div>

        <div class="col-md-12">
            <div class="row" id="container-cards">
                <div class="col-md-2 col-sm-6 col-xs-6 my-2">
                    <a routerLink="/insumos-para-cafeterias-jarabes">
                        <div class="card" id="card-jarabes">
                            <div class="my-2 image-container" id="card-image-jarabes">
                                <img src="../../../../assets/icons/Jarabes.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Jarabes</h2>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 my-2">
                    <a routerLink="/insumos-para-cafeterias-polvos">
                        <div class="card" id="card-polvos">
                            <div class="my-2 image-container" id="card-image-polvos">
                                <img src="../../../../assets/icons/polvos.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Polvos</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/insumos-para-cafeterias-salsas">
                        <div class="card" id="card-salsas">
                            <div class="my-2 image-container" id="card-image-salsas">
                                <img src="../../../../assets/icons/salsas.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Salsas</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/insumos-para-cafeterias-pures-y-concentrados">
                        <div class="card" id="card-pures-concentrados">
                            <div class="my-2 image-container" id="card-image-pures-concentrados">
                                <img src="../../../../assets/icons/puresyConcentrados.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Púres y concentrados</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="row"  id="container-cards">
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/insumos-para-cafeterias-bubble-tea">
                        <div class="card" id="card-bubble-tea">
                            <div class="my-2 image-container" id="card-image-bubble-tea">
                                <img src="../../../../assets/icons/moleculares.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Bubble Tea</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/insumos-para-cafeterias-tes">
                        <div class="card" id="card-tes">
                            <div class="my-2 image-container" id="card-image-te">
                                <img src="../../../../assets/icons/te.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Tés</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/insumos-para-cafeterias-tisanas">
                        <div class="card" id="card-tisanas">
                            <div class="my-2 image-container" id="card-image-tisanas">
                                <img src="../../../../assets/icons/Tisanas.webp" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Tisanas</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>