
#botellas {
    max-width: 80px !important;
    max-height: 280px !important;
}

.contenedor-logos {
    border-radius: 0px 0px 180px 180px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}
.contenedor-logos img {
    max-width: 100%; /* Para que la imagen no exceda el tamaño del div */
    max-height: 100%; /* Para que la imagen no exceda el tamaño del div */
}

.scroll-horizontal-container {
    max-height: 0vh;
    overflow-x: auto;
    white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
  }
  
  .scroll-horizontal-container .row {
    display: inline-flex; /* Mostrar elementos en una fila horizontal */
    flex-wrap: nowrap; /* Evitar el salto de línea de los elementos */
    gap: 3px; /* Espacio entre elementos */
  }
  
  /* .scroll-horizontal-container .card {
    flex: 0 0 auto; /* Evitar que las tarjetas crezcan para llenar el espacio 
  } */
  