.content {
    /* ... */
    padding-bottom: 501px; /* El tamaño del footer para evitar el sobreposicionamiento */
    min-height: calc(100vh - 501px);
}

.footer {
    width: 100%;
    height: 501px;
    position: absolute;
    bottom: 0;
    left: 0;
}