<!--Contenedor de presentación cursos-->
<div class="d-flex flex-column align-items-center"
    style="background-image: url(../../../assets/PRUEBAS/Background-cafeteria.webp); background-size: cover; background-repeat: no-repeat; width: 100%; height:auto;">
    <h1 class="d-none">Cursos para baristas y talleres para cafeterias</h1>
    <img src="https://i.postimg.cc/y8j19qhw/logo.png" style="height: auto; width: 17rem;">
    <div style="width: 70%;">
        <p class="title" style="text-align: center;">Nuestra pasión por el café se refleja en cada detalle de nuestros
            cursos, diseñados para
            empoderarte y brindarte las habilidades necesarias para construir tu propio negocio.</p>
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<!--Contenedor con texto de presentación de enlaces-->
<div class="container d-flex flex-column my-4">
    <p style="text-align: justify;">
        Sumérgete en un mundo de descubrimiento sensorial con nuestra exclusiva gama de cursos. Desde el cautivador arte
        de la mixología y la maestría en la creación de cold brew, hasta la profundidad del tostado y la perfección en
        la preparación de bubble tea & iced coffee, cada experiencia es una oportunidad para despertar tus sentidos y
        expandir tus conocimientos.

        Nuestros cursos no son simplemente clases; son viajes sensoriales que te transportarán a través de aromas
        embriagadores, sabores cautivadores y texturas seductoras. Si sueñas con convertirte en un emprendedor exitoso
        en el mundo del café, nuestra formación especializada te proporcionará las herramientas esenciales para
        convertir tus ideas en realidad.

        Desde el arte latte que se convierte en una expresión creativa única, hasta la meticulosa catación que te
        enseñará a apreciar las sutilezas del café de una manera completamente nueva, cada curso está diseñado para
        cautivar, educar y empoderar.

        Ya sea que estés comenzando tu viaje en el mundo del café o busques perfeccionar tus habilidades existentes,
        nuestra variedad de cursos, incluida la exploración de los defectos en el café verde y la magia del brew bar, te
        guiarán en un camino de aprendizaje inolvidable.

        Únete a nosotros y descubre cómo transformar tu pasión por el café en una experiencia sensorial y educativa sin
        igual. ¡Bienvenido a la aventura de los sentidos, la creatividad y el café!
    </p>
    <div class="d-flex flex-wrap justify-content-around my-4">
        <a href="url_de_tu_politica" style="color: black;">
            Visita nuestra política de cursos y talleres <i class="fas fa-arrow-right"></i>
        </a>
        <a href="url_de_tu_politica" style="color: black;">
            Visita nuestro calendario <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<!--Contenedor para los divs de cursos-->
<main class="container d-flex flex-wrap justify-content-around my-4">
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" src="../../../assets/TALLERESyCURSOS/ArteLatte.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Taller de Arte Latte</h3>
            <p class="card-text p-3" style="text-align: justify;">Domina el arte del espresso perfecto y adquiere un
                profundo conocimiento de
                los
                principios detrás del espumado de la leche y el vertido libre. A través de nuestro curso de Arte Latte,
                desbloquearás la habilidad de crear verdaderas obras de arte en tu taza de café. Desde las bases de la
                técnica hasta la creación de figuras sorprendentes, este curso te sumergirá en un mundo de posibilidades
                creativas. Al finalizar, habrás dominado la destreza de transformar cada taza en una expresión única y
                cautivadora.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-de-arte-latte-nivel-basico" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/FormacionEmprendedores.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Formación de emprendedores</h3>
            <p class="card-text p-3" style="text-align: justify;">Sumérgete en el mundo completo del emprendimiento
                cafetero, explorando todos los
                aspectos desde la gestión hasta el financiamiento. Nuestro curso exhaustivo abarca desde la
                administración
                efectiva de una cafetería hasta las estrategias de financiamiento inteligente. Además, para adaptarnos a
                tus
                necesidades, ofrecemos diferentes fechas para cada sucursal. Obtén conocimientos prácticos y
                estratégicos
                que te ayudarán a dirigir tu cafetería con éxito y alcanzar tus metas empresariales.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/emprendiendo-mi-negocio-de-barra-de-cafe-y-cafeteria"
                style="color: black;">Ver más <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/750x375px_Mixologia.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Mixología y moctelería</h3>
            <p class="card-text p-3" style="text-align: justify;">Explora cuatro técnicas esenciales para crear diez
                bebidas
                en tendencia,
                incluyendo alternativas de café y opciones saludables. Nuestro curso te sumerge en la diversidad del
                mundo
                de las bebidas, desde la preparación hasta la presentación. Además, para brindarte la mejor experiencia
                posible, ofrecemos diferentes fechas para cada sucursal. Obtén habilidades versátiles que te permitirán
                sorprender a tus clientes con una amplia gama de opciones deliciosas y nutritivas.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-de-mixologia-con-cafe-sin-alcohol" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/Tostado.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Tostado</h3>
            <p class="card-text" style="text-align: justify;">Adquiere un conocimiento completo de las etapas de tueste
                y desarrolla la
                habilidad de interpretar con precisión las curvas de tostado. Nuestro curso te guiará a través de los
                intrincados detalles del proceso de tueste del café, proporcionándote una comprensión profunda y
                práctica.
                Además, para adaptarnos a tu horario, ofrecemos diferentes fechas de acuerdo a cada sucursal. Obtén
                conocimientos que te permitirán alcanzar un nuevo nivel de maestría en la creación del café
                perfectamente tostado.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-basico-de-tostado-de-cafe" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/FormacionBarista.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Taller básico para baristas</h3>
            <p class="card-text p-3" style="text-align: justify;">Aprenderás a utilizar correctamente la máquina de
                espresso
                y el molino para
                preparar bebidas según los estándares internacionales. Nuestro curso te proporcionará la capacitación
                necesaria para dominar estas herramientas fundamentales en la creación de café. Además, para adaptarnos
                a tu
                disponibilidad, ofrecemos diferentes fechas según cada sucursal. Obtén habilidades que te permitirán
                alcanzar un nivel de calidad en la preparación de bebidas que cumple con los más altos estándares a
                nivel mundial.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-basico-para-baristas" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/BrewColdBrew.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Brew Bar & Cold Brew</h3>
            <p class="card-text p-3" style="text-align: justify;">Explorarás el apasionante proceso de
                tueste del café y adquirirás un sólido y completo conocimiento de cómo influye en el sabor, el aroma y
                la calidad general de cada grano de café. También descubrirás los secretos detrás de la preparación
                perfecta de cold brew. Aprenderás desde
                la temperatura ideal y la calidad del agua hasta el meticuloso equilibrio entre la proporción y la
                molienda del café. Crearás una base excepcional para bebidas que se
                distinguen por su excelencia en sabor y perfil.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-de-brew-bar" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/BubbleTea.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Bubble Tea & Iced Coffee</h3>
            <p class="card-text p-3" style="text-align: justify;">Explora el fascinante mundo de la tapioca.
                Este curso te sumerge en cada aspecto de este versátil ingrediente: apariencia,
                sabor, color y textura. Aprende a combinarlo creativamente con diversos elementos para crear platos y
                bebidas únicas. La tapioca se convierte en tu lienzo culinario, y el taller te equipa con las
                herramientas y el conocimiento para crear obras maestras de sabores y texturas. Ofrecemos fechas
                flexibles según tu disponibilidad en cada sucursal. </p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-de-bubble-tea-&-iced-coffee" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card d-flex flex-column my-4 container-course" style="height: auto; width: 589px;">
        <img class="card-img-top" style="width: 100%;" src="../../../assets/TALLERESyCURSOS/CatandoSemillaSens.jpg">
        <div class="card-body">
            <h3 class="card-title my-2" style="font-size: 2.1875rem; font-weight: 700;">Catando de la semilla a lo sensorial</h3>
            <p class="card-text p-3" style="text-align: justify;">
                Explora una experiencia única que conecta con tus cinco sentidos y revela la profunda influencia de cada
                uno en la apreciación del café. En este taller, descubrirás cómo vista, olfato, gusto, tacto y oído
                colaboran para desvelar secretos en cada taza. Aprenderás a evitar interferencias y usarlos
                armoniosamente en técnicas avanzadas de catación. Identificarás notas sutiles, apreciarás cambios en el
                aroma y evaluarás texturas en el paladar. Ofrecemos múltiples fechas por sucursal para tu comodidad y
                enriquecimiento sensorial.</p>
        </div>
        <div class="card-footer">
            <a class="card-link" routerLink="/taller-experiencia-sensorial" style="color: black;">Ver más <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</main>
<div class="row" style="height: 2cm;"></div>