<div class="container my-5">
    <h1 class="display-4 text-center" style="font-weight: 700;">Aviso de Privacidad</h1>
    <h2 class="h3 text-center">ETRUSCA COMERCIAL, S.A. DE C.V.</h2>

    <section class="my-5">
        <h4 class="my-2"><strong>I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE</strong></h4>
        <p class="p-3" style="text-align: justify;">
            ETRUSCA COMERCIAL, S.A. DE C.V. con domicilio en Avenida Norte 35 número 908 Bodega B2, colonia Industrial
            Vallejo, Alcaldía Azcapotzalco, Ciudad de México, en adelante “El Responsable”, es el responsable del
            tratamiento legítimo, controlado e informado de los datos personales (los “Datos Personales”), de sus
            clientes y/o usuarios (el “Titular”), y en congruencia con su política de privacidad, la Ley Federal de
            Protección de Datos Personales en Posesión de los Particulares (la “LFPDPPP”), su reglamento; los
            Lineamientos del Aviso de Privacidad (los “LAP”), la normatividad secundaria vigente, así como estándares
            nacionales e internacionales en materia de protección de datos personales.
        </p>
        <h4 class="my-2"><strong>II. DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO</strong></h4>
        <p class="p-3" style="text-align: justify;">
            El Responsable se encuentra legitimado para recabar los Datos Personales en cumplimiento con lo previsto por
            la ley y disposiciones aplicables, por lo que no es necesario el consentimiento del Titular para efectuar su
            tratamiento para la consecución de las finalidades primarias establecidas en el Aviso de Privacidad. En
            virtud de lo anterior, los Datos Personales que El Responsable tratará acorde a su correspondiente
            clasificación e identificación son:
        </p>
        <ul class="ul_li">
            <li><b>Identificación:</b> Nombre completo, domicilio completo, fecha de nacimiento, sexo o género, edad,
                identificación oficial, Registro Federal de Contribuyentes con homoclave (“RFC”). Los datos de número de
                seguridad social, número de Infonavit, datos laborales y académicos de usted y su familia, sólo serán
                recabados, en su caso, para los empleados y postulantes de trabajo.</li>
            <li><b>Electrónicos e Informáticos:</b> Teléfono particular, teléfono celular, correo electrónico, firma
                autógrafa, electrónica y/o fiable.</li>
            <li><b>Financieros y Patrimoniales:</b> Número(s) de cuenta(s) bancaria(s), número(s) de tarjeta(s)
                bancaria(s).</li>
            <li>Datos Personales de Menores e Incapaces, en su caso.</li>
            <li><b>Datos Sensibles:</b> Aquellos que afecten la esfera más íntima de su titular, o cuya utilización
                indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste.</li>
        </ul>
        <p class="p-3" style="text-align: justify;">
            El responsable no celebrará operaciones que involucren el tratamiento directo de Datos Personales de menores
            de edad o de personas que se encuentren en estado de interdicción o incapacidad conforme a la legislación
            civil aplicable.
        </p>
        <p class="p-3" style="text-align: justify;">
            En caso de que el Titular sea menor de edad y/o se encuentre en estado de interdicción y/o con incapacidad,
            se tendrá por entendido que el consentimiento es otorgado previamente por el padre, la madre o tutor del
            mismo.
        </p>
        <h4 class="my-2"><strong>III. FINALIDADES DEL TRATAMIENTO DE LOS DATOS
                PERSONALES</strong></h4>
        <p class="p-3" style="text-align: justify; text-decoration: underline;"><strong>Finalidades Primarias:</strong>
        </p>
        <ul class="ul_li">
            <li>Verificar y confirmar la identidad del Titular.</li>
            <li>Integrar su expediente como cliente, proveedor, arrendador y en general como socio comercial, o
                prospecto de cliente, proveedor, arrendador y en general como socio comercial, en adelante “Socio
                Comercial”, y darlo de alta en nuestros sistemas.</li>
            <li>Verificar que no existen conflictos de interés e independencia con nuestros socios, empleados y/o
                sociedades.</li>
            <li>Proveer los productos y/o servicios adquiridos por el Titular, así como cumplir con las obligaciones
                contraídas con él.</li>
            <li>Notificar al Titular sobre nuevos productos que tengan relación con los previamente adquiridos.</li>
            <li>Comunicar al Titular sobre los cambios a servicios ofertados por el Responsable.</li>
            <li>Entrega de bienes adquiridos directamente por el Titular, o bien, por un tercero al amparo de concursos,
                juegos, promociones, trivias y sorteos.</li>
            <li>Realizar cargos en la tarjeta de débito y/o crédito relacionado con el pago de los productos y/o
                servicios adquiridos por el Titular.</li>
            <li>Cumplir con las obligaciones para con el Titular y ejercer los derechos derivados de la relación
                jurídica entablada entre el Responsable y el Titular.</li>
            <li>Firmar contrato de prestación de servicios, arrendamiento, suministro o cualquier instrumento que sea
                necesario.</li>
            <li>Realizar gestiones de tickets y facturación.</li>
            <li>En su caso, efectuar gestiones de cobranza.</li>
            <li>Para contactar al Titular con fines exclusivamente relacionados con los productos adquiridos.</li>
            <li>Realizar entregas y devoluciones sobre los productos adquiridos por el Titular.</li>
            <li>Realizar gestiones con el propósito de que los Datos Personales en todo momento sean exactos, completos,
                pertinentes, correctos y actualizados en cumplimiento al principio de calidad estatuido por la LFPDPPP.
            </li>
            <li>Para el caso de empleados y/o postulantes, será elaborar expedientes y cumplir con las actividades
                inherentes al reclutamiento.</li>
            <li>Administración y gestión de personal.</li>
            <li>La gestión y pago de tarjetas de nómina, vales de despensa y demás prestaciones.</li>
            <li>Evaluación de desempeño, entrevistas laborales y en su caso, estudios socioeconómicos.</li>
            <li>Presentarles una propuesta económica, funciones y perfil del puesto.</li>
            <li>Control y administración de acceso y salida de instalaciones, asistencia y horario laborado.</li>
            <li>Cumplir con las obligaciones a cargo del responsable en materia laboral, fiscal, contractual,
                administrativa, de seguridad social, de seguridad e higiene, protección civil, migratorias (en su caso).
            </li>
            <li>Realizar los reconocimientos médicos para comprobar que los empleados no padezcan de alguna incapacidad
                o enfermedad de trabajo, contagiosa o incurable, de acuerdo con lo establecido en la fracción X del
                artículo 134 de la Ley Federal del Trabajo.</li>
        </ul>
        <p class="p-3" style="text-align: justify; text-decoration: underline;"><strong>Finalidades Secundarias</strong>
        </p>
        <ul class="ul_li">
            <li>Elaborar perfiles de clientes y usuarios de los productos ofrecidos por el Responsable.</li>
            <li>Enviar comunicados relacionados con ofertas, mensajes promocionales, comunicados con fines
                mercadotécnicos, publicitarios y de prospección comercial sobre servicios nuevos o existentes.</li>
            <li>Aplicar encuestas, estudios de mercado, participar en eventos, concursos, trivias, juegos y sorteos,
                participar en redes sociales, chats e información que nos permita evaluar la calidad de los servicios.
            </li>
        </ul><br>
        <h4 class="my-2"><strong>IV. CON QUIÉN SE COMPARTEN LOS DATOS PERSONALES</strong></h4>
        <p class="p-3" style="text-align: justify;">Su información personal podrá ser transferida a las siguientes
            personas
            físicas o morales, sin que legalmente se requiera su consentimiento:</p>
        <ul class="ul_li">
            <li>Autoridades a las que debamos hacerlo en virtud de una ley, con la finalidad de cumplir con la
                normatividad correspondiente.</li>
            <li>Autoridades, cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un
                interés público, o para la procuración o administración de justicia.</li>
            <li>Autoridades, cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un
                derecho en un proceso judicial, y</li>
            <li>Sociedades dentro de nuestro mismo grupo que operan bajo nuestros mismos procesos y políticas internas,
                para prestarles servicios o cumplir con nuestras políticas y normatividad interna.</li>
        </ul>
        <p class="p-3" style="text-align: justify;">Salvo los casos señalados y los demás referidos en el artículo 37 de
            la
            Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su información personal no
            será trasferida.</p>

        <h4 class="my-2"><strong>V. DERECHOS ARCO</strong></h4>
        <p class="p-3" style="text-align: justify;">En los términos permitidos por la normatividad aplicable, usted
            podrá
            acceder, rectificar y cancelar sus datos personales, oponerse al tratamiento de los mismos, así como revocar
            en cualquier momento el consentimiento que en su caso nos haya otorgado, a través de la herramienta
            tecnológica implementada por Etrusca para que usted pueda ejercer los derechos que le corresponden respecto
            a sus datos personales, así como hacernos saber sus dudas, quejas o comentarios.</p>
        <p class="p-3" style="text-align: justify;">Nuestro Oficial de Privacidad velará en todo momento por la
            protección
            de su información personal en cumplimiento con la normatividad aplicable. Asimismo, le informamos que el
            Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) es la
            autoridad encargada de vigilar por la debida observancia de las disposiciones legales en materia de
            protección de datos personales.</p>
        <p class="p-3" style="text-align: justify;">Usted puede acceder a la Herramienta ingresando a la siguiente liga:
            https://share.hsforms.com/1_kvCLvtyQt-wlajVG_7Odg3axxb. En caso de no poder hacerlo, por favor comuníquese
            al teléfono 55 5590 5407 extensión 1132, de lunes a viernes de 9:00 a 18:00 horas o bien escribir un correo
            a <a href="mailto:correo@ejemplo.com">correo@ejemplo.com</a>
            indicando la situación.</p>
        <h4 class="my-2"><strong>VI. LIMITACIÓN AL USO O DIVULGACIÓN DE LA INFORMACIÓN PERSONAL.</strong></h4>
        <p class="p-3" style="text-align: justify;">Además del procedimiento contemplado en la sección inmediata
            anterior,
            usted puede limitar el uso o divulgación de sus datos personales de las siguientes formas:</p>
        <ul class="ul_li">
            <li>Inscribirse en el Registro Público para Evitar Publicidad de la Procuraduría Federal del Consumidor.
                Para más información respeto de esta opción, usted contactarse directamente con la PROFECO o ingresar a
                la siguiente liga: http://rpc.profeco.gob.mx.</li>
            <li>Solicitar, a través de la Herramienta, su inscripción al “Listado de Exclusión Publicitaria”, con el
                objeto de no recibir información promocional de nuestros productos y servicios.</li>
        </ul><br>

        <h4 class="my-2"><strong>VII. USO DE COOKIES, WEB BEACONS U OTRAS TECNOLOGÍAS</strong></h4>
        <p class="p-3" style="text-align: justify;">El Sitio Web utiliza mecanismos de medios remotos o locales de
            comunicación electrónica, óptica u otra tecnología, que le permitan recabar los Datos Personales de manera
            automática y simultánea al tiempo que el Titular hace contacto con los mismos, entre ellos, Cookies y Web
            Beacons para simplificar la navegación.</p>
        <p class="p-3" style="text-align: justify;">Le informamos que utilizamos Cookies y Web Beacons para obtener
            información personal de usted, como la siguiente: (i) El tipo de navegador y sistema operativo que utiliza;
            (ii) Las páginas de Internet que visita en forma previa y posterior a la entrada del sitio web; (iii) Los
            vínculos que sigue y permanencia en el sitio web; (iv) Su dirección IP; (v) Lugar desde el cual visita el
            sitio web y estadísticas de navegación. Estas Cookies y otras tecnologías pueden ser deshabilitadas. Puede
            buscar información sobre los navegadores conocidos y averiguar cómo ajustar las preferencias de las Cookies
            en los siguientes sitios web:</p>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="p-3" style="text-align: justify;">Microsoft Internet Explorer:</td>
                    <td class="p-3" style="text-align: justify;"><a href="www.microsoft.com/info/cookies.htm"
                            target="_blank">www.microsoft.com/info/cookies.htm</a></td>
                </tr>
                <tr>
                    <td class="p-3" style="text-align: justify;">Mozilla Firefox:</td>
                    <td class="p-3" style="text-align: justify;"><a
                            href="www.mozilla.org/projects/security/pki/psm/help_21/using_priv_help.html"
                            target="_blank">www.mozilla.org/projects/security/pki/psm/help_21/using_priv_help.html</a>
                    </td>
                </tr>
                <tr>
                    <td class="p-3" style="text-align: justify;">Google Chrome:</td>
                    <td class="p-3" style="text-align: justify;"><a
                            href="www.support.google.com/accounts/answer/61416?co=GENIE.Platform=Desktop&hl=es"
                            target="_blank">www.support.google.com/accounts/answer/61416?co=GENIE.Platform=Desktop&hl=es</a>
                    </td>
                </tr>
                <tr>
                    <td class="p-3" style="text-align: justify;">Apple Safari:</td>
                    <td class="p-3" style="text-align: justify;"><a
                            href="www.support.apple.com/es-es/guide/safari/sfri11471/mac"
                            target="_blank">www.support.apple.com/es-es/guide/safari/sfri11471/mac</a></td>
                </tr>
            </table>
        </div>

        <p class="p-3" style="text-align: justify;">El Sitio Web podrá contener enlaces, hipervínculos o hipertextos
            “links”, banners, botones y/o herramientas de búsqueda en internet que al ser utilizados por los Titulares
            transportan a otros portales o sitios de internet que podrían ser propiedad de terceros. Por lo tanto, no
            controlan dichos sitios y no son responsables por los avisos de privacidad que ostenten, o en su caso, a la
            falta de ellos; los Datos Personales que los Titulares llegasen a proporcionar a través dichos portales o
            sitios de internet distintos al Sitio Web, son su responsabilidad, por lo que deberá verificar el aviso de
            privacidad en cada sitio al que acceda.</p>
        <h4 class="my-2"><strong>VIII. MODIFICACIONES AL AVISO DE PRIVACIDAD</strong></h4>
        <p class="p-3" style="text-align: justify;">Dichas actualizaciones o modificaciones estarán disponibles para
            consulta del Titular en el
            Sitio Web en la sección denominada “Aviso de Privacidad”
            (<a href="https://cafeetrusca.com/home/aviso" target="_blank">https://cafeetrusca.com/home/aviso</a>).</p>
        <h4 class="my-2"><strong>IX. CONSENTIMIENTO PARA EL TRATAMIENTO DE LOS DATOS PERSONALES</strong></h4>
        <p class="p-3" style="text-align: justify;">El Titular manifiesta que ha leído, entendido y aceptado los
            términos expuestos en el Aviso de Privacidad, lo que constituye el consentimiento, libre, específico,
            inequívoco e informado, inclusive con respecto a los cambios establecidos en las actualizaciones realizadas
            al mismo, con respecto al tratamiento de los Datos Personales en cumplimiento a lo establecido por la
            LFPDPPP y los LAP.</p>
        <p class="p-3" style="text-align: center;">Última actualización 29 julio 2021.</p>
    </section>

    <article class="container my-2">
        <h4 class="my-2" style="justify-content: center;"><strong>¡Conoce aquí los avisos de privacidad!</strong></h4><br>
        <div class="row">
            <div class="col l6 m6 sm12 center">
                <p><b>AVISO DE PRIVACIDAD <br /> CORTO</b></p>
                <a href="/pdf/AvisoPrivacidadCorto.pdf" target="_blank"><img width="20%"
                        src="https://cafeetrusca.com/wp-content/uploads/2014/10/Bajar-Aviso-de-Privacidad-150x150.jpg" /></a>
            </div>
            <div class="col l6 m6 sm12 center">
                <p><b>AVISO DE PRIVACIDAD <br /> SIMPLIFICADO</b></p>
                <a href="/pdf/AvisoPrivacidadSimplificado.pdf" target="_blank"><img width="20%"
                        src="https://cafeetrusca.com/wp-content/uploads/2014/10/Bajar-Aviso-de-Privacidad-150x150.jpg" /></a>
            </div>
        </div>
        <p class="my-5">Fecha de actualización: 29/07/2021</p>

        <div class="fixed-action-btn cart vertical click-to-toggle" id="partialButton">
            <!-- <a class="btn-floating btn-large green accent-4 pulse" alt="WhatsApp" title="WhatsApp"
                href="
https://api.whatsapp.com/send/?phone=5541668777&text=Me+gustaria+saber+sobre+Cafe+Etrusca+&type=phone_number&app_absent=0">
                <i class="fa fa-icon fa-whatsapp" aria-hidden="true"></i>
            </a> -->

        </div>
        <div id="WAButton"></div>
        <div id="modal" class="modal" style="width:100%;height:100%;">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <div class="sample-container flip-book-container" src="books/pdf/CondoLiving.pdf"></div>
            </div>
        </div>
    </article>
    <div class="row" style="height: 2cm;"></div>
</div>