<div class="row">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#" style="text-decoration: none; font-size: 1rem; font-weight: 700; color: black;" >Barista Champ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="text-decoration: none; font-size: 1rem; font-weight: 700; color: black;">Café Premium</a>
        </li>
    </ul>

    <router-outlet></router-outlet>

    <main class="col-lg-12 align-self-start" id="cafe-especialidad-barista-champ">
        <section class="d-flex flex-column align-items-center my-4 p-4" style="width: 100%;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../../assets/LogosMarcas/baristaChamp.webp" alt="Logo de Barista Champ"
                            style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </section>

        <!--Presentación del café-->
        <article class="d-flex flex-column align-items-center justify-content-center article-content">
            <h1 class="text-center"><strong>Cafés de Especialidad</strong></h1><br>
            <p class="text-center"><strong>COMPROMISO Y SINERGIA</strong></p>
            <p class="text-center">PARA DESARROLLAR CAFÉS DE CALIDAD</p>
        </article>

        <img src="../../../../assets/cafe-barista-champ/coffee-bean-berry-ripening-on-coffee-farm-.webp"
            class="img-fluid my-4" alt="...">


        <article class="containers my-4">
            <h2 style="font-size: 2.1875rem; font-weight: 700;">Calidad Inigualable</h2>
            <p>Nuestro café cumple con los más altos estándares de calidad en la industria de los cafés de
                especialidad. Garantizamos una trazabilidad completa, desde la cosecha de la cereza hasta la meticulosa
                preparación, supervisando cuidadosamente cada etapa del proceso.</p>
        </article><br>

        <div class="container-imagen-text my-4" style="max-height: 1150px; overflow: hidden;">
            <div class="row flex-column flex-md-row">
                <div class="col-md-6 order-md-2 left-side ">
                    <img class="image img-fluid zoomable"
                        src="../../../../assets/cafe-barista-champ/CATALOGO_BARISTA CHAMP 2023-min-01.png" alt="logo-baristaChamp"
                        style="max-height: 100%; object-fit: contain;">
                </div>
                <div class="col-md-6 order-md-1 right-side text-center align-items-center" style="max-height: 100%;">
                    <h3 style="font-size: 2.1875rem; font-weight: 700;">Descubre nuestras fincas y catálogo de café</h3>
                    <p>Conoce el material que cuidadosamente hemos preparado para
                        hablar de nuestro café</p>
                    <button class="btn btn-warning mt-4">Barista Champ</button>
                </div>
            </div><br>
        </div>

        <div class="row" style="height: 1cm;"></div>

        <div class="container my-5 p-4">
            <h3 style="font-size: 2.1875rem; font-weight: 700;">Explora nuestra selección de cafés</h3>
            <p>Descubre nuestra variedad de cafés, cuidadosamente seleccionados y categorizados por proceso y región.
            </p>
        </div>
    </main>

    <div class="" id="baristaChamp">
        <div class="container" id="proceso-lavado">
            <div class="container my-2 p-4">
                <h3 style="font-size: 2.1875rem; font-weight: 700;">Proceso Lavado</h3>
            </div>
    
            <div id="lavado-Veracruz">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Veracruz</h4>
                    <img src="../../../../assets/cafe-barista-champ/Veracruz.webp" style="height: 100px; width: auto;"
                        alt="mapa-veracruz">
                </div>
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-001_02.webp"
                                style="height: 300px; width: auto;" alt="finca-vistaHermosa">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Vista Hermosa</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-001</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-002_02.webp"
                                style="height: 300px; width: auto;" alt="finca-naranjales">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Naranjales</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-002</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-004_01.webp"
                                style="height: 300px; width: auto;" alt="finca-EspinalGarnica">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Espinal Garnica</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-004</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-4 card-div">
                        <div class="like-icon-div">
                            <label for="card-4-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-4-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="blue-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-005_01.webp"
                                style="height: 300px; width: auto;" alt="finca-barrancaGrande">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Barranca Grande</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-005</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-006_01.webp"
                                style="height: 300px; width: auto;" alt="finca-PaloBlanco">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Palo Blanco</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-006</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-007_01.webp"
                                style="height: 300px; width: auto;" alt="finca-UrsuloGalvan">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Úrsulo Galván</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-007</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-008_01.webp"
                                style="height: 300px; width: auto;" alt="finca-Vequia">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Vequia</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-008</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-4 card-div">
                        <div class="like-icon-div">
                            <label for="card-4-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-4-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="blue-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-013_01.webp"
                                style="height: 300px; width: auto;" alt="finca-Elena">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Elena</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-013</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-015_01.webp"
                                style="height: 300px; width: auto;" alt="finca-Espinal">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Espinal</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-015</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-028_01.webp"
                                style="height: 300px; width: auto;" alt="finca-Lagunilla">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Lagunilla</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-028</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-029_01.webp"
                                style="height: 300px; width: auto;" alt="finca-MesaEspinal">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Mesa del Espinal</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-029</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-4 card-div">
                        <div class="like-icon-div">
                            <label for="card-4-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-4-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="blue-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-040_01.webp"
                                style="height: 300px; width: auto;" alt="finca-vaqueria">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Vaquería</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-040</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="lavado-Puebla">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Puebla</h4>
                    <img src="../../../../assets/cafe-barista-champ/Puebla.webp" style="height: 100px; width: auto;"
                        alt="mapa-puebla">
                </div>
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-010_1.webp" style="height: 300px; width: auto;" alt="finca-Cueva">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Cueva</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-010</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-009_01.webp"
                                style="height: 300px; width: auto;" alt="img-cafe-fincaMuñeco">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Muñeco</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-009</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="" style="height: 300px; width: auto;" alt="finca-Jonotal">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Jonotal</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-046</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div id="lavado-Hidalgo">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Puebla</h4>
                    <img src="../../../../assets/cafe-barista-champ/Hidalgo.webp" style="height: 100px; width: auto;"
                        alt="mapa-Hidalgo">
                </div>
    
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-011_01.webp"
                                style="height: 300px; width: auto;" alt="img-cafe-fincaParaíso">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Paraíso</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-011</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="lavado-Chiapas">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Chiapas</h4>
                    <img src="../../../../assets/cafe-barista-champ/Hidalgo.webp" style="height: 100px; width: auto;"
                        alt="mapa-chiapas">
                </div>
                <div class="container-cards">
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-044.webp" style="height: 300px; width: auto;" alt="finca-laChiripa">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca La Chiripa</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-044</p>
                                    <p class="process">Proceso Lavado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container" id="proceso-añejadoBarrica">
            <div class="container my-2 p-4">
                <h3 style="font-size: 2.1875rem; font-weight: 700;">Proceso Añejado en Barrica</h3>
            </div>
        
            <div id="añejadoBarrica-Veracruz">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Veracruz</h4>
                    <img src="../../../../assets/cafe-barista-champ/Veracruz.webp" style="height: 100px; width: auto;"
                        alt="mapa-veracruz">
                </div>
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-033_01.webp"
                                style="height: 300px; width: auto;" alt="finca-UrsuloGalvan">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Úrsulo Galván
                                reposado en barrica de tequila</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-033</p>
                                    <p class="process">Proceso Añejado en Barrica</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-037_01.webp"
                                style="height: 300px; width: auto;" alt="finca-EspinalAñejado">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca El Espinal añejado
                                en barrica de charanda</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-037</p>
                                    <p class="process">Proceso Añejado en Barrica</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="añejadoBarrica-Hidalgo">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Hidalgo</h4>
                    <img src="../../../../assets/cafe-barista-champ/Hidalgo.webp" style="height: 100px; width: auto;"
                        alt="mapa-hidalgo">
                </div>
                <div class="container-cards">
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-023_01.webp"
                                style="height: 300px; width: auto;" alt="finca-paraisoReposado">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Paraíso reposado
                                en barrica de tequila</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-023</p>
                                    <p class="process">Proceso Añejado en Barrica</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container" id="proceso-honey">
            <div class="container my-2 p-4">
                <h3 style="font-size: 2.1875rem; font-weight: 700;">Proceso Honey</h3>
            </div>
    
            <div id="honey-Veracruz">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Veracruz</h4>
                    <img src="../../../../assets/cafe-barista-champ/Veracruz.webp" style="height: 100px; width: auto;"
                        alt="mapa-veracruz">
                </div>
                <div class="container-cards">
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-022_01.webp"
                                style="height: 300px; width: auto;" alt="finca-EspinalHoney">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca El Espinal Honey</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-022</p>
                                    <p class="process">Proceso Honey</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-4 card-div">
                        <div class="like-icon-div">
                            <label for="card-4-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-4-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="blue-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-043.webp" style="height: 300px; width: auto;" alt="finca-BarrancaGrande">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Barranca Grande
                                Honey</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-043 </p>
                                    <p class="process">Proceso Honey</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="honey-Puebla">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Puebla</h4>
                    <img src="../../../../assets/cafe-barista-champ/Puebla.webp" style="height: 100px; width: auto;"
                        alt="mapa-puebla">
                </div>
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-035_01.webp"
                                style="height: 300px; width: auto;" alt="finca-SieteAguilas">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Siete Águilas</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-035 </p>
                                    <p class="process">Proceso Honey</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
            </div>
    
        </div>
    
        <div class="container" id="proceso-macerados">
            <div class="container my-2 p-4">
                <h3 style="font-size: 2.1875rem; font-weight: 700;">Proceso Macerados</h3>
            </div>
    
            <div id="macerados-Veracruz">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Veracruz</h4>
                    <img src="../../../../assets/cafe-barista-champ/Veracruz.webp" style="height: 100px; width: auto;"
                        alt="mapa-veracruz">
                </div>
                <div class="container-cards">
                    <div class="card-1 card-div">
                        <div class="like-icon-div">
                            <label for="card-1-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-1-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
    
                        <div class="pink-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-050_01.webp"
                                style="height: 300px; width: auto;" alt="img-macerado-mandarina">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Macerado con Mandarina</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-050</p>
                                    <p class="process">Proceso Macerado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-2 card-div">
                        <div class="like-icon-div">
                            <label for="card-2-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-2-like">
                                <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i>
                            </label>
                        </div>
                        <div class="brown-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-052_01.webp"
                                style="height: 300px; width: auto;" alt="img-macerado-romero">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Macerado con Romero</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-052</p>
                                    <p class="process">Proceso Macerado</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="container" id="proceso-natural">
            <div class="container my-2 p-4">
                <h3 style="font-size: 2.1875rem; font-weight: 700;">Proceso Natural</h3>
            </div>
    
            <div id="natural-Veracruz">
                <div class="container d-flex flex-wrap justy-content-right align-items-center">
                    <h4>Región Veracruz</h4>
                    <img src="../../../../assets/cafe-barista-champ/Veracruz.webp" style="height: 100px; width: auto;"
                        alt="mapa-veracruz">
                </div>
                <div class="container-cards">
                    <div class="card-3 card-div">
                        <div class="like-icon-div">
                            <label for="card-3-like" class="like-icon-div-child">
                                <input type="checkbox" id="card-3-like">
                                <!-- <i class="fas fa-shopping-cart heart-empty"></i>
                                <i class="fas fa-shopping-cart heart-fill"></i> -->
                            </label>
                        </div>
                        <div class="grey-img-div img-div">
                            <img src="../../../../assets/cafe-barista-champ/CES-052_01.webp"
                                style="height: 300px; width: auto;" alt="finca-vaqueria">
                        </div>
                        <div class="text-container">
                            <h2 class="item-name">Finca Vaquería Natural</h2>
                            <p class="date"> 250 gramos </p>
                            <div class="pricing-and-cart">
                                <div class="pricing">
                                    <p class="keysap">CES-052</p>
                                    <p class="process">Proceso Natural</p>
                                    <a routerLink="/contacto" target="_blank" style="color: black;">Encuentra tu
                                        sucursal
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <main class="col-lg-10 p-3 align-self-start" id="cafe-premium">
        <section class="container">
            <h1>Café de Especialidad</h1>
            <div class="container d-flex flex-wrap justify-content-around align-items-center">
                <div class="contenedor-logos" style="width: 650px !important; height: auto;">
                    <img src="../../../../assets/cafe-barista-champ/CPM-001_02.webp" alt="Logo de Barista Champ">
                </div>
                <p class="p-3"
                    style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                    Nuestro café clasificado premium destaca por contener aroma, dulzor, acidez, cuerpo y sabor,
                    equilibrado, limpio, con un sabor distinitivo en taza y que se adapta a la preparación y exigencia
                    de nuestros clientes.</p>
            </div>

        </section>
    </main>
</div>

<div class="row" style="height: 2cm;"></div>