<div class="row">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/productos-y-servicios/cafe-de-especialidad/barista-champ" style="text-decoration: none; font-size: 1rem; font-weight: 700; color: black;" >Barista Champ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/productos-y-servicios/cafe-de-especialidad/cafe-verde" style="text-decoration: none; font-size: 1rem; font-weight: 700; color: black;">Café Verde</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/productos-y-servicios/cafe-de-especialidad/cafe-premium"  style="text-decoration: none; font-size: 1rem; font-weight: 700; color: black;">Café Premium</a>
        </li>
    </ul>

    <router-outlet></router-outlet>
</div>

<div class="row" style="height: 2cm;"></div>