<div class="row">
    <aside class="col-lg-2 p-4 align-self-stretch">
        <h4 class="text-center mb-3">Filtrar por Categoría</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="jarabesCheckbox">
                    <label class="form-check-label" for="jarabesCheckbox">Barista Champ</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="jarabesCheckbox">
                    <label class="form-check-label" for="jarabesCheckbox">Café premium</label>
                </div>
            </li>
        </ul>
    </aside>

    <main class="col-lg-10 p-3 align-self-start">
        <section class="container">
            <h1>Café de Especialidad</h1>
            <!-- <div class="contenedor-logos">
                <img src="../../../../assets/LogosMarcas/baristaChamp.webp" alt="Logo de Barista Champ">
            </div> -->
        </section>

        <article class="container">
            <h2>Calidad Inigualable</h2>
            <p>Nuestro café cumple con los más altos estándares de calidad en la industria de los cafés de
                especialidad. Garantizamos una trazabilidad completa, desde la cosecha de la cereza hasta la meticulosa
                preparación, supervisando cuidadosamente cada etapa del proceso.</p>
        </article>

        <!-- Proceso de Lavado -->
        <section class="container" id="contenedor-procesoDeLavado">
            <h3>Proceso <strong>Lavado</strong></h3>
            <p><strong>Recolección:</strong> Selección de las cerezas en su punto óptimo de maduración.
                <strong>Despulpado:</strong> Manual o mecánico. <strong>Fermentación:</strong> Por 24 horas o más,
                degradación de azúcares. <strong>Lavado:</strong> Con agua limpia. <strong>Secado:</strong> Al sol o por
                medios mecánicos.
            </p>

            <!--Región Veracruz-->
            <div>
                <h4>Región Veracruz</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="scroll-horizontal-container my-5">
                        <div class="row">
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-001_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Vista hermosa</h5>
                                        <p class="card-text">CES-001 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-002_2.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Naranjales</h5>
                                        <p class="card-text">CES-002 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-004_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Espinal Garnica</h5>
                                        <p class="card-text">CES-004 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-005_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Barranca Grande</h5>
                                        <p class="card-text">CES-005 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-006_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Palo Blanco</h5>
                                        <p class="card-text">CES-006 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-007_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Úrsulo Galván</h5>
                                        <p class="card-text">CES-007 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-008_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Vequia</h5>
                                        <p class="card-text">CES-008 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-013_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Elena</h5>
                                        <p class="card-text">CES-013 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-015_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Espinal</h5>
                                        <p class="card-text">CES-015 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-028_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Lagunilla</h5>
                                        <p class="card-text">CES-028 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-029_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Mesa del Espinal
                                        </h5>
                                        <p class="card-text">CES-029 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-040_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Vaquería</h5>
                                        <p class="card-text">CES-040 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Región Puebla-->
            <div>
                <h4>Región Puebla</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="scroll-horizontal-container my-5">
                        <div class="row">
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <!-- <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/"> -->
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Cueva</h5>
                                        <p class="card-text">CES-010 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-009_01.webp">
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Muñeco</h5>
                                        <p class="card-text">CES-009 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                            <div style="height: 500px !important; width: 250px !important;">
                                <div class="card">
                                    <!-- <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                        src="../../../../assets/cafe-barista-champ/CES-009_01.webp"> -->
                                    <div class="card-body">
                                        <h5 class="card-title my-2" style="font-weight: 700;">Finca Jonocotal</h5>
                                        <p class="card-text">CES-049 </p>
                                        <p class="card-text">250 gr.</p>
                                    </div>
                                    <div class="card-footer justify-content-right">
                                        <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Región Hidalgo-->
            <div>
                <h4>Región Hidalgo</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                    src="../../../../assets/cafe-barista-champ/CES-011_01.webp">
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">Finca Paraíso</h5>
                                    <p class="card-text">CES-010 </p>
                                    <p class="card-text">250 gr.</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Región Chiapas-->
            <div>
                <h4>Región Hidalgo</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div style="height: 500px !important; width: 250px !important;">
                            <div class="card">
                                <!-- <img class="card-img-top" alt="Imagen del insumo" id="cafe-barista-champ"
                                    src="../../../../assets/cafe-barista-champ/"> -->
                                <div class="card-body">
                                    <h5 class="card-title my-2" style="font-weight: 700;">Finca La Chiripa</h5>
                                    <p class="card-text">CES-044 </p>
                                    <p class="card-text">250 gr.</p>
                                </div>
                                <div class="card-footer justify-content-right">
                                    <!-- <a routerLink="#" style="color: black;"> Ver más
                                        <i class="fas fa-arrow-right" style="color: black;"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="row" style="height: 2cm;"></div>