<div class="jumbotron my-4 d-none">
    <h1 class="display-4">Te damos la bienvenida a <b>Café Etrusca</b></h1>
    <p class="lead"> Como una marca mexicana líder en la industria, nos especializamos en elevar el estándar del café de
        alta calidad. No solo suministramos insumos para la preparación de bebidas, sino que creamos experiencias
        excepcionales.</p>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/2.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container-imagen-text my-4">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 order-md-2 left-side">
            <img class="image" src="https://cafeetrusca.com/img/nosotros/FOTO-ETRUSCA1.webp" alt="Imagen">
        </div>
        <div class="col-md-6 order-md-1 right-side">
            <h2 class="title">¡Conócenos!</h2>
            <p class="subTitle">Más que una empresa somos una historia</p>
            <button class="btn btn-warning my-4">Iniciar experiencia</button>
        </div>
    </div>
</div>

<div class="container my-4">
    <br>
    <h2 class="title text-center" style="font-size: 2.1875rem; font-weight: 700;">Conoce nuestra marcas</h2>
    <div class="d-flex flex-column">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"><img src="https://cafeetrusca.com/img/nosotros/barista.webp" class="img-fluid">
                    </div>
                    <p class="text-justify p-4">
                        Por su <b>fuerte impacto social y directo</b> en la calidad de vida de las familias
                        productoras, se convierte en el <b>proyecto
                            primordial de Etrusca.</b> Trabajamos en campo junto a los productores, quienes se
                        dedican a preservar el entorno,
                        el proceso y la calidad del café; generan empleos sostenibles, protegen el ambiente, cuidan la
                        fertilidad
                        de los suelos,
                        la sombra y la sostenibilidad. Nuestra misión es <b>mantener y presentar cafés de
                            especialidad</b> a
                        nuestros clientes, destacando
                        el café mexicano entre los mejores a nivel mundial.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"> <img src="https://cafeetrusca.com/Ecommerce/Brand/2048x2048px_ChillOut.png"
                            class="img-fluid">
                    </div>
                    <p class="text-justify p-4">
                        <b>ChillOut</b>, la destacada marca mexicana de <b>insumos para cafetería</b>, se esfuerza
                        cada día por brindar a sus clientes experiencias excepcionales. Comprometidos con la calidad,
                        nuestros productos sobresalen por su excelencia y la inigualable relación
                        precio-beneficio de <b>polvos, jellies, perlas, tapioca, concentrados, jarabes y
                            purés</b>. La innovación guía nuestra filosofía y pronto expandiremos nuestras líneas con
                        <b>nuevos y emocionantes sabores</b>.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"><img src="https://cafeetrusca.com/img/nosotros/fenice.webp" class="img-fluid">
                    </div>
                    <p class="text-justify p-4">
                        El proyecto con el que <b>le rendimos culto al café.</b> Si bien para un barista sus activos más
                        preciados son su conocimiento y habilidad,
                        resulta imprescindible contar con accesorios de calidad para lograr un gran café. La Fenice es
                        tu
                        mejor aliado para disfrutar de este
                        ritual. Contamos con <b>todo tipo de accesorios</b> que te ayudan a rendir culto al café y té;
                        para
                        hacer de ellos <b>toda una experiencia.</b></p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-around">
            <button class="btn btn-warning my-2">Barista Champ</button>
            <button class="btn btn-warning my-2">ChillOut</button>
            <button class="btn btn-warning my-2">La Fenice</button>
        </div>
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<div class="jumbotron jumbotron-fluid my-4">
    <div class="container">
        <a class="lead" style="font-weight: bold;">Descubre nuestros logros al hacer clic</a>
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<section class="mtb-5">
    <div class="container">
        <form class="col s12" name="newletter" method="POST">
            <div class="row margin-auto">
                <div class="col s12 w-50">
                    <h3><b class="black-text">Suscríbete<span class="grey-text"> a nuestro newsletter</span></b></h3>
                    <p class="fs-10 poppins m-0 margin-auto poppins_light" style="line-height: 1.2;">Noticias, eventos,
                        novedades, lanzamientos, promociones y más</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field ml-0 col m4 s12 white grey_background w-30 my-2"
                    style="margin-right: 1%;padding: 0.3rem .5rem;border: 2px solid #ededed;box-shadow: 2px 2px 3px 0 #dfdfdf;">
                    <input id="last_name" type="text" class="validate" style="border: none;" placeholder="Nombre"
                        required>
                </div>
                <div class="input-field ml-0 col m6 s12 white grey_background my-2"
                    style="padding: 0.3rem .5rem;border: 2px solid #ededed;box-shadow: 2px 2px 3px 0 #dfdfdf;">
                    <input id="email" type="email" class="validate" style="border: none;" placeholder="e-mail" required>
                </div>
                <div class="col m2 offset-s2 s10">
                    <button class="btn btn-warning my-2" type="submit" name="action" id="action">Enviar</button>
                </div>
            </div>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8LTklaN8LdlJu0oHMR0351XD9NywGqjoPelN5BazYPkATNpHwPBoLi6GYGrsgKE59NwozysYvjWnxicM5l4b7_mZjW2F_TcPdxtvCAa9v5qnWivlBzQ7KJkXD5RO14H_MvKaLrgI0wIO5vWs3IguxRQ" />
        </form>
    </div>
</section>

<div class="row" style="height: 2cm;"></div>

<div class="container">
    <div>
        <h3 class="text-center">Explora los artículos de nuestro blog</h3>
        <p class="text-center">La voz de nuestros docentes y expertos en café</p>
    </div>
    <div class="d-flex flex-wrap justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/chess-dummy.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"><img id="icon-share" src="../../../assets/shareicon.png"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/chess-dummy.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"><img id="icon-share" src="../../../assets/shareicon.png"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/chess-dummy.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"><img id="icon-share" src="../../../assets/shareicon.png"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/chess-dummy.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"><img id="icon-share" src="../../../assets/shareicon.png"></div>
        </div>
    </div>
</div>