<div class="jumbotron my-4 d-none">
    <h1 class="display-4">Te damos la bienvenida a <b>Café Etrusca</b></h1>
    <p class="lead"> Como una marca mexicana líder en la industria, nos especializamos en elevar el estándar del café de
        alta calidad. No solo suministramos insumos para la preparación de bebidas, sino que creamos experiencias
        excepcionales.</p>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/banners/banner-navidad.webp" class="d-block w-100" alt="...">
            <div class="arrow bounce">
                <a class="smoothScroll" href="#about"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- <div class="carousel-item">
            <img src="../../../assets/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/2.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button> -->
        <!-- <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<div class="container my-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img class="card-image" src="../../../assets/icons/Temario.webp">
                <div class="card-body">
                    <h3 class="text-center title">Capacitación</h3>
                    <p class="text-center">Cursos y talleres diseñados para formar expertos en el café con modalidad
                        teórica y práctica.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="buttonEtrusca">VER MÁS</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img class="card-image" src="../../../assets/icons/Comentario.webp">
                <div class="card-body">
                    <h3 class="text-center title">Dudas o comentarios</h3>
                    <p class="text-center">Necesitas asesoría, comentarios o cotizar productos en específico un
                        ejecutivo te atenderá.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="buttonEtrusca">CONTACTO</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img class="card-image" src="../../../assets/icons/Carrito de compras.webp">
                <div class="card-body">
                    <h3 class="text-center title">E-commerce</h3>
                    <p class="text-center">Todos nuestros productos al alcance de un clic, ahorra tiempo comprando
                        en nuestra tienda online.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="buttonEtrusca">PRÓXIMAMENTE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <br><br>
    <h2 class="title text-center" style="font-size: 2.1875rem; font-weight: 700;">Conoce nuestra marcas</h2>
    <div class="d-flex flex-column">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"><a href="https://baristachamp.com/" target="_blank"><img
                                src="https://cafeetrusca.com/img/nosotros/barista.webp" class="img-fluid"
                                title="Barista-Champ"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"><a href="https://baristachamp.com/" target="_blank"><img
                                src="https://cafeetrusca.com/Ecommerce/Brand/2048x2048px_ChillOut.png"
                                class="img-fluid"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" style="text-align: justify;">
                <div class="d-flex flex-column align-items-center">
                    <div class="circle"><a href="https://la-fenice.cafeetrusca.com/" target="_blank"><img
                                src="https://cafeetrusca.com/img/nosotros/fenice.webp" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 1cm;"></div>

<div class="container d-flex flex-wrap justify-content-center align-items-center"
    style="height: 350px; background-image: url(../../../assets/fondo.png); background-repeat: no-repeat; width: 100%; position: relative;">
    <!-- Capa semitransparente para crear contraste  -->
    <div
        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); height: 300px;">
    </div>

    <div style="text-align: center; position: relative; z-index: 1; width: auto; padding: 2%;">
        <a class="lead" style="font-weight: 800; color: #FFFFFF; font-size: 35px; text-decoration: none;">Descubre
            nuestros logros al hacer clic</a>
    </div>
</div>

<div class="row" style="height: 1cm; color: transparent;"></div>

<div class="container">
    <div class="my-2">
        <h3 class="text-center" style="font-size: 2.1875rem; font-weight: 700;">Explora los artículos de nuestro
            blog</h3>
        <p class="text-center">La voz de nuestros docentes y expertos en café</p>
    </div>
    <div class="d-flex flex-wrap justify-content-around my-2">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/bubble iced coffe.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/arte-latte.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/baristas.png" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/PRUEBAS/brewbar.webp" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title">Trufa de chocolate</h5>
                <p class="card-text">1 julio 2023 | 3 min. lectura</p>
            </div>
            <div class="icon d-flex align-items-center justify-content-center"></div>
        </div>
    </div>
</div>

<div class="row" style="height: 2cm;"></div>

<main class="container my-5">
    <div id="carousel" (keydown)="onKeydown($event)">
      <div *ngFor="let item of carouselItems; let i = index" [ngClass]="getItemClasses(i)">
        <img [src]="item.imageSrc" alt="Carousel Image {{ i + 1 }}">
      </div>
    </div>
  
    <div class="buttons">
      <button id="prev" (click)="onClickPrev()">Prev</button>
      <button id="next" (click)="onClickNext()">Next</button>
    </div>
</main>

<div class="row" style="height: 2cm;"></div>

<section class="mtb-5"
    style="background-image: linear-gradient(-20deg, #23c3ff 50%, #039be5 50%); height: auto; padding: 2%;">
    <div class="container">
        <form class="col s12" name="newletter" method="POST">
            <div class="row">
                <div class="col s12">
                    <h3><b class="black-text">Suscríbete<span class="grey-text"> a nuestro newsletter</span></b>
                    </h3>
                    <p class="fs-10 poppins m-0" style="line-height: 1.2;">Noticias, eventos, novedades,
                        lanzamientos, promociones y más</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 my-2">
                    <input id="last_name" type="text" class="validate"
                        style="border: 2px solid #ededed; box-shadow: 2px 2px 3px 0 #dfdfdf; border-radius: 10px; padding: 3%; width: 300px;"
                        placeholder="Nombre" required>
                </div>
                <div class="input-field col s12 m6 my-2">
                    <input id="email" type="email" class="validate"
                        style="border: 2px solid #ededed; box-shadow: 2px 2px 3px 0 #dfdfdf; border-radius: 10px; padding: 3%; width: 300px;"
                        placeholder="e-mail" required>
                </div>
                <div class="col s12 m2">
                    <button class="btn btn-warning my-2" type="submit" name="action" id="action">Enviar</button>
                </div>
            </div>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8LTklaN8LdlJu0oHMR0351XD9NywGqjoPelN5BazYPkATNpHwPBoLi6GYGrsgKE59NwozysYvjWnxicM5l4b7_mZjW2F_TcPdxtvCAa9v5qnWivlBzQ7KJkXD5RO14H_MvKaLrgI0wIO5vWs3IguxRQ" />
        </form>
    </div>
</section>
                                                
<div class="row" style="height: 2cm;"></div>