h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

#container-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
}

#card-image-jarabes {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--primary-200);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-jarabes:hover {
    background-color: var(--primary-200);
}

#card-image-polvos {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--primary-300);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-polvos:hover {
    background-color: var(--primary-300);
}

#card-image-salsas {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--accent-200);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-salsas:hover {
    background-color: var(--accent-200);
}

#card-image-pures-concentrados {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--accent-300);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-pures-concentrados:hover {
    background-color: var(--accent-300);
}

#card-image-bubble-tea {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--accent-400);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-bubble-tea:hover {
    background-color: var(--accent-400);
}

#card-image-te {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--primary-200);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-te:hover {
    background-color: var(--primary-200);
}

#card-image-tisanas {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid var(--primary-300);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}

#card-image-tisanas:hover {
    background-color: var(--primary-300);
}

/********** Large devices only **********/
@media (min-width: 1600px) {
    .card {
        height: 40vh;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .card {
        height: 40vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 1.5rem;
    }

    .card {
        height: 20vh;
    }

    h2 {
        font-size: 1rem;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

    .col-xs-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 50%;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }

    .card {
        height: 27vh;
    }

    .image-container {
        height: 150px;
        width: 150px;
    }
}