<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center poppins-extralight my-4">Cónoce el catálogo de máquinas y equipos que tenemos en Etrusca
                para ti.</h1>
            <hr>
        </div>

        <div class="col-md-12">
            <div class="row" id="container-cards">
                <div class="col-md-2 col-sm-6 col-xs-6 my-2">
                    <a routerLink="/maquinaria-y-equipo-para-cafeterias-maquinas-cafe">
                        <div class="card" id="card-jarabes">
                            <div class="my-2 image-container" id="card-image-jarabes">
                                <img src="../../../../assets/icons/Maquinas-de-cafe.png" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Cafeteras</h2>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 my-2 col-xs-6">
                    <a routerLink="/maquinaria-y-equipo-para-cafeterias-molinos">
                        <div class="card" id="card-salsas">
                            <div class="my-2 image-container" id="card-image-salsas">
                                <img src="../../../../assets/icons/Molinos.png" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Molinos</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 my-2">
                    <a routerLink="/maquinaria-y-equipo-para-cafeterias-licuadoras">
                        <div class="card" id="card-polvos">
                            <div class="my-2 image-container" id="card-image-polvos">
                                <img src="../../../../assets/icons/Licuadoras.png" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h2 class="p-2 text-center poppins-bold">Licuadoras</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>