<div class="row">
    <main class="col-lg-10 p-3 align-self-start" id="cafe-premium">
        <section class="container">
            <h1>Café de Especialidad</h1>
            <div class="container d-flex flex-wrap justify-content-around align-items-center">
                <div class="contenedor-logos" style="width: 650px !important; height: auto;">
                    <img src="../../../../assets/cafe-barista-champ/CPM-001_02.webp" alt="Logo de Barista Champ">
                </div>
                <p class="p-3"
                    style="text-align: justify; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; width: 600px; height: auto;">
                    Nuestro café clasificado premium destaca por contener aroma, dulzor, acidez, cuerpo y sabor,
                    equilibrado, limpio, con un sabor distinitivo en taza y que se adapta a la preparación y exigencia
                    de nuestros clientes.</p>
            </div>
    
        </section>
    </main>
</div>
