<section>
    <div class="container">
        <div class="row p-5 center-all-element">
            <div class="col s12">
                <h2>Información sobre Entrega de Mercancía</h2>
            </div>
            <div class="col s12">
                <ol>
                    <li>Formas de entrega de mercancía.</li>
                    <li>El periodo de entrega de mercancía corre a partir del día 18 de septiembre de 2023.</li>
                    <li>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Tipos de Entrega</th>
                                    <th>Tiempo de Entrega</th>
                                    <th>Costos de Envío</th>
                                    <th>Mínimo de Compra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A) Envío área metropolitana</td>
                                    <td>7 a 10 días hábiles</td>
                                    <td>Sin costo de envío</td>
                                    <td>Compra mínima de MXN $1,500</td>
                                </tr>
                                <tr>
                                    <td>B) Envío por paquetería</td>
                                    <td>7 a 10 días hábiles</td>
                                    <td>Costo de envío a cuenta del cliente</td>
                                    <td>Sin mínimo de compra</td>
                                </tr>
                            </tbody>
                        </table>
                        Para la entrega de mercancía será obligatorio que el cliente presente su nota de compra original
                        sellada, así como una identificación y firmar de conformidad en la factura de entrega.
                    </li>
                    <li>Para las entregas de mercancía sin costo alguno en el área metropolitana el total mínimo de
                        compra es de MXN $1,500.00 (mil quinientos pesos 00/100 M.N.), en caso de ser inferior la
                        compra, los gastos de envío corren por cuenta del cliente.</li>
                    <li>Las entregas foráneas se realizan con la empresa transportista “Autotransportes de Carga
                        Tresguerras, S.A. de C.V.” a las zonas con cobertura, y los gastos de envío corren por parte del
                        cliente.</li>
                    <li>En caso de que el cliente no haya podido atender la primera visita de la entrega de mercancía se
                        programará una segunda visita la cual será sujeta a disponibilidad del proveedor misma que no
                        podrá exceder los 30 (treinta) días hábiles.</li>
                    <li>Los días y horarios de entrega para domicilios en el área metropolitana de la CDMX son de lunes
                        a viernes en un horario de 10:00 a.m. A 17:00 p.m. y sábados de 10:00 a.m. A 12:00 p.m. Respecto
                        a las entregas foráneas, serán las que la propia empresa transportista tenga en sus políticas.
                    </li>
                    <li>En caso de existir alguna inconformidad con la entrega de mercancía por medio de paquetería, por
                        alguna causa imputable a Etrusca (la mercancía no corresponda en cuanto a las características,
                        marca, especificaciones y demás elementos sustanciales bajo las cuales haya comprado la
                        mercancía, o cuando la mercancía tenga algún defecto de origen imputable a Etrusca), el cliente
                        tendrá un plazo no mayor a 2 días hábiles a partir de la fecha de entrega para hacer su
                        reclamación, solicitar su cambio y/o devolución y mandar evidencia fotográfica de la caja y
                        producto con número de guía.</li>
                    <li>Para solicitud y corrección de facturas deberá proporcionar su cédula de identificación fiscal,
                        contando con un máximo de 30 días naturales a partir de la fecha de compra.</li>
                    <li>Estoy de acuerdo que la mercancía comprada a Etrusca en Expo Café México 2023, sea enviada a mi
                        domicilio por paquetería externa a Etrusca, por lo anterior, deslindo a Etrusca de cualquier
                        daño o pérdida que pueda ocurrir durante el envío de la mercancía.</li>
                    <li>Ayúdanos a mejorar, quejas y sugerencias comunicarse al WhatsApp <a
                            href='https://wa.me/3314737423' target="_blank">(55)
                            5590-5407 Ext. 1209</a> al WhatsApp <a href="tel:+52 55 4166 8777" target="_blank">+52 55
                            4166 8777</a> ó <a href='mailto:fabiola.perez@cafeetrusca.com'
                            target="_blank">fabiola.perez@cafeetrusca.com</a></li>
                </ol>
            </div>
        </div>
    </div>


</section>