<!-- <div style="display: flex; justify-content: center;">
    <img src="../../../../assets/PRUEBAS/demo-video-arte-latte.gif" alt="Descripción del GIF"
        style="max-width: 96.25rem; max-height: 35.625rem; width: 100%; height: auto; margin: auto;">
</div> -->

<div class="d-flex flex-column justify-content-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="width: 350px;">
                <img src="../../../../assets/icons/formacion-emprendedores.svg" alt="Arte Latte" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 4rem; font-weight: 700;">Emprendiendo mi negocio de barra de café y cafetería</h1>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-calendar"></i> 2 días</p>
                <p style="font-size: 1.5rem; font-weight: 600;"><i class="fas fa-clock"></i> 14 horas</p>
            </div>
        </div>
    </div>
</div>

<aside class="container">
    <p style="text-align: justify;">
        Aprender el arte del latte puede transformar la experiencia de tomar café en algo sorprendente. Dominar la
        técnica de verter la leche vaporizada sobre el espresso te brinda la oportunidad de crear diseños elegantes y
        cautivadores en la superficie de tu bebida, desde hojas delicadas hasta corazones reconfortantes. Más allá de su
        aspecto visual, el arte latte muestra tu dedicación al detalle y a la artesanía, elevando tanto la presentación
        como el sabor de cada taza de café, y añadiendo un toque artístico a la rutina diaria.
    </p>
</aside>

<section class="container">
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Objetivo</h3>
        <p class="fs-5S">
            Conocer cómo funciona y se administra a una cafetería, aprender a utilizar el equipo necesario para preparar
            bebidas frías y calientes, el manejo apropiado de las máquinas, el café de especialidad y los métodos de
            extracción.
        </p>
    </div><br>
    <div class="m-t-5">
        <h3 class="fs-9" style="font-size: 2.1875rem; font-weight: 700;">Temario día 1 </h3>
        <ul class="list_style">
            <li>Evolución y transformación de las barras de café</li>
            <li>Consumos saludables</li>
            <li>Espresso</li>
            <li>Leche</li>
            <li>Bebidas frías y saludables: preparaciones prácticas y novedosas</li>
            <li>Té y tisanas</li>
        </ul>
    </div>
    <div class="m-t-5">
        <h1 class="fs-7" style="font-size: 2.1875rem; font-weight: 700;">Temario día 2</h1>
        <ul class="list_style">
            <li>Plan organizacional de apertura</li>
            <li>Ejercicios de catación</li>
            <li>Brew bar</li>
            <li>Lattes clásicos y saborizados</li>
            <li>Práctica de limpieza</li>
        </ul>
    </div>
    <div class="row" style="height: 2cm;"></div>
</section>