/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
    width: 100vw;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

:root {
    --yellow-etrusca: #fcb700;
    --blue-background: #89CFF0; 
    --strongBlue-background: #33658A;
    --grey-background: #f3f3f3;

    /* Cards colors */
    --card-main-color : whitesmoke;
    --card-1-secondary-color: rgb(192, 82, 82);
    --card-2-secondary-color: rgb(67,53,27);
    --card-3-secondary-color: rgb(178,180,179);
    --card-4-secondary-color: rgb(96,109,117);

    /*Textos*/
    --font-title-size: 3em;
    --font-title-weight: 800;
    --font-subtitle-size: 2em;
    --font-subtitle-weight: 100;
    --font-text-size: 1em;
    --font-text-weight: 200;

    /*Padding*/
    --bs-navbar-nav-link-padding-x: 15px;
    --bs-navbar-nav-link-padding-x: 27px;
}

.title {
    font-weight: 800;
}

