<div class="container">
    <div class="row">
        <aside class="col-lg-2 col-md-2" id="tisanas-presentation">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 father-logo">
                            <div class="icon-section">
                                <img src="../../../../assets/icons/Tisanas.webp" alt="Icono de Tisanas"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center p-3 poppins-bold">Tisanas</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="text-center p-3 poppins-light">Filtrar por Línea</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="tisanasCafeEtruscaCheckbox"
                                    [(ngModel)]="hidesTisanasCafeEtrusca">
                                <label class="form-check-label poppins-extralight" for="tisanasCafeEtruscaCheckbox"> Tisanas Café Etrusca
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="tisanasEuroTeCheckbox"
                                    [(ngModel)]="hidesTisanasEuroTe">
                                <label class="form-check-label poppins-extralight" for="tisanasEuroTeCheckbox"> EUROTE </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <hr>
                    <p class="p-3 poppins-light">
                        Las tisanas son mezclas de distintas hojas, frutas o hierbas que se combinan con diferentes frutos deshidratados
                        como moras, plátano, arándano maracuyá, limón, entre otros.
                    </p>
                </div>
            </div>
        </aside>

        <!--Categoría Tisanas-->
        <main class="col-lg-10 my-2" id="todas-las-tisanas">
            <!-- Cards para tisanas Café Etrusca-->
            <div class="row my-4" id="tisanasCafeEtrusca" *ngIf="hidesTisanasCafeEtrusca">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../../assets/CafeEtrusca_LOGO.png" alt="Tisanas Café Etrusca"
                            title="Tisanas Café Etrusca" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Tisanas Café Etrusca</h2>
                    <p class="px-3 poppins-light">Las tisanas frutales tienen una base de manzana y jamaica, que se
                        combina con diferentes frutos como moras, plátano, arándano, maracuyá, limón, entre otros.
                        Las tisanas herbales en esencia, son hierbas y/o flores.</p>
                    <span class="px-3 poppins-extralight">26 sabores disponibles.</span>  
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación: 250 gramos</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3 card-left">
                            <p class="p-3 text-center">
                                <span class="poppins-extralight">Rendimiento aproximado: <br>25 bebidas frías y calientes de 300 ml (10 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaAnteriorCafeEtrusca()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaCafeEtrusca">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-tisanaEtrusca"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold" >{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link"
                                                (click)="paginaSiguienteCafeEtrusca()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <!--Cards para tisanas EuroTe-->
            <div class="row my-4" id="tisanasEurote" *ngIf="hidesTisanasEuroTe">
                <div class="col-md-4 father-logo">
                    <div class="brand-container">
                        <img src="../../../../assets/icons/euro-te.svg" alt="EUROTE" title="EUROTE" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="px-3 poppins-bold">Euroté</h2>
                    <p class="px-3 poppins-light">Euro Té ha inovado en la creación de nuevas mezclas y sabores, buscando siempre ofrecer algo nuevo
                        y diferente. Esto incluye la incorporación de sabores únicos y combinaciones que destacan por su originalidad.</p>
                    <span class="px-3 poppins-extralight">Más de 10 sabores disponibles</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-right">
                                <span class="poppins-extralight">Presentación de 250 g. <br> Rinde aprox. 25 bebidas
                                    frías y calientes de 300 ml (10 g c/u)</span>
                            </p>
                        </div>
                        <div class="col-md-6 my-3">
                            <p class="p-3 text-center card-left">
                                <span class="poppins-extralight">Presentación de 1 kg. <br>Rinde aprox. 100 bebidas frías y calientes de 300 ml (10 g c/u)</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link btn btn-outline-warning"
                                                (click)="paginaAnteriorEuroTe()"><i class="fa fa-chevron-left"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2" *ngFor="let insumo of elementosPaginaEuroTe">
                                <div class="share-icon">
                                    <a routerLink="/donde-encontranos">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <div class="card-top">
                                    <div class="circle-euroTe"></div>
                                    <img class="img my-2" [src]="sanitizeUrl(insumo.urlArticleFirst)"
                                        alt="{{insumo.name}}" title="{{insumo.name}}">
                                </div>
                                <div class="card-body">
                                    <h6 class="p-2 poppins-bold">{{ insumo.keySap }}</h6>
                                    <h4 class="p-2 name poppins-extralight">{{ insumo.name }}</h4>
                                    <!-- <h5 class="p-2 description">{{ insumo.description }}</h5> -->
                                </div>
                            </div>
                            <div class="col-md-1">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <button class="page-link btn btn-outline-warning"
                                                (click)="paginaSiguienteEuroTe()"><i class="fa fa-chevron-right"
                                                    aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- <div class="container text-center p-2 total-pages">
                            <p>Total de elementos visibles: {{ elementosVisibles }} de {{
                                tisanasFrutalesCafeEtrusca.length }}</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>