<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img id="logo" src="../../../assets/logo_etrusca.webp" alt="Café Etrusca" title="Café Etrusca"
            href="https://cafeetrusca.com/" target="_blank" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/insumos-para-cafeterias" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Insumos
                    </a>
                    <ul class="dropdown-menu">
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-polvos">Polvos</a></ul>
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-jarabes">Jarabes</a></ul>
                        <ul><a class="dropdown-item" routerLink="insumos-para-cafeterias-salsas">Salsas </a></ul>
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-pures-y-concentrados">Purés y
                                concentrados</a>
                        </ul>
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-bubble-tea">Bubble Tea</a></ul>
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-tes">Tés</a></ul>
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias-tisanas">Tisanas </a></ul>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/maquinaria-y-equipo-para-cafeterias" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Equipos
                    </a>
                    <ul class="dropdown-menu">
                        <ul><a class="dropdown-item" routerLink="/maquinaria-y-equipo-para-cafeterias-maquinas-cafe">Cafeteras</a></ul>
                        <ul><a class="dropdown-item" routerLink="/maquinaria-y-equipo-para-cafeterias-molinos">Mólinos</a></ul>
                        <ul><a class="dropdown-item" routerLink="/maquinaria-y-equipo-para-cafeterias-licuadoras">Licuadoras</a></ul>
                        <!-- <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria">Tostadores</a></ul>  -->

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/cafe-de-especialidad" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Café
                    </a>
                    <ul class="dropdown-menu">
                        <ul><a class="dropdown-item" routerLink="barista-champ">Barista Champ</a></ul>
                        <ul><a class="dropdown-item" routerLink="cafe-verde">Café verde</a></ul>
                        <ul><a class="dropdown-item" routerLink="cafe-premium">Café Etrusca</a></ul>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="accesorios-para-poner-una-cafeteria" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Accesorios
                    </a>
                    <ul class="dropdown-menu">
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/drippers">Drippers</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/prensas-francesas">Prensas francesas</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/jarras-espumadoras">Jarras espumadoras</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/jarras-servidoras">Jarras de servicio</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/sifon">Sifones</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/tampers">Tampers</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/molinos">Mólinos</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/catacion">Catación</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/vasos">Vasos</a></ul>
                        <ul><a class="dropdown-item" routerLink="/cafe-de-especialidad">Cafetería</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/metodos-extraccion">Métodos de extracción</a></ul>
                        <ul><a class="dropdown-item" routerLink="/cafe-de-especialidad">Complementos de métodos</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/limpieza">Limpieza</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria/filtros-cafe">Filtros</a></ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>