    /* Ajustar el espacio entre los elementos */
    .navbar-nav .nav-item {
        margin-right: 15px;
        height: 85px !important;
        /* Puedes ajustar el valor según tus preferencias */
    }

    a.nav-link, a.nav-link:hover {
        padding-top: 28px;
    }

     /* Cambiar el color de fondo al hacer hover en las opciones */
    .nav-link:hover {
        background-color: #f8f9fa;
        border-radius: 16px;
        padding: 10px;
        /* Cambiar el color según tus preferencias */
    }
  
    .navbar-toggler {
        border: none;
    }
    
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
    
    @media(max-width: 768px) {
        .navbar-nav > li:hover {
            background-color: none;
        }
    }
    

    /* Alinear el contenido al centro del navbar */
    .navbar-nav {
        display: flex;
        align-items: center;
    }

    /* Alinear el logo verticalmente */
    #logo {
        margin-right: 15px;
        /* Añadir un margen derecho para separar el logo de los elementos del menú */
        width: 6rem;
        height: 6rem;
    }

    /* Quitar el margen superior del select */
    .custom-select {
        margin-top: 0;
    }

    a {
        font-weight: 200;
        font-size: 15px;
    }


    .temporada {
        background-color: #005d2d !important;
        transition: background-color 500ms, color 500ms;
    }
    .navbar-nav > .nav-item > .nav-link > {
        color: white;
    }

    /* Estilos para el menú fijo */
    .fixed-menu {
        position: fixed;
        height: 137px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        /* Ajusta según sea necesario */
        /* Establece scroll-behavior para suavizar el desplazamiento */
        scroll-behavior: smooth;
        /* Añade una transición para un efecto de suavidad al cambio */
        transition: background-color 0.3s ease;
        /* Puedes ajustar la duración y la propiedad según tus preferencias */

    }

    /* Agrega este estilo para personalizar el dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
}

/* Estilos para el enlace del botón principal */
.nav-item.dropdown a.nav-link {
    color: #333; /* Cambia el color del texto */
}

/* Estilos para los enlaces del menú desplegable */
.nav-item.dropdown .dropdown-menu a.dropdown-item {
    color: #555; /* Cambia el color del texto */
}

.nav-item.dropdown .dropdown-menu a.dropdown-item:hover {
    background-color: #f8f9fa; /* Cambia el color de fondo al pasar el mouse */
}
