<nav class="navbar navbar-expand-lg bg-body-tertiary "
    [ngClass]="{'fixed-menu': isMenuFixed, 'hide-menu': !isMenuFixed, 'temporada': isHome}">
    <div class="container-fluid">
        <img id="logo" src="../../../assets/CafeEtrusca_LOGO.png" alt="Café Etrusca" title="Café Etrusca"
            routerLink="/">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="quienes-somos">¿QUIÉNES SOMOS?
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        PRODUCTOS Y SERVICIOS
                    </a>
                    <ul class="dropdown-menu">
                        <ul><a class="dropdown-item" routerLink="/insumos-para-cafeterias/jarabes">INSUMOS</a></ul>
                        <ul><a class="dropdown-item" routerLink="/maquinaria-y-equipo-para-cafeterias">MÁQUINAS</a></ul>
                        <ul><a class="dropdown-item" routerLink="/cafe-de-especialidad">CAFÉ</a></ul>
                        <ul><a class="dropdown-item" routerLink="/accesorios-para-poner-una-cafeteria">ACCESORIOS</a>
                        </ul>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/recetario">RECETARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog">BLOG</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="cursos-para-baristas-y-talleres-para-cafeterias"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CURSOS Y TALLERES
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                routerLink="/emprendiendo-mi-negocio-de-barra-de-cafe-y-cafeteria">FORMACIÓN DE
                                EMPRENDEDORES</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-arte-latte-nivel-basico">ARTE LATTE</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-experiencia-sensorial">CATACIÓN DE LA SEMILLA A
                                LO SENSORIAL</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-mixologia-con-cafe-sin-alcohol">MIXOLOGÍA Y
                                MOCTELERÍA</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-basico-de-tostado-de-cafe">TOSTADO</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-basico-para-baristas">FORMACIÓN PARA UN
                                BARISTA</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-bubble-tea-&-iced-coffee">BUBLE TEA & ICED
                                COFFE</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-brew-bar">BREW BAR & COLD BREW</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/donde-encontrarnos">¿DÓNDE ENCONTRARNOS?
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">BUSCAR</button>
            </form>
        </div>
    </div>
</nav>