<nav class="navbar navbar-expand-lg bg-body-tertiary " [ngClass]="{'fixed-menu': isMenuFixed, 'hide-menu': !isMenuFixed, 'calabaza': isHome}">
    <div class="container-fluid">
        <img id="logo" src="https://i.postimg.cc/y8j19qhw/logo.png" alt="Café Etrusca" title="Café Etrusca" routerLink="/">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="quienes-somos">¿Quiénes
                        somos?
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/productos-y-servicios" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Productos y servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/productos-y-servicios/insumos-para-cafeterias">Insumos</a></li>
                        <li><a class="dropdown-item" routerLink="/productos-y-servicios/maquinaria-y-equipo-para-cafeterias">Maquinas</a></li>
                        <li><a class="dropdown-item" routerLink="/productos-y-servicios/cafe-de-especialidad">Café</a></li>
                        <li><a class="dropdown-item" routerLink="/productos-y-servicios/accesorios-para-poner-una-cafeteria">Accesorios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recetario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="cursos-para-baristas-y-talleres-para-cafeterias" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cursos y talleres
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/emprendiendo-mi-negocio-de-barra-de-cafe-y-cafeteria">Formación de emprendedores</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-arte-latte-nivel-basico">Arte Latte</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-experiencia-sensorial">Catación de la Semilla a lo Sensorial</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-mixologia-con-cafe-sin-alcohol">Mixología y moctelería</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-basico-de-tostado-de-cafe">Tostado</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-basico-para-baristas">Formación para un barista</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-bubble-tea-&-iced-coffee">Buble tea & iced coffee</a></li>
                        <li><a class="dropdown-item" routerLink="/taller-de-brew-bar">Brew bar & Cold Brew</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/donde-encontranos">¿Dónde encontrarnos?
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>