<div class="row">
    <aside class="bd-sidebar"> <!--menu accesorios-->
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a routerLink="" class="d-none navbar-brand fw-bold"><strong>Filtros</strong></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                    <span style="font-weight: bold;">Filtros</span>
                </button>
                <!-- OffCanvas main container start -->
                <section class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header" data-bs-theme="">
                        <h5 class="offcanvas-title" style="font-weight: bold;">accesorios</h5>
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                        <ul class="navbar-nav fs-5 justify-content-evenly">
                            <li class="nav-item p-3 py-md-1"><a
                                    routerLink="/productos-y-servicios/accesorios-para-cafeterias/jarabes"
                                    class="nav-link">Métodos de Extracción</a></li>
                            <li class="nav-item p-3 py-md-1"><a
                                    routerLink="/productos-y-servicios/accesorios-para-cafeterias/pures-y-concentrados"
                                    class="nav-link">Accesorios Para Cafetería</a></li>
                            <li class="nav-item p-3 py-md-1"><a
                                    routerLink="/productos-y-servicios/accesorios-para-cafeterias/moleculares"
                                    class="nav-link">Utensilios para Café</a></li>
                        </ul>
                    </div>
                </section>
                <!-- OffCanvas main container end -->
            </div>
        </nav>
    </aside>

    <router-outlet></router-outlet>

    <main class="col-lg-12 p-3 align-self-start" id="divTodosLosAccesorios">
        <div class="container">

            <div class="container text-center">
                <!-- Paginación con botones Anterior y Siguiente -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-between">
                        <li class="page-item">
                            <button class="page-link btn btn-outline-warning" (click)="paginaAnterior()">Anterior</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link btn btn-outline-warning" (click)="paginaSiguiente()">Siguiente</button>
                        </li>
                    </ul>
                </nav>

                <!-- <div class="row" *ngIf="showTodosLosaccesorios"> -->
                <div class="row">
                    <!-- Vista de lista -->
                    <div *ngFor="let accesorio of elementosPagina"
                        style="height: 420px !important; width: 250px !important;"
                        class="container d-flex flex-wrap justify-content-around">
                        <div class="card">
                            <div class="card-header d flex align-self-end" style="background-color: #E78352;">
                                <a *ngIf="accesorio.urlECommerce" [href]="accesorio.urlECommerce" style="color: white;"
                                    target="_blank" title="Comprar en e-commerce el producto {{accesorio.name}}"><i
                                        class="fas fa-shopping-cart"></i></a>
                            </div>

                            <img class="card-img-top" [src]="sanitizeUrl(accesorio.urlArticleFirst)" alt="{{accesorio.name}}"
                                title="{{accesorio.name}}" [ngClass]="{
                                    'botellas-torani': accesorio.keySap && accesorio.keySap.startsWith('IJA'),
                                    'botella-salsa': accesorio.category && accesorio.keySap.startsWith('PUR'),
                                  }">
                            <div class="card-body">
                                <p class="card-title" id="font-keySap"> {{ accesorio.keySap }}
                                <p>
                                <h3 class="card-text" style="font-size: 13px;"> {{ accesorio.name }}</h3>
                                <p class="d-none card-text">{{ accesorio.description }}</p>
                                <p></p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="/donde-encontranos" style="color: black; font-size: 12px;"> Encuentra tu
                                    sucursal
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                </a>
                                <!-- <a [routerLink]="['/', accesorio.keySap]">Ver más</a><br> -->
                            </div>

                        </div>
                    </div>

                    <div class="container text-center">
                        <p>Total de elementos: {{ elementosVisibles }} de {{ accesoriosArray.length }}</p>
                    </div>

                </div>

                <!-- Paginación con botones Anterior y Siguiente -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-between">
                        <li class="page-item">
                            <button class="page-link btn btn-outline-warning" (click)="paginaAnterior()">Anterior</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link btn btn-outline-warning" (click)="paginaSiguiente()">Siguiente</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>

</div>