<div class="row">
    <aside class="col-lg-2 p-4 align-self-stretch">
        <h4 class="text-center mb-3">Filtrar por Categoría</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="MetodoGoteoCheckbox"
                        [(ngModel)]="categorias.metodoGoteo">
                    <label class="form-check-label" for="jarabesCheckbox">Método de Goteo</label>
                </div>
                <!-- Submenú para Método de Goteo -->
                <ul class="submenu" *ngIf="categorias.metodoGoteo">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="filtrosCheckbox"
                                [(ngModel)]="subcategorias.metodoGoteo.filtros">
                            <label class="form-check-label" for="filtrosCheckbox">Filtros de papel para drippers</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="drippersCheckbox"
                                [(ngModel)]="subcategorias.metodoGoteo.drippers">
                            <label class="form-check-label" for="drippersCheckbox">Drippers</label>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="prensaFrancesaCheckbox"
                        [(ngModel)]="categorias.prensaFrancesa">
                    <label class="form-check-label" for="prensaFrancesaCheckbox">Prensas francesas</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="jarrasEspumadorasCheckbox"
                        [(ngModel)]="categorias.jarrasEspumadoras">
                    <label class="form-check-label" for="jarrasEspumadorasCheckbox">Jarras Espumadoras</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="tampersCheckbox"
                        [(ngModel)]="categorias.tampers">
                    <label class="form-check-label" for="tampersCheckbox">Tampers</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="molinosCheckbox"
                        [(ngModel)]="categorias.molinos">
                    <label class="form-check-label" for="molinosCheckbox">Molinos</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="catacionCheckbox"
                        [(ngModel)]="categorias.molinos">
                    <label class="form-check-label" for="catacionCheckbox">Material de catación</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="vasosCheckbox" [(ngModel)]="categorias.vasos">
                    <label class="form-check-label" for="vasosCheckbox">Vasos</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="cafeteríaCheckbox"
                        [(ngModel)]="categorias.cafeteria">
                    <label class="form-check-label" for="cafeteríaCheckbox">Cafetería</label>
                </div>
                <!-- Submenú para Cafetería -->
                <ul class="submenu" *ngIf="categorias.cafeteria">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="especierosCheckbox"
                                [(ngModel)]="subcategorias.cafeteria.especieros">
                            <label class="form-check-label" for="especierosCheckbox">Especieros</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tazasVidrioCheckbox"
                                [(ngModel)]="subcategorias.cafeteria.tazasVidrio">
                            <label class="form-check-label" for="tazasVidrioCheckbox">Tazas de Vidrio</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bagacerasCheckbox"
                                [(ngModel)]="subcategorias.cafeteria.bagaceras">
                            <label class="form-check-label" for="bagacerasCheckbox">Bagaceras</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sifonesCheckbox"
                                [(ngModel)]="subcategorias.cafeteria.sifones">
                            <label class="form-check-label" for="sifonesCheckbox">Sífones</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="elementosAuxiliaresCheckbox"
                                [(ngModel)]="subcategorias.cafeteria.elementosAuxiliares">
                            <label class="form-check-label" for="elementosAuxiliaresCheckbox">Elementos
                                Auxiliares</label>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metodosExtraccionCheckbox"
                        [(ngModel)]="categorias.metodosExtraccion">
                    <label class="form-check-label" for="metodosExtraccionCheckbox">Métodos de extracción</label>
                </div>
                <!-- Submenú para Métodos de Extracción -->
                <ul class="submenu" *ngIf="categorias.metodosExtraccion">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="metodosExtraccionCheckbox"
                                [(ngModel)]="subcategorias.metodosExtraccion.filtros">
                            <label class="form-check-label" for="metodosExtraccionCheckbox">Filtros para Métodos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="complementosMetodosExtraccionCheckbox"
                                [(ngModel)]="subcategorias.metodosExtraccion.complementosMetodos">
                            <label class="form-check-label" for="complementosMetodosExtraccionCheckbox">Complementos
                                para Métodos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                id="jarrasServidorasMetodosExtraccionCheckbox"
                                [(ngModel)]="subcategorias.metodosExtraccion.jarrasServidoras">
                            <label class="form-check-label" for="jarrasServidorasMetodosExtraccionCheckbox">Jarras
                                Servidoras</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="limpiezaMetodosCheckbox"
                                [(ngModel)]="subcategorias.metodosExtraccion.limpieza">
                            <label class="form-check-label" for="limpiezaMetodosCheckbox">Limpieza para Métodos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kitsParaPruebasCheckbox"
                                [(ngModel)]="subcategorias.metodosExtraccion.kitsParaPruebas">
                            <label class="form-check-label" for="kitsParaPruebasCheckbox">Kits para pruebas</label>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="tesYteterasCheckbox"
                        [(ngModel)]="categorias.tesYteteras">
                    <label class="form-check-label" for="tesYteterasCheckbox">Tés y teteras</label>
                </div>
            </li>
        </ul>
    </aside>

    <main class="col-lg-10 p-3 align-self-start">
        <!--Cards para todos los accesorios-->

        <!--Cards para Accesorios-->
        <div id="todos-los-drippers">
            <div class="scroll-horizontal-container my-5">
                <div class="row">
                    <div *ngFor="let accesorio of drippers" style="height: 500px !important; width: 250px !important;">
                        <div class="card">
                            <img class="card-img-top" [src]="sanitizeUrl(accesorio.urlArticleFirst)"
                                alt="Imagen del insumo" id="botellas">
                            <div class="card-body">
                                <h5 class="card-title my-2" style="font-weight: 700;">{{ accesorio.keySap }}</h5>
                                <p class="card-text"> {{ accesorio.name }}</p>
                                <p class="d-none card-text">{{ accesorio.description }}</p>
                            </div>
                            <div class="card-footer justify-content-right">
                                <a routerLink="#" style="color: black;"> Ver más
                                    <i class="fas fa-arrow-right" style="color: black;"></i>
                                    <!-- Icono de flecha hacia la derecha -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>